openapi: 3.0.3
info:
  description: |
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.

    В числе возможностей интеграции:

    * управление каталогом товаров и витриной,

    * обработка заказов,

    * изменение настроек магазина,

    * получение отчетов.
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
  title: Партнерский API Маркета
  version: LATEST
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
servers:
- url: https://api.partner.market.yandex.ru
security:
- OAuth:
  - market:partner-api
paths:
  /businesses/{businessId}/bids:
    put:
      description: |
        Запускает буст продаж — создает и включает кампанию, добавляет в нее товары и назначает на них ставки.

        {% cut "Как в кабинете выглядит кампания, созданная через API" %}

        ![](../../_images/api-boost.png)

        {% endcut %}

        При первом использовании запроса Маркет: создаст единую на все магазины бизнес-аккаунта кампанию, добавит в нее товары с указанными ставками, включит для них ценовую стратегию и запустит продвижение. Повторное использование запроса позволит обновить ставки на товары в этой кампании или добавить новые. Подробнее о ценовой стратегии читайте в [Справке Маркета для продавцов](https://yandex.ru/support/marketplace/marketing/campaigns.html#price-strategy).

        Если товара с указанным SKU нет, он будет проигнорирован. Если в будущем в каталоге появится товар с таким SKU, он автоматически будет добавлен в кампанию с указанной ставкой.

        Запрос всегда работает с одной и той же созданной через API кампанией. Если в кабинете удалить ее, при следующем выполнении запроса Маркет создаст новую. Другими кампаниями управлять через API не получится. У созданной через API кампании всегда наибольший приоритет над остальными — изменить его нельзя.

        Выполнение запроса включает кампанию и ценовую стратегию, если они были отключены.

        Внести другие изменения в созданную через API кампанию можно в кабинете:

        * выключить или включить кампанию;
        * изменить ее название;
        * выключить или включить ценовую стратегию.

        Чтобы остановить продвижение отдельных товаров и удалить их из кампании, передайте для них нулевую ставку в параметре `bid`.

        Подробнее о том, как работает буст продаж, читайте в [Справке Маркета для продавцов](https://yandex.ru/support/marketplace/marketing/campaigns.html).

        {% note info "𝓠 Как посмотреть расходы на буст продаж?" %}

        𝓐 Фактические расходы на буст указаны в отчете по заказам ([POST campaigns/{campaignId}/stats/orders](../../reference/stats/getOrdersStats.md)). Сумма содержится в поле `bidFee`.

        {% endnote %}

        В одном запросе может быть максимум 1500 товаров.

        |**⚙️ Лимит:** 1000 запросов в минуту|
        |-|
      operationId: put_bids_for_business
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutSkuBidsRequest'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: |
            Все получилось: ставки установлены или обновлены. Если нужно, добавлены новые товары и запущена кампания.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Включение буста продаж и установка ставок
      tags:
      - bids
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      x-openapi-router-controller: ympa_python_flask_server.controllers.bids_controller
  /businesses/{businessId}/bids/info:
    post:
      description: |
        Возвращает значения ставок для заданных товаров.

        {% note warning "" %}

        В ответе возвращаются значения только тех ставок, которые вы установили через запрос [PUT businesses/{businessId}/bids](../../reference/bids/putBidsForBusiness.md). Получить информацию по кампаниям, созданным в кабинете, не получится.

        {% endnote %}

        В одном запросе может быть максимум 1500 товаров.

        |**⚙️ Лимит:** 1000 запросов в минуту|
        |-|
      operationId: get_bids_info_for_business
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBidsInfoRequest'
        description: description
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBidsInfoResponse'
          description: "Значения ставок для заданных товаров. В ответ попадают тол\
            ько товары, на которые установлены ставки."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация об установленных ставках
      tags:
      - bids
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      - pricing:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.bids_controller
  /businesses/{businessId}/bids/recommendations:
    post:
      description: |
        Возвращает рекомендованные ставки для заданных товаров — такие ставки обеспечивают вашим предложениям определенную долю показов, если цена не превышает рекомендованную.

        Для одного товара может возвращаться одна рекомендованная ставка или несколько. Во втором случае разные ставки предназначены для достижения разной доли показов.

        Если товар только добавлен в каталог, но пока не продается, рекомендованной ставки для него не будет.

        В одном запросе может быть максимум 1500 товаров.

        |**⚙️ Лимит:** 1000 запросов в минуту|
        |-|
      operationId: get_bids_recommendations
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBidsRecommendationsRequest'
        description: description.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBidsRecommendationsResponse'
          description: Рекомендованные ставки для заданных товаров.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Рекомендованные ставки для заданных товаров
      tags:
      - bids
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      - pricing:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.bids_controller
  /businesses/{businessId}/chats:
    post:
      description: |
        Возвращает ваши чаты с покупателями.

        |**⚙️ Лимит:** 10000 запросов в час|
        |-|
      operationId: get_chats
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChatsRequest'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChatsResponse'
          description: |
            Список чатов.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Получение доступных чатов
      tags:
      - chats
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.chats_controller
  /businesses/{businessId}/chats/file/send:
    post:
      description: |
        Отправляет файл в чат с покупателем.

        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: send_file_to_chat
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор чата.
        in: query
        name: chatId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendFileToChatRequest'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: "Пустой ответ. Означает, что файл отправлен."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Отправка файла в чат
      tags:
      - chats
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.chats_controller
  /businesses/{businessId}/chats/history:
    post:
      description: |
        Возвращает историю сообщений в чате с покупателем.

        |**⚙️ Лимит:** 10000 запросов в час|
        |-|
      operationId: get_chat_history
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор чата.
        in: query
        name: chatId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChatHistoryRequest'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChatHistoryResponse'
          description: |
            История сообщений успешно получена.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Получение истории сообщений в чате
      tags:
      - chats
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.chats_controller
  /businesses/{businessId}/chats/message:
    post:
      description: |
        Отправляет сообщение в чат с покупателем.

        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: send_message_to_chat
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор чата.
        in: query
        name: chatId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageToChatRequest'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: "Пустой ответ. Означает, что сообщение отправлено."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Отправка сообщения в чат
      tags:
      - chats
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.chats_controller
  /businesses/{businessId}/chats/new:
    post:
      description: |
        Создает новый чат с покупателем.

        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: create_chat
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatResponse'
          description: |
            Все получилось: чат создан.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Создание нового чата с покупателем
      tags:
      - chats
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.chats_controller
  /businesses/{businessId}/goods-feedback:
    post:
      description: |
        Возвращает все отзывы о товарах продавца по указанным фильтрам.

        Результаты возвращаются постранично, одна страница содержит не более 20 отзывов.

        Отзывы расположены в порядке публикации, поэтому вы можете передавать определенный идентификатор страницы в `page_token`, если вы получали его ранее.

        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: get_goods_feedbacks
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGoodsFeedbackRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGoodsFeedbackResponse'
          description: Список отзывов.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Получение отзывов о товарах продавца
      tags:
      - goods-feedback
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.goods_feedback_controller
  /businesses/{businessId}/goods-feedback/comments:
    post:
      description: |
        Возвращает комментарии к отзыву.

        Результаты возвращаются постранично, одна страница содержит не более 20 комментариев.

        Комментарии расположены в порядке публикации, поэтому вы можете передавать определенный идентификатор страницы в `page_token`, если вы получали его ранее.

        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: get_goods_feedback_comments
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGoodsFeedbackCommentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGoodsFeedbackCommentsResponse'
          description: Дерево комментариев к отзыву.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Получение комментариев к отзыву
      tags:
      - goods-feedback
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.goods_feedback_controller
  /businesses/{businessId}/goods-feedback/comments/delete:
    post:
      description: |
        Удаляет комментарий магазина.

        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: delete_goods_feedback_comment
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGoodsFeedbackCommentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Пустой ответ.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление комментария к отзыву
      tags:
      - goods-feedback
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.goods_feedback_controller
  /businesses/{businessId}/goods-feedback/comments/update:
    post:
      description: |
        Добавляет новый комментарий магазина или изменяет комментарий, который магазин оставлял ранее.

        Для создания комментария к отзыву передайте только идентификатор отзыва `feedbackId`.

        Чтобы добавить комментарий к другому комментарию, передайте:

        * `feedbackId` — идентификатор отзыва;
        * `comment.parentId` — идентификатор родительского комментария.

        Чтобы изменить комментарий, передайте:

        * `feedbackId`— идентификатор отзыва;
        * `comment.id` — идентификатор комментария, который нужно изменить.

        Если передать одновременно `comment.parentId` и `comment.id`, будет изменен существующий комментарий.

        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: update_goods_feedback_comment
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGoodsFeedbackCommentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGoodsFeedbackCommentResponse'
          description: Информация о добавленном или измененном комментарии.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Добавление нового или изменение созданного комментария
      tags:
      - goods-feedback
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.goods_feedback_controller
  /businesses/{businessId}/goods-feedback/skip-reaction:
    post:
      description: |
        Пропускает отзывы — они больше не будут возвращаться в методе получения всех отзывов [POST businesses/{businessId}/goods-feedback](../../reference/goods-feedback/getGoodsFeedbacks.md).

        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: skip_goods_feedbacks_reaction
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipGoodsFeedbackReactionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Пустой ответ.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Отказ от ответа на отзывы
      tags:
      - goods-feedback
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - communication
      x-openapi-router-controller: ympa_python_flask_server.controllers.goods_feedback_controller
  /businesses/{businessId}/offer-cards:
    post:
      description: |
        Возвращает сведения о состоянии контента для заданных товаров:

        * создана ли карточка товара и в каком она статусе;
        * заполненность карточки в процентах;
        * переданные характеристики товаров;
        * есть ли ошибки или предупреждения, связанные с контентом;
        * рекомендации по заполнению карточки.

        |**⚙️ Лимит:** 600 запросов в минуту|
        |-|
      operationId: get_offer_cards_content_status
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOfferCardsContentStatusRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOfferCardsContentStatusResponse'
          description: Информация о карточках указанных товаров.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Получение информации о заполненности карточек магазина
      tags:
      - content
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      - offers-and-cards:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.content_controller
  /businesses/{businessId}/offer-cards/update:
    post:
      description: |
        Редактирует характеристики товара, которые специфичны для категории, к которой он относится.

        {% note warning "Здесь только то, что относится к конкретной категории" %}

        Если вам нужно изменить основные параметры товара (название, описание, изображения, видео, производитель, штрихкод), воспользуйтесь запросом [POST businesses/{businessId}/offer-mappings/update](../../reference/business-assortment/updateOfferMappings.md).

        {% endnote %}

        Чтобы удалить характеристики, которые заданы в параметрах с типом `string`, передайте пустое значение.

        {% note info "Данные в каталоге обновляются не мгновенно" %}

        Это занимает до нескольких минут.

        {% endnote %}

        |**⚙️ Лимит:** 5000 товаров в минуту|
        |-|
      operationId: update_offer_content
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferContentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOfferContentResponse'
          description: |
            Запрос выполнен корректно, данные обработаны.

            {% note warning "Ответ 200 сам по себе не значит, что переданные значения корректны" %}

            Обязательно посмотрите детали ответа: `status` и перечень ошибок, если он есть.

            Даже если ошибка допущена в характеристиках всего одного товара, никакие изменения из запроса в каталог не попадут.

            {% endnote %}

            Если в `status` вернулось `ERROR`, убедитесь, что:

            * все обязательные характеристики заполнены;
            * характеристики действительно существуют в указанных категориях;
            * значения соответствуют характеристикам;
            * ваши собственные значения имеют нужный тип данных.

            Найти проблемы помогут поля `errors` и `warnings`.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Редактирование категорийных характеристик товара
      tags:
      - content
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      x-openapi-router-controller: ympa_python_flask_server.controllers.content_controller
  /businesses/{businessId}/offer-mappings:
    post:
      description: |
        Возвращает список товаров в каталоге, их категории на Маркете и характеристики каждого товара.

        Можно использовать тремя способами:
        * задать список интересующих SKU;
        * задать фильтр — в этом случае результаты возвращаются постранично;
        * не передавать тело запроса, чтобы получить список всех товаров в каталоге.

        |**⚙️ Лимит:** 600 запросов в минуту, не более 200 товаров в одном запросе|
        |-|
      operationId: get_offer_mappings
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOfferMappingsRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOfferMappingsResponse'
          description: Информация о товарах в каталоге.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о товарах в каталоге
      tags:
      - business-offer-mappings
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      - offers-and-cards:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.business_offer_mappings_controller
  /businesses/{businessId}/offer-mappings/archive:
    post:
      description: |
        Помещает товары в архив. Товары, помещенные в архив, скрыты с витрины во всех магазинах кабинета.

        {% note warning "В архив нельзя отправить товар, который хранится на складе Маркета" %}

        Вначале такой товар нужно распродать или вывезти.

        {% endnote %}

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 200 товаров в одном запросе|
        |-|
      operationId: add_offers_to_archive
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOffersToArchiveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOffersToArchiveResponse'
          description: |
            Если некоторые товары добавить в архив не удалось, в ответе 200 будет их список.

            Список успешно добавленных товаров не возвращается.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Добавление товаров в архив
      tags:
      - business-offer-mappings
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      x-openapi-router-controller: ympa_python_flask_server.controllers.business_offer_mappings_controller
  /businesses/{businessId}/offer-mappings/delete:
    post:
      description: |
        Удаляет товары из каталога.

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 200 товаров в одном запросе|
        |-|
      operationId: delete_offers
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOffersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOffersResponse'
          description: "Если удалось удалить не все товары, с ответом 200 вернется\
            \ список тех, что были в запросе, но остались в магазине."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товаров из каталога
      tags:
      - business-offer-mappings
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      x-openapi-router-controller: ympa_python_flask_server.controllers.business_offer_mappings_controller
  /businesses/{businessId}/offer-mappings/suggestions:
    post:
      description: |
        Возвращает идентификаторы карточек на Маркете, которые соответствуют товарам с заданными параметрами.

        Пользоваться этим запросом необязательно: он просто помогает заранее убедиться, что Маркет верно определяет карточки по предоставленным вами данным.

        **Как пользоваться запросом**

        1. Передайте Маркету список товаров, которые нужно проверить.
        2. В ответ вы получите список SKU на Маркете с расшифровкой: названием, идентификатором модели, категорией.
        3. Если расшифровки мало, вы можете открыть карточку. Для этого перейдите по ссылке вида `https://market.yandex.ru/product/<marketModelId>?sku=<marketSku>`.
        4. Если карточка соответствует товару, значит его можно добавлять в каталог с теми данными, что вы указали. Если карточка определилась неправильно — проверьте данные о товаре. Возможно, их нужно уточнить или дополнить. Кроме того, на этапе добавления товара вы можете указать `marketSKU`, который ему подходит по вашему мнению.

        {% note info "𝓠 Как определить `marketSku` товара, найденного на Маркете?" %}

        𝓐 Он есть в адресе страницы товара — расположен после `sku=`.

        Например, `https://market.yandex.ru/product--yandex-kniga/484830016?sku=484830016`

        {% endnote %}

        |**⚙️ Лимит:** 100 000 товаров в час|
        |-|
      operationId: get_suggested_offer_mappings
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSuggestedOfferMappingsRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSuggestedOfferMappingsResponse'
          description: |
            Подобранные карточки на Маркете.

            По результатам проверки товара полученная через этот запрос карточка может быть заменена на другую.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Просмотр карточек на Маркете, которые подходят вашим товарам"
      tags:
      - business-offer-mappings
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      - offers-and-cards:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.business_offer_mappings_controller
  /businesses/{businessId}/offer-mappings/unarchive:
    post:
      description: |
        Восстанавливает товары из архива.

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 200 товаров в одном запросе|
        |-|
      operationId: delete_offers_from_archive
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOffersFromArchiveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOffersFromArchiveResponse'
          description: |
            Если некоторые товары восстановить из архива не удалось, в ответе 200 будет их список.

            Список успешно восстановленных товаров не возвращается.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товаров из архива
      tags:
      - business-offer-mappings
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      x-openapi-router-controller: ympa_python_flask_server.controllers.business_offer_mappings_controller
  /businesses/{businessId}/offer-mappings/update:
    post:
      description: |
        Добавляет товары в каталог, передает их категории на Маркете и характеристики, необходимые для этих категории. Также редактирует информацию об уже имеющихся товарах.

        Список категорий Маркета можно получить с помощью запроса [POST categories/tree](../../reference/categories/getCategoriesTree.md), а характеристики товаров по категориям с помощью [POST category/{categoryId}/parameters](../../reference/content/getCategoryContentParameters.md).

        Чтобы **добавить новый товар**, передайте его с новым идентификатором, который раньше никогда не использовался в каталоге. Старайтесь сразу передать как можно больше информации — она потребуется Маркету для подбора подходящей карточки или создания новой. Если известно, какой карточке на Маркете соответствует товар, можно сразу указать идентификатор этой карточки (**SKU на Маркете**) в поле `marketSKU`.

        Для **новых товаров** обязательно укажите параметры: `offerId`, `name`, `marketCategoryId` или `category`, `pictures`, `vendor`, `description`.

        Чтобы **отредактировать информацию о товаре**, передайте новые данные, указав в `offerId` соответствующий **ваш SKU**. Поля, в которых ничего не меняется, можно не передавать.

        Чтобы **удалить характеристики**, которые заданы в параметрах с типом `string`, передайте пустое значение.

        Параметр `offerId` должен быть **уникальным** для всех товаров, которые вы передаете.

        {% note warning "Правила использования SKU" %}

        * У каждого товара SKU должен быть свой.

        * SKU товара нельзя менять — можно только удалить товар и добавить заново с новым SKU.

        * Уже заданный SKU нельзя освободить и использовать заново для другого товара. Каждый товар должен получать новый идентификатор, до того никогда не использовавшийся в вашем каталоге.

        {% endnote %}

        {% note info "Данные в каталоге обновляются не мгновенно" %}

        Это занимает до нескольких минут.

        {% endnote %}

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 500 товаров в одном запросе|
        |-|
      operationId: update_offer_mappings
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferMappingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOfferMappingsResponse'
          description: |
            Все обязательные поля товаров заполнены, поэтому новые товары и внесенные изменения сохранены в каталоге.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Добавление товаров в каталог и изменение информации о них
      tags:
      - business-offer-mappings
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      x-openapi-router-controller: ympa_python_flask_server.controllers.business_offer_mappings_controller
  /businesses/{businessId}/offer-prices/updates:
    post:
      description: |
        Устанавливает [базовые цены](*default-price). Чтобы получить рекомендации Маркета, касающиеся цен, выполните запрос [POST businesses/{businessId}/offers/recommendations](../../reference/business-assortment/getOfferRecommendations.md).

        {% note info "Данные в каталоге обновляются не мгновенно" %}

        Это занимает до нескольких минут.

        {% endnote %}

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 500 товаров в одном запросе|
        |-|
      operationId: update_business_prices
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessPricesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Маркет принял информацию о новых ценах.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Установка цен на товары во всех магазинах
      tags:
      - prices
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      x-openapi-router-controller: ympa_python_flask_server.controllers.prices_controller
  /businesses/{businessId}/offers/recommendations:
    post:
      description: |
        Метод возвращает рекомендации нескольких типов.

        **1. Порог для привлекательной цены. Он нужен для участия в софинансировании скидок.**

        Показывает, какие **цены для участия** нужно установить, чтобы получить максимальные шансы на срабатывание скидок, софинансируемых Маркетом. [Как это устроено](https://yandex.ru/support/marketplace/marketing/smart-pricing.html#sponsored-discounts)

        **2. Оценка привлекательности цен на витрине.**

        Привлекательность влияет на вероятность срабатывания скидок за счет Маркета. [Как это устроено](https://yandex.ru/support/marketplace/marketing/smart-pricing.html#validation)

        В запросе можно использовать фильтры.

        Результаты возвращаются постранично.

        |**⚙️ Лимит:** 100 запросов в минуту|
        |-|
      operationId: get_offer_recommendations
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOfferRecommendationsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOfferRecommendationsResponse'
          description: Список товаров с рекомендациями.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Рекомендации Маркета, касающиеся цен"
      tags:
      - offers
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.offers_controller
  /businesses/{businessId}/price-quarantine:
    post:
      description: |
        Возвращает список товаров, которые находятся в карантине по **основной цене**. Основная цена задается в каталоге и действует во всех магазинах кабинета.

        Проверьте цену каждого из товаров, который попал в карантин. Если ошибки нет и цена правильная, подтвердите ее с помощью запроса [POST businesses/{businessId}/price-quarantine/confirm](../../reference/business-assortment/confirmBusinessPrices.md). Если цена в самом деле ошибочная, установите верную с помощью запроса [POST businesses/{businessId}/offer-prices/updates](../../reference/business-assortment/updateBusinessPrices.md).

        {% note info "𝓠 Что такое карантин?" %}

        𝓐 Товар попадает в карантин, если его цена меняется слишком резко или слишком сильно отличается от рыночной. [Подробнее](https://yandex.ru/support/marketplace/assortment/operations/prices.html#quarantine)

        {% endnote %}

        В запросе можно использовать фильтры.

        Результаты возвращаются постранично.

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 500 товаров в одном запросе|
        |-|
      operationId: get_business_quarantine_offers
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQuarantineOffersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuarantineOffersResponse'
          description: Список товаров в карантине.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Список товаров, находящихся в карантине по цене в кабинете"
      tags:
      - price-quarantine
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      - pricing:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.price_quarantine_controller
  /businesses/{businessId}/price-quarantine/confirm:
    post:
      description: |
        Подтверждает основную цену на товары, которые попали в карантин, и удаляет их из карантина.

        Основная цена задается в каталоге и действует во всех магазинах кабинета.

        Товар попадает в карантин, если его цена меняется слишком резко. [Как настроить карантин](https://yandex.ru/support/marketplace/assortment/operations/prices.html#quarantine)

        Чтобы увидеть список товаров, которые попали в карантин, используйте запрос [POST businesses/{businessId}/price-quarantine](getBusinessQuarantineOffers.md).

        |**⚙️ Лимит:** 5000 товаров в минуту, не более 200 товаров в одном запросе|
        |-|
      operationId: confirm_business_prices
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPricesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: "Ответ 200 обозначает, что цены подтверждены."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLockedErrorResponse'
          description: К ресурсу нельзя применить указанный метод.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товара из карантина по цене в кабинете
      tags:
      - price-quarantine
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      x-openapi-router-controller: ympa_python_flask_server.controllers.price_quarantine_controller
  /businesses/{businessId}/promos:
    post:
      description: |
        Возвращает информацию об акциях Маркета.

        По умолчанию возвращаются акции, в которых продавец участвует или может принять участие.

        Чтобы получить текущие или завершенные акции, передайте параметр `participation`.

        Типы акций, которые возвращаются в ответе:

        * прямая скидка;
        * флеш-акция;
        * скидка по промокоду.

        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: get_promos
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPromosRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPromosResponse'
          description: Список акций Маркета.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Получение списка акций
      tags:
      - promos
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - promotion
      - promotion:read-only
      - pricing
      - pricing:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.promos_controller
  /businesses/{businessId}/promos/offers:
    post:
      description: |
        Возвращает список товаров, которые участвуют или могут участвовать в акции.

        {% note warning %}

        В параметре `limit` не передавайте значение больше 500.

        {% endnote %}

        |**⚙️ Лимит:** 10000 запросов в час|
        |-|
      operationId: get_promo_offers
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPromoOffersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPromoOffersResponse'
          description: "Список товаров, которые участвуют или могут участвовать в\
            \ акции."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Получение списка товаров, которые участвуют или могут участвовать\
        \ в акции"
      tags:
      - promos
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      - pricing:read-only
      x-openapi-router-controller: ympa_python_flask_server.controllers.promos_controller
  /businesses/{businessId}/promos/offers/delete:
    post:
      description: |
        Убирает товары из акции.

        Изменения начинают действовать в течение 4–6 часов.

        |**⚙️ Лимит:** 10000 запросов в час|
        |-|
      operationId: delete_promo_offers
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePromoOffersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePromoOffersResponse'
          description: Результат удаления товаров из акции.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товаров из акции
      tags:
      - promos
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - pricing
      x-openapi-router-controller: ympa_python_flask_server.controllers.promos_controller
  /businesses/{businessId}/promos/offers/update:
    post:
      description: |
[...]
