openapi: 3.0.3
info:
  description: |
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.

    В числе возможностей интеграции:

    * управление каталогом товаров и витриной,

    * обработка заказов,

    * изменение настроек магазина,

    * получение отчетов.
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
  title: Партнерский API Маркета
  version: LATEST
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
servers:
- url: https://api.partner.market.yandex.ru
security:
- OAuth:
  - market:partner-api
paths:
  /businesses/{businessId}/settings:
    post:
      description: |
        Возвращает информацию о настройках кабинета, идентификатор которого указан в запросе.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getBusinessSettings
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessSettingsResponse'
          description: Настройки кабинета.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Настройки кабинета
      tags:
      - businesses
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - settings
      - finance-and-accounting
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      - inventory-and-orders
      - inventory-and-orders:read-only
      - promotion
      - promotion:read-only
      - communication
  /campaigns:
    get:
      description: |
        Возвращает список магазинов, к которым имеет доступ пользователь — владелец авторизационного токена, использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaigns
      parameters:
      - description: |
          Номер страницы результатов.

          Значение по умолчанию: 1.

          Используется вместе с параметром `page_size`.

          `page_number` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
      - description: |
          Размер страницы.

          Используется вместе с параметром `page_number`.

          `page_size` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
          description: Магазины пользователя.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Список магазинов пользователя
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      x-auth-scopes:
      - all-methods
      - settings
      - finance-and-accounting
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      - inventory-and-orders
      - inventory-and-orders:read-only
      - promotion
      - promotion:read-only
      - communication
  /campaigns/{campaignId}:
    get:
      description: |
        Возвращает информацию о магазине.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaign
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
          description: Информация о магазине.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о магазине
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      x-auth-scopes:
      - all-methods
      - settings
      - finance-and-accounting
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      - inventory-and-orders
      - inventory-and-orders:read-only
      - promotion
      - promotion:read-only
      - communication
  /campaigns/{campaignId}/logins:
    get:
      description: |
        Возвращает список логинов, у которых есть доступ к магазину.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaignLogins
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignLoginsResponse'
          description: "Список логинов, связанных с магазином."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Логины, связанные с магазином"
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      x-auth-scopes:
      - all-methods
      - settings
      - finance-and-accounting
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      - inventory-and-orders
      - inventory-and-orders:read-only
      - promotion
      - promotion:read-only
      - communication
  /campaigns/{campaignId}/settings:
    get:
      description: |
        Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaignSettings
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignSettingsResponse'
          description: Настройки магазина.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Настройки магазина
      tags:
      - campaigns
      - dbs
      - fbs
      - express
      - fby
      x-auth-scopes:
      - all-methods
      - settings
      - finance-and-accounting
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      - inventory-and-orders
      - inventory-and-orders:read-only
      - promotion
      - promotion:read-only
      - communication
  /campaigns/by_login/{login}:
    get:
      description: |
        Возвращает список магазинов, к которым у пользователя с указанным логином есть доступ.
        |**⚙️ Лимит:** 100 запросов в час|
        |-|
      operationId: getCampaignsByLogin
      parameters:
      - description: Логин пользователя.
        in: path
        name: login
        required: true
        schema:
          type: string
      - description: |
          Номер страницы результатов.

          Значение по умолчанию: 1.

          Используется вместе с параметром `page_size`.

          `page_number` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
      - description: |
          Размер страницы.

          Используется вместе с параметром `page_number`.

          `page_size` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
          description: Информация о магазинах.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Магазины, доступные логину"
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      x-auth-scopes:
      - all-methods
      - settings
      - finance-and-accounting
      - offers-and-cards
      - offers-and-cards:read-only
      - pricing
      - pricing:read-only
      - inventory-and-orders
      - inventory-and-orders:read-only
      - promotion
      - promotion:read-only
      - communication
  /campaigns/{campaignId}/region:
    get:
      deprecated: true
      description: |
        {% note warning "" %}

        Этот метод устарел. Вместо него используйте [GET campaigns/{campaignId}/settings](../../reference/campaigns/getCampaignSettings.md).

        {% endnote %}

        Возвращает регион, в котором находится магазин.
        |**⚙️ Лимит:** 5 000 запросов в час|
        |-|
      operationId: getCampaignRegion
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignRegionResponse'
          description: |
            Возвращает регион, в котором находится магазин.

            |**⚙️ Лимит:** 1000 запросов в час|
            |-|
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Регион магазина
      tags:
      - campaigns
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - settings
  /campaigns/{campaignId}/orders/{orderId}:
    get:
      description: |
        Возвращает информацию о заказе.

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: getOrder
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
          description: Информация о заказе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация об одном заказе
      tags:
      - orders
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
      - inventory-and-orders:read-only
      - communication
      - finance-and-accounting
  /campaigns/{campaignId}/orders:
    get:
      description: |
        Возвращает информацию о заказах. Запрос можно использовать, чтобы узнать, нет ли новых заказов.

        Доступна фильтрация по нескольким характеристикам заказов:

        * дате оформления;

        * статусу;

        * идентификаторам заказов;

        * этапу обработки или причине отмены;

        * типу (настоящий или тестовый);

        * дате отгрузки в службу доставки;

        * дате и времени обновления заказа.

        Информация о заказах, доставленных или отмененных больше 30 дней назад, не возвращается. Ее можно получить с помощью запроса информации об отдельном заказе [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md) (если у вас есть идентификатор заказа) или запроса отчета по заказам [POST campaigns/{campaignId}/stats/orders](../../reference/stats/getOrdersStats.md).

        Максимальный диапазон дат за один запрос к ресурсу — 30 дней. Максимальное количество заказов в выходных данных запроса — 50.

        Результаты возвращаются постранично. Для навигации по страницам используйте параметры `page_token` и `limit`.

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: getOrders
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Фильтрация заказов по идентификаторам.
          <br><br>
          ⚠️ Не используйте это поле одновременно с другими фильтрами. Если вы хотите воспользоваться ими, оставьте поле пустым.
        in: query
        name: orderIds
        required: false
        schema:
          items:
            format: int64
            maxItems: 50
            minItems: 1
            type: integer
          type: array
      - description: |
          Статус заказа:

          * `CANCELLED` — заказ отменен.

          * `DELIVERED` — заказ получен покупателем.

          * `DELIVERY` — заказ передан в службу доставки.

          * `PICKUP` — заказ доставлен в пункт самовывоза.

          * `PROCESSING` — заказ находится в обработке.

          * `UNPAID` — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).

          Также могут возвращаться другие значения. Обрабатывать их не требуется.
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/OrderStatusType'
          type: array
          uniqueItems: true
      - description: |
          Этап обработки заказа (если он имеет статус `PROCESSING`) или причина отмены заказа (если он имеет статус `CANCELLED`).

          Возможные значения для заказа в статусе `PROCESSING`:

          * `STARTED` — заказ подтвержден, его можно начать обрабатывать.
          * `READY_TO_SHIP` — заказ собран и готов к отправке.
          * `SHIPPED` — заказ передан службе доставки.

          Возможные значения для заказа в статусе `CANCELLED`:

          * `DELIVERY_SERVICE_UNDELIVERED` — служба доставки не смогла доставить заказ.

          * `PROCESSING_EXPIRED` — значение более не используется.

          * `REPLACING_ORDER` — покупатель решил заменить товар другим по собственной инициативе.

          * `RESERVATION_EXPIRED` — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.

          * `RESERVATION_FAILED` — Маркет не может продолжить дальнейшую обработку заказа.

          * `SHOP_FAILED` — магазин не может выполнить заказ.

          * `USER_CHANGED_MIND` — покупатель отменил заказ по личным причинам.

          * `USER_NOT_PAID` — покупатель не оплатил заказ (для типа оплаты `PREPAID`) в течение 30 минут.

          * `USER_REFUSED_DELIVERY` — покупателя не устроили условия доставки.

          * `USER_REFUSED_PRODUCT` — покупателю не подошел товар.

          * `USER_REFUSED_QUALITY` — покупателя не устроило качество товара.

          * `USER_UNREACHABLE` — не удалось связаться с покупателем. Для отмены с этой причиной необходимо выполнить условия:

            * не менее 3 звонков с 8 до 21 в часовом поясе покупателя;
            * перерыв между первым и третьим звонком не менее 90 минут;
            * соединение не короче 5 секунд.

            Если хотя бы одно из этих условий не выполнено (кроме случая, когда номер недоступен), отменить заказ не получится. Вернется ответ с кодом ошибки 400.
          * `USER_WANTS_TO_CHANGE_DELIVERY_DATE` — покупатель хочет получить заказ в другой день.
          * `CANCELLED_COURIER_NOT_FOUND` — не удалось найти курьера.

          Также могут возвращаться другие значения. Обрабатывать их не требуется.
        in: query
        name: substatus
        required: false
        schema:
          items:
            $ref: '#/components/schemas/OrderSubstatusType'
          type: array
          uniqueItems: true
      - description: |
          Начальная дата для фильтрации заказов по дате оформления.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `toDate`) должно быть не больше 30 дней.

          Значение по умолчанию: 30 дней назад от текущей даты.
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате оформления.

          Показываются заказы, созданные до 00:00 указанного дня.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `fromDate`) и конечной датой должно быть не больше 30 дней.

          Значение по умолчанию: текущая дата.
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `supplierShipmentDateTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        in: query
        name: supplierShipmentDateFrom
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `supplierShipmentDateFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.
        in: query
        name: supplierShipmentDateTo
        required: false
        schema:
          format: date
          type: string
      - description: |
          Начальная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной и конечной датой (параметр `updatedAtTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        in: query
        name: updatedAtFrom
        required: false
        schema:
          format: date-time
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной (параметр `updatedAtFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.
        in: query
        name: updatedAtTo
        required: false
        schema:
          format: date-time
          type: string
      - description: Способ отгрузки
        in: query
        name: dispatchType
        required: false
        schema:
          $ref: '#/components/schemas/OrderDeliveryDispatchType'
      - description: |
          Фильтрация заказов по типам:

          * `false` — настоящий заказ покупателя.

          * `true` — [тестовый](../../pushapi/concepts/sandbox.md) заказ Маркета.
        in: query
        name: fake
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Нужно ли вернуть только те заказы, в составе которых есть хотя бы один товар с кодом идентификации [в системе «Честный ЗНАК»](https://честныйзнак.рф/):

          * `true` — да.

          * `false` — нет.

          Такие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям.
        in: query
        name: hasCis
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          **Только для модели DBS**

          Фильтрация заказов по наличию запросов покупателей на отмену.

          При значение `true` возвращаются только заказы, которые находятся в статусе `DELIVERY` или `PICKUP` и которые пользователи решили отменить.

          Чтобы подтвердить или отклонить отмену, отправьте запрос [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation).
        in: query
        name: onlyWaitingForCancellationApprove
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:

          * `true` — возвращаются только заказы с неподтвержденной датой доставки.
          * `false` — фильтрация не применяется.
        in: query
        name: onlyEstimatedDelivery
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Фильтрация заказов по типу покупателя.
        in: query
        name: buyerType
        required: false
        schema:
          $ref: '#/components/schemas/OrderBuyerType'
      - description: |
          Номер страницы результатов.

          Значение по умолчанию: 1.

          Используется вместе с параметром `page_size`.

          `page_number` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
      - description: |
          Размер страницы.

          Используется вместе с параметром `page_number`.

          `page_size` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
          description: Информация о заказах.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о нескольких заказах
      tags:
      - orders
      - fbs
      - dbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
      - inventory-and-orders:read-only
      - communication
      - finance-and-accounting
  /campaigns/{campaignId}/orders/{orderId}/identifiers:
    put:
      description: |
        {% note warning "Этот запрос только для DBS" %}

        Если вы работаете по модели FBS, пользуйтесь [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Передает Маркету коды маркировки для единиц товара в указанном заказе.

        Принимаются коды следующих типов:

        * Коды «Честного знака».
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        {% note warning %}

        Прежде чем работать с этим методом, обязательно прочтите [статью о работе с маркируемыми товарами](https://yandex.ru/support/marketplace/orders/cz.html).

        {% endnote %}

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: provideOrderItemIdentifiers
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderItemIdentifiersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvideOrderItemIdentifiersResponse'
          description: "Ответ 200 обозначает, что коды успешно записались. Ответ с\
            одержит краткие сведения о промаркированных товарах."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача кодов маркировки единиц товара
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/items:
    put:
      description: |
        {% note warning "Этот запрос только для DBS" %}

        Если вы работаете по модели FBS, пользуйтесь [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Изменяет состав заказа, если позволяет выбранная служба доставки, в случаях:

        * покупатель уменьшил количество товара;
        * магазин не может поставить все товары в заказе.

        Для этого заказ должен находится в статусе `"status": "PROCESSING"` этапа обработки `"substatus": "STARTED"`. После передачи статуса `"substatus": "READY_TO_SHIP"` изменить состав невозможно.

        Если одинаковых товаров несколько, для уменьшения количества передайте обновленное значение в атрибуте `count` параметра `item`.

        Чтобы полностью удалить товар из заказа:

        * передайте значение `0`; или
        * не передавайте параметр `item`.

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        Если необходимо удалить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        {% note info "Увеличить заказ нельзя" %}

        С помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.

        {% endnote %}

        **Возврат денег покупателю**

        Если покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:

        * при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;

        * при оплате через Apple Pay или Google Pay — с момента, когда магазин удалит товар из заказа.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderItems
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderItemRequest'
        required: true
      responses:
        "200":
          description: Маркет успешно обработал ваш запрос. Выходные данные не ожидаются.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товара из заказа или уменьшение числа единиц
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/status:
    put:
      description: |
        Изменяет статус заказа. Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderStatus
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusResponse'
          description: В случае успешного изменения статуса заказа возвращается обновленная
            информация о заказе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение статуса одного заказа
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/status-update:
    post:
      description: |
        Изменяет статусы нескольких заказов.

        Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"`и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        Максимальное количество заказов, у которых можно изменить статус в одном запросе, — 30.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderStatuses
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusesResponse'
          description: Возвращается информация об обновленных статусах заказов.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение статусов нескольких заказов
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    put:
      description: |
        {% note warning "Этот запрос только для DBS" %}

        Если вы работаете по модели FBS, пользуйтесь [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Отгружаемый Маркету заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых мест.

        Количество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой инструкции](../../step-by-step/fbs.md).

        Метод устроен немного нестандартно: количество задается длиной массива пустых объектов.

        Раньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу, работают, но лучше делать по-новому.

        {% cut "Как было раньше" %}

        Структура тела PUT-запроса:

        ```
        {
          "boxes":
          [
            {
              "fulfilmentId": "{string}",
              "weight": {int64},
              "width": {int64},
              "height": {int64},
              "depth": {int64},
              "items":
              [
                {
                  "id": {int64},
                  "count": {int32}
                },
                ...
              ]
            },
            ...
          ]
        }
        ```
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `boxes`       |           | Список грузовых мест.       |

        **Параметры, вложенные в `boxes`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `fulfilmentId`       |  String   | Идентификатор грузового места в информационной системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |
        | `weight`       | Int64        | Масса брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |
        | `width`       | Int64   | Ширина грузового места в сантиметрах.       |
        | `height`       | Int64   | Высота грузового места в сантиметрах.       |
        | `depth`       | Int64   | Глубина грузового места в сантиметрах.        |
        | `items`       | Int64   | Список товаров в грузовом месте.       |

        **Параметры, вложенные в `items`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `id`       | Int64     | Идентификатор товара в рамках заказа.   |
        | `count`    | Int32     | Количество единиц товара в грузовом месте.       |

        {% endcut %}

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderShipmentBoxes
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Параметр больше не используется. Вставьте любое число — просто чтобы получился корректный URL.
        in: path
        name: shipmentId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderShipmentBoxesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderShipmentBoxesResponse'
          description: "Имеет значение только тип ответа. Если ответ `ОК`, количес\
            тво грузомест записано."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача количества грузовых мест в заказе
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    put:
      description: |
        Подтверждает или отклоняет запрос покупателя на отмену заказа, который передан службе доставки.

        Покупатель может отменить заказ в течение его обработки или доставки. Если заказ еще обрабатывается (имеет статус PROCESSING), вам не нужно подтверждать отмену заказа — он будет отменен автоматически.

        Если заказ уже передан службе доставки (принимает статус `DELIVERY` или `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов. Если служба доставки узнала об отмене до передачи заказа покупателю, подтвердите отмену с помощью запроса [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation.md). Если заказ уже доставлен, отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги за него возвращаться не будут.

        Чтобы узнать, какие заказы были отменены в статусе `DELIVERY` или `PICKUP`, отправьте запрос [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md). В его URL добавьте входной параметр `onlyWaitingForCancellationApprove=true`. Вы также можете узнать об отмененных заказах в кабинете или через почту — на нее придет уведомление об отмене.

        Если в течение 48 часов вы не подтвердите или отклоните отмену, заказ будет отменен автоматически.

        |**⚙️ Лимит:** 500 запросов в час|
        |-|
      operationId: acceptOrderCancellation
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptOrderCancellationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Ответ на отмену заказа был успешно передан.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Отмена заказа покупателем
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    post:
      description: |
        Передает ключи цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами и инструкциями по активации, а также переведет заказ в финальный статус `DELIVERED`.

        Ключ нужно передать в течение 30 минут после перехода заказа в статус `PROCESSING`.

        Если в один заказ входят несколько ключей, передавайте их все в одном запросе.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: provideOrderDigitalCodes
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderDigitalCodesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Пустой ответ.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача ключей цифровых товаров
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/boxes:
    put:
      description: |
        {% note tip "Подходит и для DBS" %}

        Запрос предназначен для работы с FBS-заказами, но вы можете использовать его для обработки DBS-заказов, если это удобно.

        {% endnote %}

        Позволяет выполнить три операции:

        * передать Маркету информацию о распределении товаров по коробкам;
        * передать Маркету коды маркировки для товаров;
        * удалить товар из заказа, если его не оказалось на складе.

        Если нужно что-то поправить в переданных данных, просто повторите запрос — это можно делать сколько угодно раз до перевода заказа в статус **Готов к отгрузке**. ⚠️ Если вы меняете раскладку уже после печати и расклейки ярлыков, не забудье перепечатать их и наклеить заново.

        ## Как передать информацию о распределении товаров

        В этом запросе вам нужно передать Маркету список коробок и указать, какие именно товары лежат в каждой из них. Коробки могут быть двух типов:

        * **Содержащие товары целиком.** Такая коробка может содержать сколько угодно единиц любых товаров.

        * **Содержащие часть товара.** Такие коробки содержат по одной части одного товара. Например, одна содержит внешний блок кондиционера, а другая — внутренний блок.

        ⚠️ Одна коробка не может содержать и товары целиком, и части товаров.

        ## Как передавать коды маркировки

        Если в заказе есть товары, подлежащие маркировке, в запросе нужно передать соответствующие уникальные коды. [Что такое маркировка?](https://yandex.ru/support/marketplace/orders/cz.html)

        Принимаются коды следующих типов:

        * Коды «Честного знака».
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        Если товар едет в нескольких коробках, код маркировки нужно передать для каждой из них.

        ## Как удалить товар из заказа

        Чтобы удалить товар из заказа:

        1. Добавьте в запрос `allowRemove: true`.
        2. Передайте распределение по коробкам без товара, который нужно удалить.

        {% note warning "Удаление нельзя отменить" %}

        Эта операция необратима: покупатель сразу получит уведомление, а состав заказа изменится.

        {% endnote %}

        Чтобы удалить позицию целиком, не передавайте соответствующий `OrderBoxLayoutItemDTO`. Чтобы уменьшить количество товара, передайте уменьшенное значение в поле `fullCount`.

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        Если вы не можете отгрузить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        {% note info "Увеличить заказ нельзя" %}

        С помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.

        {% endnote %}

        ## Примеры

        {% cut "Товар умещается в коробку" %}

        Вот как будет выглядеть запрос, если в одной коробке едут:

          * три единицы одного товара, требующего маркировки;
          * одна единица другого товара, не требущего маркировки.

          ```json
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "fullCount": 3,
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  },
                                  {
                                      "cis": "010304109478gftJ14545762!\u001dhGt264"
                                  },
                                  {
                                      "cis": "010304109478fRs28323ks23!\u001dhet201"
                                  }
                              ]
                          },
                          {
                              "id": 654321,
                              "fullCount": 1
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        {% cut "Товар едет в разных коробках" %}

        Вот как будет выглядеть запрос, если товар едет в двух коробках:

          ```json
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        {% cut "Одинаковые товары, где каждый едет в нескольких коробках" %}

        Вот как будет выглядеть запрос, если каждый из двух одинаковых товаров едет в двух коробках:

          ```json
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderBoxLayout
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderBoxLayoutRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderBoxLayoutResponse'
          description: |
            В ответ придет переданная раскладка с идентификаторами коробок — они понадобятся для запроса ярлыков.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Подготовка заказа
      tags:
      - orders
      - fbs
      - express
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/delivery/date:
    put:
      description: |
        Метод изменяет дату доставки заказа в статусе `PROCESSING` или `DELIVERY`. Для заказов с другими статусами дату доставки изменить нельзя.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderDeliveryDate
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryDateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Успешное изменение даты доставки.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение даты доставки заказа
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/delivery/track:
    post:
      description: |
        {% note warning "Этот запрос только для DBS" %}

        Вы можете использовать запрос, чтобы повысить лояльность покупателей. Если они могут узнать, на каком этапе доставки находятся их заказы, доверие покупателей к вашему магазину может возрасти.

        {% endnote %}

        Передает Маркету трек‑номер, по которому покупатель может отследить посылку со своим заказом через службу доставки.

        Передать трек‑номер можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderDeliveryTrackCode
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryTrackCodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Трек‑номер посылки и идентификатор службы доставки были успешно
            переданы.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача трек‑номера посылки
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/buyer:
    get:
      description: |
        Возвращает информацию о покупателе по идентификатору заказа.

        {% note info "" %}

        Чтобы получить информацию о покупателе, который является юридическим лицом, воспользуйтесь запросом [POST campaigns/{campaignId}/orders/{orderId}/business-buyer](../../reference/order-business-information/getOrderBusinessBuyerInfo.md).

        {% endnote %}

        Получить данные можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.

        Если у вас настроена работа с push-компонентом, Маркет отправит уведомление о смене статуса заказа с помощью запроса [POST order/status](../../pushapi/reference/postOrderStatus.md).

        |**⚙️ Лимит:** 3 000 запросов в час|
        |-|
      operationId: getOrderBuyerInfo
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
          description: Информация о покупателе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о покупателе — физическом лице
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
      - inventory-and-orders:read-only
  /campaigns/{campaignId}/orders/{orderId}/verifyEac:
    put:
      description: |
        Отправляет Маркету код подтверждения для его проверки.

        Код подтверждает передачу заказа или невыкупа:

        * курьеру — курьер должен назвать магазину код;
        * магазину — магазин называет код курьеру.

        Если магазин получает невыкупленный заказ, то ему нужно назвать курьеру код из кабинета или приложения.

        Если у магазина настроена работа с кодами подтверждения, в запросах [POST order/status](../../pushapi/reference/postOrderStatus.md), [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md), [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md), [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md) в параметре `delivery`, вложенном в `order` будет возвращаться параметр `eacType` с типом `Enum` — тип кода подтверждения для передачи заказа.

        Возможные значения: `MERCHANT_TO_COURIER` — магазин называет код курьеру, `COURIER_TO_MERCHANT` — курьер называет код магазину.

        Параметр `eacType` возвращается при статусах заказа `COURIER_FOUND`, `COURIER_ARRIVED_TO_SENDER` и `DELIVERY_SERVICE_UNDELIVERED`. Если заказ в других статусах, параметр может отсутствовать.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: verifyOrderEac
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOrderEacRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyOrderEacResponse'
          description: Проверка кода выполнена успешно.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача кода подтверждения
      tags:
      - order-delivery
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit:
    put:
      description: |
        Продлевает срок хранения заказа в пункте выдачи продавца.

        Заказ должен быть в статусе `PICKUP`. Продлить срок можно только один раз, не больше чем на 30 дней.

        Новый срок хранения можно получить в параметре `outletStorageLimitDate` запроса [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderStorageLimit
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStorageLimitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Пустой ответ.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Продление срока хранения заказа
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label:
    get:
      description: |
        Формирует ярлык‑наклейку для коробки в заказе и возвращает ярлык в PDF‑файле.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: generateOrderLabel
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор грузоместа.
        in: path
        name: shipmentId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор коробки.
        in: path
        name: boxId
        required: true
        schema:
          format: int64
          type: integer
      - description: "Настройка размещения ярлыков на странице. Если параметра нет\
          , возвращается PDF с ярлыками формата A6."
        in: query
        name: format
        required: false
        schema:
          $ref: '#/components/schemas/PageFormatType'
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: PDF‑файл с ярлыками для коробки. Файл содержит одну страницу
            с ярлыком.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Готовый ярлык‑наклейка для коробки в заказе
      tags:
      - order-labels
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-orders
  /campaigns/{campaignId}/orders/{orderId}/delivery/labels:
    get:
      description: |
        Возвращает PDF-файл с ярлыками, которые нужно наклеить на коробки перед отгрузкой. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).

        На вход нужно передать идентификатор заказа и один необязательный параметр, который управляет версткой PDF-файла.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: generateOrderLabels
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
[...]
