{
  "openapi" : "3.0.3",
  "info" : {
    "description" : "API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.\n\nВ числе возможностей интеграции:\n\n* управление каталогом товаров и витриной,\n\n* обработка заказов,\n\n* изменение настроек магазина,\n\n* получение отчетов.\n",
    "license" : {
      "name" : "BSD 3-Clause",
      "url" : "https://opensource.org/license/bsd-3-clause/"
    },
    "title" : "Партнерский API Маркета",
    "version" : "LATEST"
  },
  "externalDocs" : {
    "description" : "Документация API",
    "url" : "https://yandex.ru/dev/market/partner-api/doc/"
  },
  "servers" : [ {
    "url" : "https://api.partner.market.yandex.ru"
  } ],
  "security" : [ {
    "OAuth" : [ "market:partner-api" ]
  } ],
  "paths" : {
    "/businesses/{businessId}/settings" : {
      "post" : {
        "description" : "Возвращает информацию о настройках кабинета, идентификатор которого указан в запросе.\n|**⚙️ Лимит:** 1000 запросов в час|\n|-|\n",
        "operationId" : "getBusinessSettings",
        "parameters" : [ {
          "description" : "Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "businessId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetBusinessSettingsResponse"
                }
              }
            },
            "description" : "Настройки кабинета."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Настройки кабинета",
        "tags" : [ "businesses", "dbs", "fbs", "fby", "express" ],
        "x-auth-scopes" : [ "all-methods", "settings", "finance-and-accounting", "offers-and-cards", "offers-and-cards:read-only", "pricing", "pricing:read-only", "inventory-and-orders", "inventory-and-orders:read-only", "promotion", "promotion:read-only", "communication" ]
      }
    },
    "/campaigns" : {
      "get" : {
        "description" : "Возвращает список магазинов, к которым имеет доступ пользователь — владелец авторизационного токена, использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.\n|**⚙️ Лимит:** 1000 запросов в час|\n|-|\n",
        "operationId" : "getCampaigns",
        "parameters" : [ {
          "description" : "Номер страницы результатов.\n\nЗначение по умолчанию: 1.\n\nИспользуется вместе с параметром `page_size`.\n\n`page_number` игнорируется, если задан `page_token`, `limit` или `offset`.\n",
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 1,
            "format" : "int32",
            "maximum" : 10000,
            "type" : "integer"
          }
        }, {
          "description" : "Размер страницы.\n\nИспользуется вместе с параметром `page_number`.\n\n`page_size` игнорируется, если задан `page_token`, `limit` или `offset`.\n",
          "in" : "query",
          "name" : "pageSize",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCampaignsResponse"
                }
              }
            },
            "description" : "Магазины пользователя."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Список магазинов пользователя",
        "tags" : [ "campaigns", "dbs", "express", "fbs", "fby" ],
        "x-auth-scopes" : [ "all-methods", "settings", "finance-and-accounting", "offers-and-cards", "offers-and-cards:read-only", "pricing", "pricing:read-only", "inventory-and-orders", "inventory-and-orders:read-only", "promotion", "promotion:read-only", "communication" ]
      }
    },
    "/campaigns/{campaignId}" : {
      "get" : {
        "description" : "Возвращает информацию о магазине.\n|**⚙️ Лимит:** 1000 запросов в час|\n|-|\n",
        "operationId" : "getCampaign",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCampaignResponse"
                }
              }
            },
            "description" : "Информация о магазине."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Информация о магазине",
        "tags" : [ "campaigns", "dbs", "express", "fbs", "fby" ],
        "x-auth-scopes" : [ "all-methods", "settings", "finance-and-accounting", "offers-and-cards", "offers-and-cards:read-only", "pricing", "pricing:read-only", "inventory-and-orders", "inventory-and-orders:read-only", "promotion", "promotion:read-only", "communication" ]
      }
    },
    "/campaigns/{campaignId}/logins" : {
      "get" : {
        "description" : "Возвращает список логинов, у которых есть доступ к магазину.\n|**⚙️ Лимит:** 1000 запросов в час|\n|-|\n",
        "operationId" : "getCampaignLogins",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCampaignLoginsResponse"
                }
              }
            },
            "description" : "Список логинов, связанных с магазином."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Логины, связанные с магазином",
        "tags" : [ "campaigns", "dbs", "express", "fbs", "fby" ],
        "x-auth-scopes" : [ "all-methods", "settings", "finance-and-accounting", "offers-and-cards", "offers-and-cards:read-only", "pricing", "pricing:read-only", "inventory-and-orders", "inventory-and-orders:read-only", "promotion", "promotion:read-only", "communication" ]
      }
    },
    "/campaigns/{campaignId}/settings" : {
      "get" : {
        "description" : "Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.\n|**⚙️ Лимит:** 1000 запросов в час|\n|-|\n",
        "operationId" : "getCampaignSettings",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCampaignSettingsResponse"
                }
              }
            },
            "description" : "Настройки магазина."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Настройки магазина",
        "tags" : [ "campaigns", "dbs", "fbs", "express", "fby" ],
        "x-auth-scopes" : [ "all-methods", "settings", "finance-and-accounting", "offers-and-cards", "offers-and-cards:read-only", "pricing", "pricing:read-only", "inventory-and-orders", "inventory-and-orders:read-only", "promotion", "promotion:read-only", "communication" ]
      }
    },
    "/campaigns/by_login/{login}" : {
      "get" : {
        "description" : "Возвращает список магазинов, к которым у пользователя с указанным логином есть доступ.\n|**⚙️ Лимит:** 100 запросов в час|\n|-|\n",
        "operationId" : "getCampaignsByLogin",
        "parameters" : [ {
          "description" : "Логин пользователя.",
          "in" : "path",
          "name" : "login",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Номер страницы результатов.\n\nЗначение по умолчанию: 1.\n\nИспользуется вместе с параметром `page_size`.\n\n`page_number` игнорируется, если задан `page_token`, `limit` или `offset`.\n",
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 1,
            "format" : "int32",
            "maximum" : 10000,
            "type" : "integer"
          }
        }, {
          "description" : "Размер страницы.\n\nИспользуется вместе с параметром `page_number`.\n\n`page_size` игнорируется, если задан `page_token`, `limit` или `offset`.\n",
          "in" : "query",
          "name" : "pageSize",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCampaignsResponse"
                }
              }
            },
            "description" : "Информация о магазинах."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Магазины, доступные логину",
        "tags" : [ "campaigns", "dbs", "express", "fbs", "fby" ],
        "x-auth-scopes" : [ "all-methods", "settings", "finance-and-accounting", "offers-and-cards", "offers-and-cards:read-only", "pricing", "pricing:read-only", "inventory-and-orders", "inventory-and-orders:read-only", "promotion", "promotion:read-only", "communication" ]
      }
    },
    "/campaigns/{campaignId}/region" : {
      "get" : {
        "deprecated" : true,
        "description" : "{% note warning \"\" %}\n\nЭтот метод устарел. Вместо него используйте [GET campaigns/{campaignId}/settings](../../reference/campaigns/getCampaignSettings.md).\n\n{% endnote %}\n\nВозвращает регион, в котором находится магазин.\n|**⚙️ Лимит:** 5 000 запросов в час|\n|-|\n",
        "operationId" : "getCampaignRegion",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCampaignRegionResponse"
                }
              }
            },
            "description" : "Возвращает регион, в котором находится магазин.\n\n|**⚙️ Лимит:** 1000 запросов в час|\n|-|\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Регион магазина",
        "tags" : [ "campaigns", "dbs", "fby", "fbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "settings" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}" : {
      "get" : {
        "description" : "Возвращает информацию о заказе.\n\nПолучить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "getOrder",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetOrderResponse"
                }
              }
            },
            "description" : "Информация о заказе."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Информация об одном заказе",
        "tags" : [ "orders", "fby", "fbs", "dbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders", "inventory-and-orders:read-only", "communication", "finance-and-accounting" ]
      }
    },
    "/campaigns/{campaignId}/orders" : {
      "get" : {
        "description" : "Возвращает информацию о заказах. Запрос можно использовать, чтобы узнать, нет ли новых заказов.\n\nДоступна фильтрация по нескольким характеристикам заказов:\n\n* дате оформления;\n\n* статусу;\n\n* идентификаторам заказов;\n\n* этапу обработки или причине отмены;\n\n* типу (настоящий или тестовый);\n\n* дате отгрузки в службу доставки;\n\n* дате и времени обновления заказа.\n\nИнформация о заказах, доставленных или отмененных больше 30 дней назад, не возвращается. Ее можно получить с помощью запроса информации об отдельном заказе [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md) (если у вас есть идентификатор заказа) или запроса отчета по заказам [POST campaigns/{campaignId}/stats/orders](../../reference/stats/getOrdersStats.md).\n\nМаксимальный диапазон дат за один запрос к ресурсу — 30 дней. Максимальное количество заказов в выходных данных запроса — 50.\n\nРезультаты возвращаются постранично. Для навигации по страницам используйте параметры `page_token` и `limit`.\n\nПолучить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "getOrders",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Фильтрация заказов по идентификаторам.\n<br><br>\n⚠️ Не используйте это поле одновременно с другими фильтрами. Если вы хотите воспользоваться ими, оставьте поле пустым.\n",
          "in" : "query",
          "name" : "orderIds",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "maxItems" : 50,
              "minItems" : 1,
              "type" : "integer"
            },
            "type" : "array"
          }
        }, {
          "description" : "Статус заказа:\n\n* `CANCELLED` — заказ отменен.\n\n* `DELIVERED` — заказ получен покупателем.\n\n* `DELIVERY` — заказ передан в службу доставки.\n\n* `PICKUP` — заказ доставлен в пункт самовывоза.\n\n* `PROCESSING` — заказ находится в обработке.\n\n* `UNPAID` — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).\n\nТакже могут возвращаться другие значения. Обрабатывать их не требуется.\n",
          "in" : "query",
          "name" : "status",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/OrderStatusType"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        }, {
          "description" : "Этап обработки заказа (если он имеет статус `PROCESSING`) или причина отмены заказа (если он имеет статус `CANCELLED`).\n\nВозможные значения для заказа в статусе `PROCESSING`:\n\n* `STARTED` — заказ подтвержден, его можно начать обрабатывать.\n* `READY_TO_SHIP` — заказ собран и готов к отправке.\n* `SHIPPED` — заказ передан службе доставки.\n\nВозможные значения для заказа в статусе `CANCELLED`:\n\n* `DELIVERY_SERVICE_UNDELIVERED` — служба доставки не смогла доставить заказ.\n\n* `PROCESSING_EXPIRED` — значение более не используется.\n\n* `REPLACING_ORDER` — покупатель решил заменить товар другим по собственной инициативе.\n\n* `RESERVATION_EXPIRED` — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.\n\n* `RESERVATION_FAILED` — Маркет не может продолжить дальнейшую обработку заказа.\n\n* `SHOP_FAILED` — магазин не может выполнить заказ.\n\n* `USER_CHANGED_MIND` — покупатель отменил заказ по личным причинам.\n\n* `USER_NOT_PAID` — покупатель не оплатил заказ (для типа оплаты `PREPAID`) в течение 30 минут.\n\n* `USER_REFUSED_DELIVERY` — покупателя не устроили условия доставки.\n\n* `USER_REFUSED_PRODUCT` — покупателю не подошел товар.\n\n* `USER_REFUSED_QUALITY` — покупателя не устроило качество товара.\n\n* `USER_UNREACHABLE` — не удалось связаться с покупателем. Для отмены с этой причиной необходимо выполнить условия:\n\n  * не менее 3 звонков с 8 до 21 в часовом поясе покупателя;\n  * перерыв между первым и третьим звонком не менее 90 минут;\n  * соединение не короче 5 секунд.\n\n  Если хотя бы одно из этих условий не выполнено (кроме случая, когда номер недоступен), отменить заказ не получится. Вернется ответ с кодом ошибки 400.\n* `USER_WANTS_TO_CHANGE_DELIVERY_DATE` — покупатель хочет получить заказ в другой день.\n* `CANCELLED_COURIER_NOT_FOUND` — не удалось найти курьера.\n\nТакже могут возвращаться другие значения. Обрабатывать их не требуется.\n",
          "in" : "query",
          "name" : "substatus",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/OrderSubstatusType"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        }, {
          "description" : "Начальная дата для фильтрации заказов по дате оформления.\n\nФормат даты: `ДД-ММ-ГГГГ`.\n\nМежду начальной и конечной датой (параметр `toDate`) должно быть не больше 30 дней.\n\nЗначение по умолчанию: 30 дней назад от текущей даты.\n",
          "in" : "query",
          "name" : "fromDate",
          "required" : false,
          "schema" : {
            "format" : "date",
            "type" : "string"
          }
        }, {
          "description" : "Конечная дата для фильтрации заказов по дате оформления.\n\nПоказываются заказы, созданные до 00:00 указанного дня.\n\nФормат даты: `ДД-ММ-ГГГГ`.\n\nМежду начальной (параметр `fromDate`) и конечной датой должно быть не больше 30 дней.\n\nЗначение по умолчанию: текущая дата.\n",
          "in" : "query",
          "name" : "toDate",
          "required" : false,
          "schema" : {
            "format" : "date",
            "type" : "string"
          }
        }, {
          "description" : "Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).\n\nФормат даты: `ДД-ММ-ГГГГ`.\n\nМежду начальной и конечной датой (параметр `supplierShipmentDateTo`) должно быть не больше 30 дней.\n\nНачальная дата включается в интервал для фильтрации.\n",
          "in" : "query",
          "name" : "supplierShipmentDateFrom",
          "required" : false,
          "schema" : {
            "format" : "date",
            "type" : "string"
          }
        }, {
          "description" : "Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).\n\nФормат даты: `ДД-ММ-ГГГГ`.\n\nМежду начальной (параметр `supplierShipmentDateFrom`) и конечной датой должно быть не больше 30 дней.\n\nКонечная дата не включается в интервал для фильтрации.\n",
          "in" : "query",
          "name" : "supplierShipmentDateTo",
          "required" : false,
          "schema" : {
            "format" : "date",
            "type" : "string"
          }
        }, {
          "description" : "Начальная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).\n\nФормат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.\n\nМежду начальной и конечной датой (параметр `updatedAtTo`) должно быть не больше 30 дней.\n\nНачальная дата включается в интервал для фильтрации.\n",
          "in" : "query",
          "name" : "updatedAtFrom",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          }
        }, {
          "description" : "Конечная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).\n\nФормат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.\n\nМежду начальной (параметр `updatedAtFrom`) и конечной датой должно быть не больше 30 дней.\n\nКонечная дата не включается в интервал для фильтрации.\n",
          "in" : "query",
          "name" : "updatedAtTo",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          }
        }, {
          "description" : "Способ отгрузки",
          "in" : "query",
          "name" : "dispatchType",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/OrderDeliveryDispatchType"
          }
        }, {
          "description" : "Фильтрация заказов по типам:\n\n* `false` — настоящий заказ покупателя.\n\n* `true` — [тестовый](../../pushapi/concepts/sandbox.md) заказ Маркета.\n",
          "in" : "query",
          "name" : "fake",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          }
        }, {
          "description" : "Нужно ли вернуть только те заказы, в составе которых есть хотя бы один товар с кодом идентификации [в системе «Честный ЗНАК»](https://честныйзнак.рф/):\n\n* `true` — да.\n\n* `false` — нет.\n\nТакие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям.\n",
          "in" : "query",
          "name" : "hasCis",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          }
        }, {
          "description" : "**Только для модели DBS**\n\nФильтрация заказов по наличию запросов покупателей на отмену.\n\nПри значение `true` возвращаются только заказы, которые находятся в статусе `DELIVERY` или `PICKUP` и которые пользователи решили отменить.\n\nЧтобы подтвердить или отклонить отмену, отправьте запрос [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation).\n",
          "in" : "query",
          "name" : "onlyWaitingForCancellationApprove",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          }
        }, {
          "description" : "Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:\n\n* `true` — возвращаются только заказы с неподтвержденной датой доставки.\n* `false` — фильтрация не применяется.\n",
          "in" : "query",
          "name" : "onlyEstimatedDelivery",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          }
        }, {
          "description" : "Фильтрация заказов по типу покупателя.\n",
          "in" : "query",
          "name" : "buyerType",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/OrderBuyerType"
          }
        }, {
          "description" : "Номер страницы результатов.\n\nЗначение по умолчанию: 1.\n\nИспользуется вместе с параметром `page_size`.\n\n`page_number` игнорируется, если задан `page_token`, `limit` или `offset`.\n",
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 1,
            "format" : "int32",
            "maximum" : 10000,
            "type" : "integer"
          }
        }, {
          "description" : "Размер страницы.\n\nИспользуется вместе с параметром `page_number`.\n\n`page_size` игнорируется, если задан `page_token`, `limit` или `offset`.\n",
          "in" : "query",
          "name" : "pageSize",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор страницы c результатами.\n\nЕсли параметр не указан, возвращается первая страница.\n\nРекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.\n\nЕсли задан `page_token` и в запросе есть параметры `offset`, `page_number` и `page_size`, они игнорируются.\n",
          "example" : "eyBuZXh0SWQ6IDIzNDIgfQ==",
          "in" : "query",
          "name" : "page_token",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Количество значений на одной странице.\n",
          "example" : 20,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetOrdersResponse"
                }
              }
            },
            "description" : "Информация о заказах."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Информация о нескольких заказах",
        "tags" : [ "orders", "fbs", "dbs", "fby", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders", "inventory-and-orders:read-only", "communication", "finance-and-accounting" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/identifiers" : {
      "put" : {
        "description" : "{% note warning \"Этот запрос только для DBS\" %}\n\nЕсли вы работаете по модели FBS, пользуйтесь [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).\n\n{% endnote %}\n\nПередает Маркету коды маркировки для единиц товара в указанном заказе.\n\nПринимаются коды следующих типов:\n\n* Коды «Честного знака».\n* УИН для ювелирных изделий.\n* РНПТ и ГТД для импортных прослеживаемых товаров.\n\n{% note warning %}\n\nПрежде чем работать с этим методом, обязательно прочтите [статью о работе с маркируемыми товарами](https://yandex.ru/support/marketplace/orders/cz.html).\n\n{% endnote %}\n\nДля каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "provideOrderItemIdentifiers",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProvideOrderItemIdentifiersRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvideOrderItemIdentifiersResponse"
                }
              }
            },
            "description" : "Ответ 200 обозначает, что коды успешно записались. Ответ содержит краткие сведения о промаркированных товарах."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Передача кодов маркировки единиц товара",
        "tags" : [ "orders", "fbs", "dbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/items" : {
      "put" : {
        "description" : "{% note warning \"Этот запрос только для DBS\" %}\n\nЕсли вы работаете по модели FBS, пользуйтесь [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).\n\n{% endnote %}\n\nИзменяет состав заказа, если позволяет выбранная служба доставки, в случаях:\n\n* покупатель уменьшил количество товара;\n* магазин не может поставить все товары в заказе.\n\nДля этого заказ должен находится в статусе `\"status\": \"PROCESSING\"` этапа обработки `\"substatus\": \"STARTED\"`. После передачи статуса `\"substatus\": \"READY_TO_SHIP\"` изменить состав невозможно.\n\nЕсли одинаковых товаров несколько, для уменьшения количества передайте обновленное значение в атрибуте `count` параметра `item`.\n\nЧтобы полностью удалить товар из заказа:\n\n* передайте значение `0`; или\n* не передавайте параметр `item`.\n\nНельзя удалить или уменьшить количество товара, если он:\n\n* добавлен по акции;\n* составляет 99% стоимости заказа;\n* единственный товар в заказе.\n\nЕсли необходимо удалить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.\n\n{% note info \"Увеличить заказ нельзя\" %}\n\nС помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.\n\n{% endnote %}\n\n**Возврат денег покупателю**\n\nЕсли покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:\n\n* при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;\n\n* при оплате через Apple Pay или Google Pay — с момента, когда магазин удалит товар из заказа.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "updateOrderItems",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOrderItemRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Маркет успешно обработал ваш запрос. Выходные данные не ожидаются."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Удаление товара из заказа или уменьшение числа единиц",
        "tags" : [ "orders", "fbs", "dbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/status" : {
      "put" : {
        "description" : "Изменяет статус заказа. Возможные изменения статусов:\n\n* Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `\"status\": \"PROCESSING\"` и этапа обработки `\"substatus\": \"STARTED\"` нужно перевести в статус `\"status\": \"PROCESSING\"` и этап обработки `\"substatus\": \"READY_TO_SHIP\"`.\n* Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `\"status\": \"PROCESSING\"` и этапа обработки `\"substatus\": \"STARTED\"` нужно перевести в статус `\"status\": \"CANCELLED\"` с причиной отмены заказа `\"substatus\": \"SHOP_FAILED\"`.\n* Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `\"status\": \"PROCESSING\"` и этапа обработки `\"substatus\": \"READY_TO_SHIP\"` нужно перевести в статус `\"status\": \"CANCELLED\"` с причиной отмены заказа `\"substatus\": \"SHOP_FAILED\"`.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "updateOrderStatus",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOrderStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateOrderStatusResponse"
                }
              }
            },
            "description" : "В случае успешного изменения статуса заказа возвращается обновленная информация о заказе."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Изменение статуса одного заказа",
        "tags" : [ "orders", "fbs", "dbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/status-update" : {
      "post" : {
        "description" : "Изменяет статусы нескольких заказов.\n\nВозможные изменения статусов:\n\n* Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `\"status\": \"PROCESSING\"`и этапа обработки `\"substatus\": \"STARTED\"` нужно перевести в статус `\"status\": \"PROCESSING\"` и этап обработки `\"substatus\": \"READY_TO_SHIP\"`.\n* Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `\"status\": \"PROCESSING\"` и этапа обработки `\"substatus\": \"STARTED\"` нужно перевести в статус `\"status\": \"CANCELLED\"` с причиной отмены заказа `\"substatus\": \"SHOP_FAILED\"`.\n* Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `\"status\": \"PROCESSING\"` и этапа обработки `\"substatus\": \"READY_TO_SHIP\"` нужно перевести в статус `\"status\": \"CANCELLED\"` с причиной отмены заказа `\"substatus\": \"SHOP_FAILED\"`.\n\nМаксимальное количество заказов, у которых можно изменить статус в одном запросе, — 30.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "updateOrderStatuses",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOrderStatusesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateOrderStatusesResponse"
                }
              }
            },
            "description" : "Возвращается информация об обновленных статусах заказов."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Изменение статусов нескольких заказов",
        "tags" : [ "orders", "fbs", "dbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes" : {
      "put" : {
        "description" : "{% note warning \"Этот запрос только для DBS\" %}\n\nЕсли вы работаете по модели FBS, пользуйтесь [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).\n\n{% endnote %}\n\nОтгружаемый Маркету заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых мест.\n\nКоличество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой инструкции](../../step-by-step/fbs.md).\n\nМетод устроен немного нестандартно: количество задается длиной массива пустых объектов.\n\nРаньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу, работают, но лучше делать по-новому.\n\n{% cut \"Как было раньше\" %}\n\nСтруктура тела PUT-запроса:\n\n```\n{\n  \"boxes\":\n  [\n    {\n      \"fulfilmentId\": \"{string}\",\n      \"weight\": {int64},\n      \"width\": {int64},\n      \"height\": {int64},\n      \"depth\": {int64},\n      \"items\":\n      [\n        {\n          \"id\": {int64},\n          \"count\": {int32}\n        },\n        ...\n      ]\n    },\n    ...\n  ]\n}\n```\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `boxes`       |           | Список грузовых мест.       |\n\n**Параметры, вложенные в `boxes`**\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `fulfilmentId`       |  String   | Идентификатор грузового места в информационной системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |\n| `weight`       | Int64        | Масса брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |\n| `width`       | Int64   | Ширина грузового места в сантиметрах.       |\n| `height`       | Int64   | Высота грузового места в сантиметрах.       |\n| `depth`       | Int64   | Глубина грузового места в сантиметрах.        |\n| `items`       | Int64   | Список товаров в грузовом месте.       |\n\n**Параметры, вложенные в `items`**\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `id`       | Int64     | Идентификатор товара в рамках заказа.   |\n| `count`    | Int32     | Количество единиц товара в грузовом месте.       |\n\n{% endcut %}\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "setOrderShipmentBoxes",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Параметр больше не используется. Вставьте любое число — просто чтобы получился корректный URL.\n",
          "in" : "path",
          "name" : "shipmentId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetOrderShipmentBoxesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetOrderShipmentBoxesResponse"
                }
              }
            },
            "description" : "Имеет значение только тип ответа. Если ответ `ОК`, количество грузомест записано."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Передача количества грузовых мест в заказе",
        "tags" : [ "orders", "fbs", "dbs", "express" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/cancellation/accept" : {
      "put" : {
        "description" : "Подтверждает или отклоняет запрос покупателя на отмену заказа, который передан службе доставки.\n\nПокупатель может отменить заказ в течение его обработки или доставки. Если заказ еще обрабатывается (имеет статус PROCESSING), вам не нужно подтверждать отмену заказа — он будет отменен автоматически.\n\nЕсли заказ уже передан службе доставки (принимает статус `DELIVERY` или `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов. Если служба доставки узнала об отмене до передачи заказа покупателю, подтвердите отмену с помощью запроса [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation.md). Если заказ уже доставлен, отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги за него возвращаться не будут.\n\nЧтобы узнать, какие заказы были отменены в статусе `DELIVERY` или `PICKUP`, отправьте запрос [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md). В его URL добавьте входной параметр `onlyWaitingForCancellationApprove=true`. Вы также можете узнать об отмененных заказах в кабинете или через почту — на нее придет уведомление об отмене.\n\nЕсли в течение 48 часов вы не подтвердите или отклоните отмену, заказ будет отменен автоматически.\n\n|**⚙️ Лимит:** 500 запросов в час|\n|-|\n",
        "operationId" : "acceptOrderCancellation",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AcceptOrderCancellationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmptyApiResponse"
                }
              }
            },
            "description" : "Ответ на отмену заказа был успешно передан."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Отмена заказа покупателем",
        "tags" : [ "orders", "dbs" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods" : {
      "post" : {
        "description" : "Передает ключи цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами и инструкциями по активации, а также переведет заказ в финальный статус `DELIVERED`.\n\nКлюч нужно передать в течение 30 минут после перехода заказа в статус `PROCESSING`.\n\nЕсли в один заказ входят несколько ключей, передавайте их все в одном запросе.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "provideOrderDigitalCodes",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProvideOrderDigitalCodesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmptyApiResponse"
                }
              }
            },
            "description" : "Пустой ответ."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Передача ключей цифровых товаров",
        "tags" : [ "orders", "dbs" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/boxes" : {
      "put" : {
        "description" : "{% note tip \"Подходит и для DBS\" %}\n\nЗапрос предназначен для работы с FBS-заказами, но вы можете использовать его для обработки DBS-заказов, если это удобно.\n\n{% endnote %}\n\nПозволяет выполнить три операции:\n\n* передать Маркету информацию о распределении товаров по коробкам;\n* передать Маркету коды маркировки для товаров;\n* удалить товар из заказа, если его не оказалось на складе.\n\nЕсли нужно что-то поправить в переданных данных, просто повторите запрос — это можно делать сколько угодно раз до перевода заказа в статус **Готов к отгрузке**. ⚠️ Если вы меняете раскладку уже после печати и расклейки ярлыков, не забудье перепечатать их и наклеить заново.\n\n## Как передать информацию о распределении товаров\n\nВ этом запросе вам нужно передать Маркету список коробок и указать, какие именно товары лежат в каждой из них. Коробки могут быть двух типов:\n\n* **Содержащие товары целиком.** Такая коробка может содержать сколько угодно единиц любых товаров.\n\n* **Содержащие часть товара.** Такие коробки содержат по одной части одного товара. Например, одна содержит внешний блок кондиционера, а другая — внутренний блок.\n\n⚠️ Одна коробка не может содержать и товары целиком, и части товаров.\n\n## Как передавать коды маркировки\n\nЕсли в заказе есть товары, подлежащие маркировке, в запросе нужно передать соответствующие уникальные коды. [Что такое маркировка?](https://yandex.ru/support/marketplace/orders/cz.html)\n\nПринимаются коды следующих типов:\n\n* Коды «Честного знака».\n* УИН для ювелирных изделий.\n* РНПТ и ГТД для импортных прослеживаемых товаров.\n\nДля каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.\n\nЕсли товар едет в нескольких коробках, код маркировки нужно передать для каждой из них.\n\n## Как удалить товар из заказа\n\nЧтобы удалить товар из заказа:\n\n1. Добавьте в запрос `allowRemove: true`.\n2. Передайте распределение по коробкам без товара, который нужно удалить.\n\n{% note warning \"Удаление нельзя отменить\" %}\n\nЭта операция необратима: покупатель сразу получит уведомление, а состав заказа изменится.\n\n{% endnote %}\n\nЧтобы удалить позицию целиком, не передавайте соответствующий `OrderBoxLayoutItemDTO`. Чтобы уменьшить количество товара, передайте уменьшенное значение в поле `fullCount`.\n\nНельзя удалить или уменьшить количество товара, если он:\n\n* добавлен по акции;\n* составляет 99% стоимости заказа;\n* единственный товар в заказе.\n\nЕсли вы не можете отгрузить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.\n\n{% note info \"Увеличить заказ нельзя\" %}\n\nС помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.\n\n{% endnote %}\n\n## Примеры\n\n{% cut \"Товар умещается в коробку\" %}\n\nВот как будет выглядеть запрос, если в одной коробке едут:\n\n  * три единицы одного товара, требующего маркировки;\n  * одна единица другого товара, не требущего маркировки.\n\n  ```json\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"fullCount\": 3,\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          },\n                          {\n                              \"cis\": \"010304109478gftJ14545762!\\u001dhGt264\"\n                          },\n                          {\n                              \"cis\": \"010304109478fRs28323ks23!\\u001dhet201\"\n                          }\n                      ]\n                  },\n                  {\n                      \"id\": 654321,\n                      \"fullCount\": 1\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Товар едет в разных коробках\" %}\n\nВот как будет выглядеть запрос, если товар едет в двух коробках:\n\n  ```json\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Одинаковые товары, где каждый едет в нескольких коробках\" %}\n\nВот как будет выглядеть запрос, если каждый из двух одинаковых товаров едет в двух коробках:\n\n  ```json\n  {\n      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\": 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "setOrderBoxLayout",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetOrderBoxLayoutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetOrderBoxLayoutResponse"
                }
              }
            },
            "description" : "В ответ придет переданная раскладка с идентификаторами коробок — они понадобятся для запроса ярлыков.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Подготовка заказа",
        "tags" : [ "orders", "fbs", "express", "dbs" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/delivery/date" : {
      "put" : {
        "description" : "Метод изменяет дату доставки заказа в статусе `PROCESSING` или `DELIVERY`. Для заказов с другими статусами дату доставки изменить нельзя.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "setOrderDeliveryDate",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetOrderDeliveryDateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmptyApiResponse"
                }
              }
            },
            "description" : "Успешное изменение даты доставки."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
          "420" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiLimitErrorResponse"
                }
              }
            },
            "description" : "Превышено ограничение на доступ к ресурсу."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiServerErrorResponse"
                }
              }
            },
            "description" : "Внутренняя ошибка сервера."
          }
        },
        "summary" : "Изменение даты доставки заказа",
        "tags" : [ "order-delivery", "dbs" ],
        "x-auth-scopes" : [ "all-methods", "inventory-and-orders" ]
      }
    },
    "/campaigns/{campaignId}/orders/{orderId}/delivery/track" : {
      "post" : {
        "description" : "{% note warning \"Этот запрос только для DBS\" %}\n\nВы можете использовать запрос, чтобы повысить лояльность покупателей. Если они могут узнать, на каком этапе доставки находятся их заказы, доверие покупателей к вашему магазину может возрасти.\n\n{% endnote %}\n\nПередает Маркету трек‑номер, по которому покупатель может отследить посылку со своим заказом через службу доставки.\n\nПередать трек‑номер можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.\n\n|**⚙️ Лимит:** 1 000 000 запросов в час|\n|-|\n",
        "operationId" : "setOrderDeliveryTrackCode",
        "parameters" : [ {
          "description" : "Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.\n\nЧтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).\n\nℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)\n",
          "in" : "path",
          "name" : "campaignId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "description" : "Идентификатор заказа.",
          "in" : "path",
          "name" : "orderId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetOrderDeliveryTrackCodeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmptyApiResponse"
                }
              }
            },
            "description" : "Трек‑номер посылки и идентификатор службы доставки были успешно переданы."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiClientDataErrorResponse"
                }
              }
            },
            "description" : "Запрос содержит неправильные данные."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiUnauthorizedErrorResponse"
                }
              }
            },
            "description" : "В запросе не указаны данные для авторизации."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiForbiddenErrorResponse"
                }
              }
            },
            "description" : "Данные для авторизации неверны или доступ к ресурсу запрещен."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiNotFoundErrorResponse"
                }
              }
            },
            "description" : "Запрашиваемый ресурс не найден."
          },
[...]
