/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ApiClientDataErrorResponse;
import org.openapitools.client.model.ApiForbiddenErrorResponse;
import org.openapitools.client.model.ApiLimitErrorResponse;
import org.openapitools.client.model.ApiNotFoundErrorResponse;
import org.openapitools.client.model.ApiServerErrorResponse;
import org.openapitools.client.model.ApiUnauthorizedErrorResponse;
import java.io.File;
import org.openapitools.client.model.GetOrderLabelsDataResponse;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PageFormatType;

/**
 * Партнерский API Маркета
 *
 * <p>API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/campaigns/{campaignId}/orders/{orderId}/delivery")
public interface OrderLabelsApi  {

    /**
     * Готовый ярлык‑наклейка для коробки в заказе
     * Формирует ярлык‑наклейку для коробки в заказе и возвращает ярлык в PDF‑файле.  |**⚙️ Лимит:** 1 000 000 запросов в час| |-| 
     */
    @GET
    @Path("/shipments/{shipmentId}/boxes/{boxId}/label")
    @Produces({ "application/pdf", "application/json" })
    File generateOrderLabel(@PathParam("campaignId") Long campaignId, @PathParam("orderId") Long orderId, @PathParam("shipmentId") Long shipmentId, @PathParam("boxId") Long boxId, @QueryParam("format") PageFormatType format) throws ApiException, ProcessingException;

    /**
     * Готовые ярлыки‑наклейки на все коробки в одном заказе
     * Возвращает PDF-файл с ярлыками, которые нужно наклеить на коробки перед отгрузкой. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).  На вход нужно передать идентификатор заказа и один необязательный параметр, который управляет версткой PDF-файла.  |**⚙️ Лимит:** 1 000 000 запросов в час| |-| 
     */
    @GET
    @Path("/labels")
    @Produces({ "application/pdf", "application/json" })
    File generateOrderLabels(@PathParam("campaignId") Long campaignId, @PathParam("orderId") Long orderId, @QueryParam("format") PageFormatType format) throws ApiException, ProcessingException;

    /**
     * Данные для самостоятельного изготовления ярлыков
     * Возвращает информацию на ярлыках, которые клеятся на коробки в заказе.  |**⚙️ Лимит:** 1 000 000 запросов в час| |-| 
     */
    @GET
    @Path("/labels/data")
    @Produces({ "application/json" })
    GetOrderLabelsDataResponse getOrderLabelsData(@PathParam("campaignId") Long campaignId, @PathParam("orderId") Long orderId) throws ApiException, ProcessingException;
}
