/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ApiClientDataErrorResponse;
import org.openapitools.client.model.ApiForbiddenErrorResponse;
import org.openapitools.client.model.ApiLimitErrorResponse;
import org.openapitools.client.model.ApiNotFoundErrorResponse;
import org.openapitools.client.model.ApiServerErrorResponse;
import org.openapitools.client.model.ApiUnauthorizedErrorResponse;
import org.openapitools.client.model.ChangeOutletRequest;
import org.openapitools.client.model.CreateOutletResponse;
import org.openapitools.client.model.EmptyApiResponse;
import org.openapitools.client.model.GetOutletResponse;
import org.openapitools.client.model.GetOutletsResponse;
import java.util.List;
import java.util.Map;
import java.util.Optional;

/**
 * Партнерский API Маркета
 *
 * <p>API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/campaigns/{campaignId}/outlets")
public interface OutletsApi  {

    /**
     * Создание точки продаж
     * Создает точку продаж магазина на Маркете.  В течение суток этим и другими запросами о точках продаж, кроме запроса [GET delivery/services](../../reference/orders/getDeliveryServices.md), можно получить и изменить информацию об определенном суммарном количестве точек продаж. Оно зависит от количества точек продаж магазина.  |**⚙️ Лимит:** 100 000 запросов в час| |-| 
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CreateOutletResponse createOutlet(@PathParam("campaignId") Long campaignId, ChangeOutletRequest changeOutletRequest) throws ApiException, ProcessingException;

    /**
     * Удаление точки продаж
     * Удаляет точку продаж магазина на Маркете.  В течение суток этим и другими запросами о точках продаж, кроме запроса [GET delivery/services](../../reference/orders/getDeliveryServices.md), можно получить и изменить информацию об определенном суммарном количестве точек продаж. Оно зависит от количества точек продаж магазина.  |**⚙️ Лимит:** 100 000 запросов в час| |-| 
     */
    @DELETE
    @Path("/{outletId}")
    @Produces({ "application/json" })
    EmptyApiResponse deleteOutlet(@PathParam("campaignId") Long campaignId, @PathParam("outletId") Long outletId) throws ApiException, ProcessingException;

    /**
     * Информация об одной точке продаж
     * Возвращает информацию о точках продаж магазина.  В течение суток этим и другими запросами о точках продаж, кроме запроса [GET delivery/services](../../reference/orders/getDeliveryServices.md), можно получить и изменить информацию об определенном суммарном количестве точек продаж. Оно зависит от количества точек продаж магазина.  |**⚙️ Лимит:** 100 000 запросов в час| |-| 
     */
    @GET
    @Path("/{outletId}")
    @Produces({ "application/json" })
    GetOutletResponse getOutlet(@PathParam("campaignId") Long campaignId, @PathParam("outletId") Long outletId) throws ApiException, ProcessingException;

    /**
     * Информация о нескольких точках продаж
     * Возвращает список точек продаж магазина.  В течение суток этим и другими запросами о точках продаж, кроме запроса [GET delivery/services](../../reference/orders/getDeliveryServices.md), можно получить и изменить информацию об определенном суммарном количестве точек продаж. Оно зависит от количества точек продаж магазина.  |**⚙️ Лимит:** 100 000 запросов в час| |-| 
     */
    @GET
    
    @Produces({ "application/json" })
    GetOutletsResponse getOutlets(@PathParam("campaignId") Long campaignId, @QueryParam("page_token") String pageToken, @QueryParam("region_id") Long regionId, @QueryParam("shop_outlet_code") String shopOutletCode, @QueryParam("regionId") Long regionId2) throws ApiException, ProcessingException;

    /**
     * Изменение информации о точке продаж
     * Изменяет информацию о точке продаж магазина на Маркете.  В течение суток этим и другими запросами о точках продаж, кроме запроса [GET delivery/services](../../reference/orders/getDeliveryServices.md), можно получить и изменить информацию об определенном суммарном количестве точек продаж. Оно зависит от количества точек продаж магазина.  |**⚙️ Лимит:** 100 000 запросов в час| |-| 
     */
    @PUT
    @Path("/{outletId}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    EmptyApiResponse updateOutlet(@PathParam("campaignId") Long campaignId, @PathParam("outletId") Long outletId, ChangeOutletRequest changeOutletRequest) throws ApiException, ProcessingException;
}
