/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ApiClientDataErrorResponse;
import org.openapitools.client.model.ApiForbiddenErrorResponse;
import org.openapitools.client.model.ApiLimitErrorResponse;
import org.openapitools.client.model.ApiNotFoundErrorResponse;
import org.openapitools.client.model.ApiServerErrorResponse;
import org.openapitools.client.model.ApiUnauthorizedErrorResponse;
import org.openapitools.client.model.GenerateBoostConsolidatedRequest;
import org.openapitools.client.model.GenerateCompetitorsPositionReportRequest;
import org.openapitools.client.model.GenerateGoodsFeedbackRequest;
import org.openapitools.client.model.GenerateGoodsMovementReportRequest;
import org.openapitools.client.model.GenerateGoodsRealizationReportRequest;
import org.openapitools.client.model.GenerateGoodsTurnoverRequest;
import org.openapitools.client.model.GenerateMassOrderLabelsRequest;
import org.openapitools.client.model.GeneratePricesReportRequest;
import org.openapitools.client.model.GenerateReportResponse;
import org.openapitools.client.model.GenerateShelfsStatisticsRequest;
import org.openapitools.client.model.GenerateShipmentListDocumentReportRequest;
import org.openapitools.client.model.GenerateShowsSalesReportRequest;
import org.openapitools.client.model.GenerateStocksOnWarehousesReportRequest;
import org.openapitools.client.model.GenerateUnitedMarketplaceServicesReportRequest;
import org.openapitools.client.model.GenerateUnitedNettingReportRequest;
import org.openapitools.client.model.GenerateUnitedOrdersRequest;
import org.openapitools.client.model.GetReportInfoResponse;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PageFormatType;
import org.openapitools.client.model.ReportFormatType;

/**
 * Партнерский API Маркета
 *
 * <p>API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/reports")
public interface ReportsApi  {

    /**
     * Отчет по бусту продаж
     * Запускает генерацию **сводного отчета по бусту продаж** за заданный период. Отчет содержит информацию по всем кампаниям, созданным и через API, и в кабинете.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/boost-consolidated/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateBoostConsolidatedReport(GenerateBoostConsolidatedRequest generateBoostConsolidatedRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет «Конкурентная позиция»
     * Запускает генерацию **отчета «Конкурентная позиция»** за заданный период. [Что это за отчет](https://yandex.ru/support2/marketplace/ru/analytics/competitors.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  {% note info \&quot;Значение -1 в отчете\&quot; %}  Если в CSV-файле в столбце **POSITION** стоит -1, в этот день не было заказов с товарами в указанной категории.  {% endnote %}  |**⚙️ Лимит:** 10 запросов в час| |-| 
     */
    @POST
    @Path("/competitors-position/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateCompetitorsPositionReport(GenerateCompetitorsPositionReportRequest generateCompetitorsPositionReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по отзывам о товарах
     * Запускает генерацию **отчета по отзывам о товарах**. [Что это за отчет](https://yandex.ru/support2/marketplace/ru/marketing/plus-reviews#stat)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/goods-feedback/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateGoodsFeedbackReport(GenerateGoodsFeedbackRequest generateGoodsFeedbackRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по движению товаров
     * Запускает генерацию **отчета по движению товаров**. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports-fby-fbs.html#flow)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/goods-movement/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateGoodsMovementReport(GenerateGoodsMovementReportRequest generateGoodsMovementReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по реализации
     * Запускает генерацию **отчета по реализации** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports-fby-fbs.html#sales-report)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/goods-realization/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateGoodsRealizationReport(GenerateGoodsRealizationReportRequest generateGoodsRealizationReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по оборачиваемости
     * Запускает генерацию **отчета по оборачиваемости** за заданную дату.  [Что это за отчет](https://yandex.ru/support/marketplace/analytics/turnover.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/goods-turnover/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateGoodsTurnoverReport(GenerateGoodsTurnoverRequest generateGoodsTurnoverRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Готовые ярлыки‑наклейки на все коробки в нескольких заказах
     * Запускает генерацию PDF-файла с ярлыками для переданных заказов. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).  Узнать статус генерации и получить ссылку на готовый файл можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 1000 запросов в час| |-| 
     */
    @POST
    @Path("/documents/labels/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateMassOrderLabelsReport(GenerateMassOrderLabelsRequest generateMassOrderLabelsRequest, @QueryParam("format") PageFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет «Цены на рынке»
     * Запускает генерацию **отчета «Цены на рынке»**.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/prices/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generatePricesReport(GeneratePricesReportRequest generatePricesReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по полкам
     * Запускает генерацию **сводного отчета по полкам** — рекламным блокам с баннером или видео и набором товаров. Подробнее о них читайте [в Справке Маркета для продавцов](https://yandex.ru/support2/marketplace/ru/marketing/shelf).  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/shelf-statistics/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateShelfsStatisticsReport(GenerateShelfsStatisticsRequest generateShelfsStatisticsRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Получение листа сборки
     * Запускает генерацию **листа сборки** для отгрузки.  Узнать статус генерации и получить ссылку на готовый документ можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/documents/shipment-list/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateShipmentListDocumentReport(GenerateShipmentListDocumentReportRequest generateShipmentListDocumentReportRequest) throws ApiException, ProcessingException;

    /**
     * Отчет «Аналитика продаж»
     * Запускает генерацию **отчета «Аналитика продаж»** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/shows-sales.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 10 запросов в час| |-| 
     */
    @POST
    @Path("/shows-sales/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateShowsSalesReport(GenerateShowsSalesReportRequest generateShowsSalesReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по остаткам на складах
     * Запускает генерацию **отчета по остаткам на складах**. Отчет содержит данные:  * Для модели FBY — об остатках на складах Маркета. * Для остальных моделей — об остатках на соответствующем складе магазина.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/stocks-on-warehouses/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateStocksOnWarehousesReport(GenerateStocksOnWarehousesReportRequest generateStocksOnWarehousesReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по стоимости услуг
     * Запускает генерацию **отчета по стоимости услуг** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports.html)  Тип отчета зависит от того, какие поля заполнены в запросе:  |**Тип отчета**               |**Какие поля нужны**             | |-----------------------------|---------------------------------| |По дате начисления услуги    |&#x60;dateFrom&#x60; и &#x60;dateTo&#x60;            | |По дате формирования акта    |&#x60;year&#x60; и &#x60;month&#x60;                 |  Заказать отчеты обоих типов одним запросом нельзя.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/united-marketplace-services/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateUnitedMarketplaceServicesReport(GenerateUnitedMarketplaceServicesReportRequest generateUnitedMarketplaceServicesReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по платежам
     * Запускает генерацию **отчета по платежам** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/transactions.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  Тип отчета зависит от того, какие поля заполнены в запросе:  |**Тип отчета**           |**Какие поля нужны**                   | |-------------------------|---------------------------------------| |О платежах за период     |&#x60;dateFrom&#x60; и &#x60;dateTo&#x60;                  | |О платежном поручении    |&#x60;bankOrderId&#x60; и &#x60;bankOrderDateTime&#x60;    |  Заказать отчеты обоих типов одним запросом нельзя.  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/united-netting/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateUnitedNettingReport(GenerateUnitedNettingReportRequest generateUnitedNettingReportRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Отчет по заказам
     * Запускает генерацию **отчета по заказам** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/orders.html)  {% note info \&quot;\&quot; %}  Это новый отчет. Раньше мы так называли генерацию детальной информации по заказам. [Как получить детальную информацию по заказам](../../reference/stats/getOrdersStats.md)  {% endnote %}  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/united-orders/generate")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GenerateReportResponse generateUnitedOrdersReport(GenerateUnitedOrdersRequest generateUnitedOrdersRequest, @QueryParam("format") ReportFormatType format) throws ApiException, ProcessingException;

    /**
     * Получение заданного отчета
     * Возвращает статус генерации заданного отчета и, если отчет готов, ссылку для скачивания.  Чтобы воспользоваться этим запросом, вначале нужно запустить генерацию отчета. [Инструкция](../../step-by-step/reports.md)  |**⚙️ Лимит:** 100 запросов в минуту| |-| 
     */
    @GET
    @Path("/info/{reportId}")
    @Produces({ "application/json" })
    GetReportInfoResponse getReportInfo(@PathParam("reportId") String reportId) throws ApiException, ProcessingException;
}
