/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ApiClientDataErrorResponse;
import org.openapitools.client.model.ApiForbiddenErrorResponse;
import org.openapitools.client.model.ApiLimitErrorResponse;
import org.openapitools.client.model.ApiNotFoundErrorResponse;
import org.openapitools.client.model.ApiServerErrorResponse;
import org.openapitools.client.model.ApiUnauthorizedErrorResponse;
import org.openapitools.client.model.ConfirmShipmentRequest;
import org.openapitools.client.model.EmptyApiResponse;
import java.io.File;
import org.openapitools.client.model.GetShipmentOrdersInfoResponse;
import org.openapitools.client.model.GetShipmentResponse;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.SearchShipmentsRequest;
import org.openapitools.client.model.SearchShipmentsResponse;
import org.openapitools.client.model.SetShipmentPalletsCountRequest;
import org.openapitools.client.model.ShipmentPalletLabelPageFormatType;
import org.openapitools.client.model.TransferOrdersFromShipmentRequest;

/**
 * Партнерский API Маркета
 *
 * <p>API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/campaigns/{campaignId}")
public interface ShipmentsApi  {

    /**
     * Подтверждение отгрузки
     * Подтверждает отгрузку товаров в сортировочный центр или пункт приема заказов. |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @POST
    @Path("/first-mile/shipments/{shipmentId}/confirm")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    EmptyApiResponse confirmShipment(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId, ConfirmShipmentRequest confirmShipmentRequest) throws ApiException, ProcessingException;

    /**
     * Получение акта приема-передачи
     * {% note warning \&quot;Экспресс‑доставка\&quot; %}  Если ваш магазин подключен к экспресс‑доставке и вы отгружаете заказы курьерам Яндекс Go, подготавливать акт приема‑передачи не нужно.  {% endnote %}  Запрос формирует акт приема-передачи заказов, входящих в отгрузку, и возвращает акт в формате PDF. В акте содержатся собранные и готовые к отправке заказы.  При формировании акта Маркет автоматически находит и подставляет в шаблон следующие данные:  {% cut \&quot;Данные, из которых Маркет формирует акт\&quot; %}  | **Данные в акте**                                         | **Описание**                                                                                                                                                                                                                                                         | | --------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | | Дата                                                      | Дата запроса.                                                                                                                                                                                                                                                        | | Отправитель                                               | Название вашего юридического лица, указанное в кабинете продавца на Маркете.                                                                                                                                                                                         | | Исполнитель                                               | Название юридического лица сортировочного центра или службы доставки.                                                                                                                                                                                                | | № отправления в системе заказчика                         | Ваш идентификатор заказа, который вы указали в ответе на запрос [POST order/accept](../../pushapi/reference/orderAccept.md) от Маркета.                                                                                                                              | | № отправления в системе исполнителя (субподрядчика)       | Идентификатор заказа на Маркете, как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md).                                                                                                                             | | Объявленная ценность                                      | Общая сумма заказа без учета стоимости доставки, как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md) или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).                       | | Вес                                                       | Масса брутто грузового места (суммарная масса упаковки и содержимого), как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md) или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md). | | Количество мест                                           | Количество грузовых мест в заказе, как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md) или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).                                     |  {% endcut %}  Остальные поля нужно заполнить самостоятельно в распечатанном акте. |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}/act")
    @Produces({ "application/pdf", "application/json" })
    File downloadShipmentAct(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId) throws ApiException, ProcessingException;

    /**
     * Получение акта расхождений
     * Возвращает акт расхождений для заданной отгрузки. |**⚙️ Лимит:** 200 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}/discrepancy-act")
    @Produces({ "application/vnd.ms-excel", "application/json" })
    File downloadShipmentDiscrepancyAct(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId) throws ApiException, ProcessingException;

    /**
     * Получение фактического акта приема-передачи
     * Возвращает фактический акт приема-передачи для заданной отгрузки.  Такой акт становится доступен спустя несколько часов после завершения отгрузки. Он может понадобиться, если после отгрузки обнаружатся расхождения.  |**⚙️ Лимит:** 200 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}/inbound-act")
    @Produces({ "application/pdf", "application/json" })
    File downloadShipmentInboundAct(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId) throws ApiException, ProcessingException;

    /**
     * Ярлыки для доверительной приемки (FBS)
     * PDF-файл с ярлыками на каждый короб или палету в отгрузке для доверительной приемки. Подробнее про доверительную приемку написано в [Справке Маркета](https://yandex.ru/support/marketplace/orders/fbs/process.html#acceptance).  Распечатайте по несколько копий каждого ярлыка: на одну тару нужно наклеить минимум 2 ярлыка с разных сторон.  Количество упаковок в отгрузке задается в запросе [PUT campaigns/{campaignId}/first-mile/shipments/{shipmentId}/pallets](../../reference/shipments/setShipmentPalletsCount.md). |**⚙️ Лимит:** 200 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}/pallet/labels")
    @Produces({ "application/pdf", "application/json" })
    File downloadShipmentPalletLabels(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId, @QueryParam("format") @DefaultValue("A8") ShipmentPalletLabelPageFormatType format) throws ApiException, ProcessingException;

    /**
     * Подтверждение ближайшей отгрузки и получение акта приема-передачи для нее
     * Запрос подтверждает ближайшую отгрузку и возвращает акт приема-передачи в формате PDF.  {% note warning \&quot;Экспресс‑доставка\&quot; %}  Если ваш магазин подключен к экспресс‑доставке и вы отгружаете заказы курьерам [Яндекс Go](https://go.yandex/), подготавливать акт приема‑передачи не нужно.  {% endnote %}  В акт входят собранные и готовые к отправке заказы, которые отгружаются в сортировочный центр или пункт приема или курьерам Маркета.  При формировании акта Маркет автоматически находит и подставляет в шаблон следующие данные:  {% cut \&quot;Данные, из которых Маркет формирует акт\&quot; %}  | **Данные в акте**                                   | **Описание**                                                                                                                                                                                                                                                         | | --------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | | Отправитель                                         | Название вашего юридического лица, указанное в кабинете продавца на Маркете.                                                                                                                                                                                         | | Исполнитель                                         | Название юридического лица сортировочного центра или службы доставки.                                                                                                                                                                                                | | № отправления в системе заказчика                   | Ваш идентификатор заказа, который вы указали в ответе на запрос [POST order/accept](../../pushapi/reference/orderAccept.md) от Маркета.                                                                                                                              | | № отправления в системе исполнителя (субподрядчика) | Идентификатор заказа на Маркете, как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md).                                                                                                                             | | Объявленная ценность                                | Общая сумма заказа без учета стоимости доставки, как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md) или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).                       | | Стоимость всех товаров в заказе                     | Стоимость всех заказанных товаров.                                                                                                                                                                                                                                   | | Вес                                                 | Масса брутто грузового места (суммарная масса упаковки и содержимого), как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md) или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md). | | Количество мест                                     | Количество грузовых мест в заказе, как в выходных данных запроса [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md) или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).                                     |  {% endcut %}  Остальные поля нужно заполнить самостоятельно в распечатанном акте. |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @GET
    @Path("/shipments/reception-transfer-act")
    @Produces({ "application/pdf", "application/json" })
    File downloadShipmentReceptionTransferAct(@PathParam("campaignId") Long campaignId, @QueryParam("warehouse_id") Integer warehouseId) throws ApiException, ProcessingException;

    /**
     * Получение транспортной накладной
     * Возвращает транспортную накладную для заданной отгрузки.  Транспортная накладная понадобится, если вы отгружаете товары непосредственно со своего склада. [Подробно об этом способе отгрузки](https://yandex.ru/support/marketplace/orders/fbs/settings/shipment.html#at-your-warehouse)  |**⚙️ Лимит:** 200 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}/transportation-waybill")
    @Produces({ "application/vnd.ms-excel", "application/json" })
    File downloadShipmentTransportationWaybill(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId) throws ApiException, ProcessingException;

    /**
     * Получение информации об одной отгрузке
     * Возвращает информацию об отгрузке по ее идентификатору. |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}")
    @Produces({ "application/json" })
    GetShipmentResponse getShipment(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId, @QueryParam("cancelledOrders") @DefaultValue("true") Boolean cancelledOrders) throws ApiException, ProcessingException;

    /**
     * Получение информации о возможности печати ярлыков (FBS)
     * Возвращает информацию о возможности печати ярлыков-наклеек для заказов в отгрузке. |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @GET
    @Path("/first-mile/shipments/{shipmentId}/orders/info")
    @Produces({ "application/json" })
    GetShipmentOrdersInfoResponse getShipmentOrdersInfo(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId) throws ApiException, ProcessingException;

    /**
     * Получение информации о нескольких отгрузках
     * Возвращает информацию об отгрузках по заданным параметрам:  * дате; * статусу; * идентификаторам заказов.  Результаты возвращаются постранично. |**⚙️ Лимит:** 100 запросов в час| |-| 
     */
    @PUT
    @Path("/first-mile/shipments")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    SearchShipmentsResponse searchShipments(@PathParam("campaignId") Long campaignId, SearchShipmentsRequest searchShipmentsRequest, @QueryParam("page_token") String pageToken, @QueryParam("limit") Integer limit) throws ApiException, ProcessingException;

    /**
     * Передача количества упаковок в отгрузке
     * Передает Маркету количество коробов или палет в отгрузке для доверительной приемки. Подробнее про доверительную приемку написано в [Справке Маркета](https://yandex.ru/support/marketplace/orders/fbs/process.html#acceptance).  Получить PDF-файл с ярлыками для упаковок можно с помощью запроса [GET campaigns/{campaignId}/first-mile/shipments/{shipmentId}/pallet/labels](../../reference/shipments/downloadShipmentPalletLabels.md). |**⚙️ Лимит:** 200 запросов в час| |-| 
     */
    @PUT
    @Path("/first-mile/shipments/{shipmentId}/pallets")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    EmptyApiResponse setShipmentPalletsCount(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId, SetShipmentPalletsCountRequest setShipmentPalletsCountRequest) throws ApiException, ProcessingException;

    /**
     * Перенос заказов в следующую отгрузку
     * Переносит указанные заказы из указанной отгрузки в следующую отгрузку. [Что такое отгрузка?](https://yandex.ru/support/marketplace/orders/fbs/process.html#ship)  Используйте этот запрос, если не успеваете собрать и упаковать заказы вовремя.  {% note warning \&quot;Такие переносы снижают индекс качества магазина\&quot; %}  Этот запрос предназначен для исключительных случаев. Если вы будете переносить заказы слишком часто, магазин столкнется с ограничениями. [Что за ограничения?](https://yandex.ru/support/marketplace/quality/score/fbs.html)  {% endnote %}  Переносить заказы можно, если до формирования отгрузки осталось больше получаса.  Перенос происходит не мгновенно, а занимает несколько минут.  |**⚙️ Лимит:** 200 запросов в час| |-| 
     */
    @POST
    @Path("/first-mile/shipments/{shipmentId}/orders/transfer")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    EmptyApiResponse transferOrdersFromShipment(@PathParam("campaignId") Long campaignId, @PathParam("shipmentId") Long shipmentId, TransferOrdersFromShipmentRequest transferOrdersFromShipmentRequest) throws ApiException, ProcessingException;
}
