/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.8.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class BusinessesApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /businesses/{businessId}/settings : Настройки кабинета
        **/
        rest()
            .securityDefinitions()
                .oauth2("OAuth")
                    .flow("implicit")
                    .authorizationUrl("https://oauth.yandex.ru/authorize")
                        .withScope("market:partner-api","API Яндекс.Маркета / Поиска по товарам для партнеров")
                
            .endSecurityDefinition()
            .post("/businesses/{businessId}/settings")
                .description("Настройки кабинета")
                .id("getBusinessSettingsApi")
                .produces("application/json")
                .outType(GetBusinessSettingsResponse.class)
                .param()
                    .name("businessId")
                    .type(RestParamType.path)
                    .required(true)
                    .description("Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) ")
                .endParam()
                .to("direct:getBusinessSettings");
        
    }
}
