/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.8.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class CategoriesApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /categories/max-sale-quantum : Лимит на установку кванта продажи и минимального количества товаров в заказе
        **/
        rest()
            .securityDefinitions()
                .oauth2("OAuth")
                    .flow("implicit")
                    .authorizationUrl("https://oauth.yandex.ru/authorize")
                        .withScope("market:partner-api","API Яндекс.Маркета / Поиска по товарам для партнеров")
                
            .endSecurityDefinition()
            .post("/categories/max-sale-quantum")
                .description("Лимит на установку кванта продажи и минимального количества товаров в заказе")
                .id("getCategoriesMaxSaleQuantumApi")
                .produces("application/json")
                .outType(GetCategoriesMaxSaleQuantumResponse.class)
                .consumes("application/json")
                .type(GetCategoriesMaxSaleQuantumRequest.class)
                
                .param()
                    .name("getCategoriesMaxSaleQuantumRequest")
                    .type(RestParamType.body)
                    .required(true)
                .endParam()
                .to("direct:getCategoriesMaxSaleQuantum");
        

        /**
        POST /categories/tree : Дерево категорий
        **/
        rest()
            .securityDefinitions()
                .oauth2("OAuth")
                    .flow("implicit")
                    .authorizationUrl("https://oauth.yandex.ru/authorize")
                        .withScope("market:partner-api","API Яндекс.Маркета / Поиска по товарам для партнеров")
                
            .endSecurityDefinition()
            .post("/categories/tree")
                .description("Дерево категорий")
                .id("getCategoriesTreeApi")
                .produces("application/json")
                .outType(GetCategoriesResponse.class)
                .consumes("application/json")
                .type(GetCategoriesRequest.class)
                
                .param()
                    .name("getCategoriesRequest")
                    .type(RestParamType.body)
                    .required(false)
                .endParam()
                .to("direct:getCategoriesTree");
        
    }
}
