/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.8.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class DeliveryServicesApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /delivery/services : Справочник служб доставки
        **/
        rest()
            .securityDefinitions()
                .oauth2("OAuth")
                    .flow("implicit")
                    .authorizationUrl("https://oauth.yandex.ru/authorize")
                        .withScope("market:partner-api","API Яндекс.Маркета / Поиска по товарам для партнеров")
                
            .endSecurityDefinition()
            .get("/delivery/services")
                .description("Справочник служб доставки")
                .id("getDeliveryServicesApi")
                .produces("application/json")
                .outType(GetDeliveryServicesResponse.class)
                .to("direct:getDeliveryServices");
        
    }
}
