/*
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ApiClientDataErrorResponse;
import org.openapitools.model.ApiForbiddenErrorResponse;
import org.openapitools.model.ApiLimitErrorResponse;
import org.openapitools.model.ApiNotFoundErrorResponse;
import org.openapitools.model.ApiServerErrorResponse;
import org.openapitools.model.ApiUnauthorizedErrorResponse;
import org.openapitools.model.GenerateBoostConsolidatedRequest;
import org.openapitools.model.GenerateCompetitorsPositionReportRequest;
import org.openapitools.model.GenerateGoodsFeedbackRequest;
import org.openapitools.model.GenerateGoodsMovementReportRequest;
import org.openapitools.model.GenerateGoodsRealizationReportRequest;
import org.openapitools.model.GenerateGoodsTurnoverRequest;
import org.openapitools.model.GenerateMassOrderLabelsRequest;
import org.openapitools.model.GeneratePricesReportRequest;
import org.openapitools.model.GenerateReportResponse;
import org.openapitools.model.GenerateShelfsStatisticsRequest;
import org.openapitools.model.GenerateShipmentListDocumentReportRequest;
import org.openapitools.model.GenerateShowsSalesReportRequest;
import org.openapitools.model.GenerateStocksOnWarehousesReportRequest;
import org.openapitools.model.GenerateUnitedMarketplaceServicesReportRequest;
import org.openapitools.model.GenerateUnitedNettingReportRequest;
import org.openapitools.model.GenerateUnitedOrdersRequest;
import org.openapitools.model.GetReportInfoResponse;
import org.openapitools.model.PageFormatType;
import org.openapitools.model.ReportFormatType;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2024-09-09T21:59:28.310012434Z[Etc/UTC]", comments = "Generator version: 7.8.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ReportsApi {
    /**
     * Отчет по бусту продаж
     * Запускает генерацию **сводного отчета по бусту продаж** за заданный период. Отчет содержит информацию по всем кампаниям, созданным и через API, и в кабинете.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateBoostConsolidatedRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/boost-consolidated/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateBoostConsolidatedReport(
        @Body @NotNull @Valid GenerateBoostConsolidatedRequest generateBoostConsolidatedRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет «Конкурентная позиция»
     * Запускает генерацию **отчета «Конкурентная позиция»** за заданный период. [Что это за отчет](https://yandex.ru/support2/marketplace/ru/analytics/competitors.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  {% note info \&quot;Значение -1 в отчете\&quot; %}  Если в CSV-файле в столбце **POSITION** стоит -1, в этот день не было заказов с товарами в указанной категории.  {% endnote %}  |**⚙️ Лимит:** 10 запросов в час| |-| 
     *
     * @param generateCompetitorsPositionReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/competitors-position/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateCompetitorsPositionReport(
        @Body @NotNull @Valid GenerateCompetitorsPositionReportRequest generateCompetitorsPositionReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по отзывам о товарах
     * Запускает генерацию **отчета по отзывам о товарах**. [Что это за отчет](https://yandex.ru/support2/marketplace/ru/marketing/plus-reviews#stat)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateGoodsFeedbackRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/goods-feedback/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateGoodsFeedbackReport(
        @Body @NotNull @Valid GenerateGoodsFeedbackRequest generateGoodsFeedbackRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по движению товаров
     * Запускает генерацию **отчета по движению товаров**. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports-fby-fbs.html#flow)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateGoodsMovementReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/goods-movement/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateGoodsMovementReport(
        @Body @NotNull @Valid GenerateGoodsMovementReportRequest generateGoodsMovementReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по реализации
     * Запускает генерацию **отчета по реализации** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports-fby-fbs.html#sales-report)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateGoodsRealizationReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/goods-realization/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateGoodsRealizationReport(
        @Body @NotNull @Valid GenerateGoodsRealizationReportRequest generateGoodsRealizationReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по оборачиваемости
     * Запускает генерацию **отчета по оборачиваемости** за заданную дату.  [Что это за отчет](https://yandex.ru/support/marketplace/analytics/turnover.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateGoodsTurnoverRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/goods-turnover/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateGoodsTurnoverReport(
        @Body @NotNull @Valid GenerateGoodsTurnoverRequest generateGoodsTurnoverRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Готовые ярлыки‑наклейки на все коробки в нескольких заказах
     * Запускает генерацию PDF-файла с ярлыками для переданных заказов. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).  Узнать статус генерации и получить ссылку на готовый файл можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 1000 запросов в час| |-| 
     *
     * @param generateMassOrderLabelsRequest  (required)
     * @param _format Настройка размещения ярлыков на странице. Если параметра нет, возвращается PDF с ярлыками формата A7. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/documents/labels/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateMassOrderLabelsReport(
        @Body @NotNull @Valid GenerateMassOrderLabelsRequest generateMassOrderLabelsRequest, 
        @QueryValue(value="format") @Nullable PageFormatType _format
    );

    /**
     * Отчет «Цены на рынке»
     * Запускает генерацию **отчета «Цены на рынке»**.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generatePricesReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/prices/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generatePricesReport(
        @Body @NotNull @Valid GeneratePricesReportRequest generatePricesReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по полкам
     * Запускает генерацию **сводного отчета по полкам** — рекламным блокам с баннером или видео и набором товаров. Подробнее о них читайте [в Справке Маркета для продавцов](https://yandex.ru/support2/marketplace/ru/marketing/shelf).  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateShelfsStatisticsRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/shelf-statistics/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateShelfsStatisticsReport(
        @Body @NotNull @Valid GenerateShelfsStatisticsRequest generateShelfsStatisticsRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Получение листа сборки
     * Запускает генерацию **листа сборки** для отгрузки.  Узнать статус генерации и получить ссылку на готовый документ можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateShipmentListDocumentReportRequest  (required)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/documents/shipment-list/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateShipmentListDocumentReport(
        @Body @NotNull @Valid GenerateShipmentListDocumentReportRequest generateShipmentListDocumentReportRequest
    );

    /**
     * Отчет «Аналитика продаж»
     * Запускает генерацию **отчета «Аналитика продаж»** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/shows-sales.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 10 запросов в час| |-| 
     *
     * @param generateShowsSalesReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/shows-sales/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateShowsSalesReport(
        @Body @NotNull @Valid GenerateShowsSalesReportRequest generateShowsSalesReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по остаткам на складах
     * Запускает генерацию **отчета по остаткам на складах**. Отчет содержит данные:  * Для модели FBY — об остатках на складах Маркета. * Для остальных моделей — об остатках на соответствующем складе магазина.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateStocksOnWarehousesReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/stocks-on-warehouses/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateStocksOnWarehousesReport(
        @Body @NotNull @Valid GenerateStocksOnWarehousesReportRequest generateStocksOnWarehousesReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по стоимости услуг
     * Запускает генерацию **отчета по стоимости услуг** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports.html)  Тип отчета зависит от того, какие поля заполнены в запросе:  |**Тип отчета**               |**Какие поля нужны**             | |-----------------------------|---------------------------------| |По дате начисления услуги    |&#x60;dateFrom&#x60; и &#x60;dateTo&#x60;            | |По дате формирования акта    |&#x60;year&#x60; и &#x60;month&#x60;                 |  Заказать отчеты обоих типов одним запросом нельзя.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateUnitedMarketplaceServicesReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/united-marketplace-services/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateUnitedMarketplaceServicesReport(
        @Body @NotNull @Valid GenerateUnitedMarketplaceServicesReportRequest generateUnitedMarketplaceServicesReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по платежам
     * Запускает генерацию **отчета по платежам** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/transactions.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  Тип отчета зависит от того, какие поля заполнены в запросе:  |**Тип отчета**           |**Какие поля нужны**                   | |-------------------------|---------------------------------------| |О платежах за период     |&#x60;dateFrom&#x60; и &#x60;dateTo&#x60;                  | |О платежном поручении    |&#x60;bankOrderId&#x60; и &#x60;bankOrderDateTime&#x60;    |  Заказать отчеты обоих типов одним запросом нельзя.  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateUnitedNettingReportRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/united-netting/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateUnitedNettingReport(
        @Body @NotNull @Valid GenerateUnitedNettingReportRequest generateUnitedNettingReportRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Отчет по заказам
     * Запускает генерацию **отчета по заказам** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/orders.html)  {% note info \&quot;\&quot; %}  Это новый отчет. Раньше мы так называли генерацию детальной информации по заказам. [Как получить детальную информацию по заказам](../../reference/stats/getOrdersStats.md)  {% endnote %}  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
     *
     * @param generateUnitedOrdersRequest  (required)
     * @param _format Формат отчета. (optional)
     * @return GenerateReportResponse
     */
    @Post(uri="/reports/united-orders/generate")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenerateReportResponse> generateUnitedOrdersReport(
        @Body @NotNull @Valid GenerateUnitedOrdersRequest generateUnitedOrdersRequest, 
        @QueryValue(value="format") @Nullable ReportFormatType _format
    );

    /**
     * Получение заданного отчета
     * Возвращает статус генерации заданного отчета и, если отчет готов, ссылку для скачивания.  Чтобы воспользоваться этим запросом, вначале нужно запустить генерацию отчета. [Инструкция](../../step-by-step/reports.md)  |**⚙️ Лимит:** 100 запросов в минуту| |-| 
     *
     * @param reportId Идентификатор отчета, который вы получили после запуска генерации.  (required)
     * @return GetReportInfoResponse
     */
    @Get(uri="/reports/info/{reportId}")
    @Consumes({"application/json"})
    Mono<GetReportInfoResponse> getReportInfo(
        @PathVariable(name="reportId") @NotNull String reportId
    );

}
