/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.8.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class TariffsApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /tariffs/calculate : Калькулятор стоимости услуг
        **/
        rest()
            .securityDefinitions()
                .oauth2("OAuth")
                    .flow("implicit")
                    .authorizationUrl("https://oauth.yandex.ru/authorize")
                        .withScope("market:partner-api","API Яндекс.Маркета / Поиска по товарам для партнеров")
                
            .endSecurityDefinition()
            .post("/tariffs/calculate")
                .description("Калькулятор стоимости услуг")
                .id("calculateTariffsApi")
                .produces("application/json")
                .outType(CalculateTariffsResponse.class)
                .consumes("application/json")
                .type(CalculateTariffsRequest.class)
                
                .param()
                    .name("calculateTariffsRequest")
                    .type(RestParamType.body)
                    .required(true)
                .endParam()
                .to("direct:calculateTariffs");
        
    }
}
