/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.GetCategoriesMaxSaleQuantumRequest
import io.swagger.client.model.GetCategoriesMaxSaleQuantumResponse
import io.swagger.client.model.GetCategoriesRequest
import io.swagger.client.model.GetCategoriesResponse

trait CategoriesApi extends Service {


  final override def descriptor = {
    import Service._
    named("CategoriesApi").withCalls(
      restCall(Method.POST, "/categories/max-sale-quantum", getCategoriesMaxSaleQuantum _), 
      restCall(Method.POST, "/categories/tree", getCategoriesTree _)
    ).withAutoAcl(true)
  }


  /**
    * Лимит на установку кванта продажи и минимального количества товаров в заказе
    * Возвращает лимит на установку [кванта](*quantum) и минимального количества товаров в заказе, которые вы можете задать для товаров указанных категорий.  Если вы передадите значение кванта или минимального количества товаров выше установленного Маркетом ограничения, товар будет скрыт с витрины.  Подробнее о том, как продавать товары по несколько штук, читайте [в Справке Маркета для продавцов](https://yandex.ru/support2/marketplace/ru/assortment/fields/quantum).  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @return GetCategoriesMaxSaleQuantumResponse Body Parameter   
    */
  def getCategoriesMaxSaleQuantum(): ServiceCall[GetCategoriesMaxSaleQuantumRequest ,GetCategoriesMaxSaleQuantumResponse]
  
  /**
    * Дерево категорий
    * Возвращает дерево категорий Маркета.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @return GetCategoriesResponse Body Parameter   
    */
  def getCategoriesTree(): ServiceCall[GetCategoriesRequest ,GetCategoriesResponse]
  

  }
