/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.CreateChatRequest
import io.swagger.client.model.CreateChatResponse
import io.swagger.client.model.EmptyApiResponse
import java.io.File
import io.swagger.client.model.GetChatHistoryRequest
import io.swagger.client.model.GetChatHistoryResponse
import io.swagger.client.model.GetChatsRequest
import io.swagger.client.model.GetChatsResponse
import io.swagger.client.model.SendMessageToChatRequest

trait ChatsApi extends Service {


  final override def descriptor = {
    import Service._
    named("ChatsApi").withCalls(
      restCall(Method.POST, "/businesses/:businessId/chats/new", createChat _), 
      restCall(Method.POST, "/businesses/:businessId/chats/history?chatId&pageToken&limit", getChatHistory _), 
      restCall(Method.POST, "/businesses/:businessId/chats?pageToken&limit", getChats _), 
      restCall(Method.POST, "/businesses/:businessId/chats/file/send?chatId", sendFileToChat _), 
      restCall(Method.POST, "/businesses/:businessId/chats/message?chatId", sendMessageToChat _)
    ).withAutoAcl(true)
  }


  /**
    * Создание нового чата с покупателем
    * Создает новый чат с покупателем.  |**⚙️ Лимит:** 1000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return CreateChatResponse Body Parameter  description 
    */
  def createChat(businessId: Long): ServiceCall[CreateChatRequest ,CreateChatResponse]
        
  /**
    * Получение истории сообщений в чате
    * Возвращает историю сообщений в чате с покупателем.  |**⚙️ Лимит:** 10000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @param chatId Идентификатор чата.   
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional)
    * @return GetChatHistoryResponse Body Parameter  description 
    */
  def getChatHistory(chatId:Long          ,pageToken:           Option[String] = None,limit:           Option[Int] = NonebusinessId: Long): ServiceCall[GetChatHistoryRequest ,GetChatHistoryResponse]
        
  /**
    * Получение доступных чатов
    * Возвращает ваши чаты с покупателями.  |**⚙️ Лимит:** 10000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)    
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional)
    * @return GetChatsResponse Body Parameter  description 
    */
  def getChats(pageToken:           Option[String] = None,limit:           Option[Int] = NonebusinessId: Long): ServiceCall[GetChatsRequest ,GetChatsResponse]
        


  // file:File  -- not yet supported x-www-form-urlencoded
  /**
    * Отправка файла в чат
    * Отправляет файл в чат с покупателем.  |**⚙️ Лимит:** 1000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @param chatId Идентификатор чата.  
    * @param file Содержимое файла. Максимальный размер файла — 5 Мбайт. 
    * @return EmptyApiResponse
    */
  def sendFileToChat(chatId:Long          businessId: Long): ServiceCall[NotUsed ,EmptyApiResponse]
        
  /**
    * Отправка сообщения в чат
    * Отправляет сообщение в чат с покупателем.  |**⚙️ Лимит:** 1000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @param chatId Идентификатор чата.  
    * @return EmptyApiResponse Body Parameter  description 
    */
  def sendMessageToChat(chatId:Long          businessId: Long): ServiceCall[SendMessageToChatRequest ,EmptyApiResponse]
  

  }
