/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.DeleteGoodsFeedbackCommentRequest
import io.swagger.client.model.EmptyApiResponse
import io.swagger.client.model.GetGoodsFeedbackCommentsRequest
import io.swagger.client.model.GetGoodsFeedbackCommentsResponse
import io.swagger.client.model.GetGoodsFeedbackRequest
import io.swagger.client.model.GetGoodsFeedbackResponse
import io.swagger.client.model.SkipGoodsFeedbackReactionRequest
import io.swagger.client.model.UpdateGoodsFeedbackCommentRequest
import io.swagger.client.model.UpdateGoodsFeedbackCommentResponse

trait GoodsFeedbackApi extends Service {


  final override def descriptor = {
    import Service._
    named("GoodsFeedbackApi").withCalls(
      restCall(Method.POST, "/businesses/:businessId/goods-feedback/comments/delete", deleteGoodsFeedbackComment _), 
      restCall(Method.POST, "/businesses/:businessId/goods-feedback/comments?pageToken&limit", getGoodsFeedbackComments _), 
      restCall(Method.POST, "/businesses/:businessId/goods-feedback?pageToken&limit", getGoodsFeedbacks _), 
      restCall(Method.POST, "/businesses/:businessId/goods-feedback/skip-reaction", skipGoodsFeedbacksReaction _), 
      restCall(Method.POST, "/businesses/:businessId/goods-feedback/comments/update", updateGoodsFeedbackComment _)
    ).withAutoAcl(true)
  }


  /**
    * Удаление комментария к отзыву
    * Удаляет комментарий магазина.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return EmptyApiResponse Body Parameter   
    */
  def deleteGoodsFeedbackComment(businessId: Long): ServiceCall[DeleteGoodsFeedbackCommentRequest ,EmptyApiResponse]
        
  /**
    * Получение комментариев к отзыву
    * Возвращает комментарии к отзыву.  Результаты возвращаются постранично, одна страница содержит не более 20 комментариев.  Комментарии расположены в порядке публикации, поэтому вы можете передавать определенный идентификатор страницы в &#x60;page_token&#x60;, если вы получали его ранее.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)    
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional)
    * @return GetGoodsFeedbackCommentsResponse Body Parameter   
    */
  def getGoodsFeedbackComments(pageToken:           Option[String] = None,limit:           Option[Int] = NonebusinessId: Long): ServiceCall[GetGoodsFeedbackCommentsRequest ,GetGoodsFeedbackCommentsResponse]
        
  /**
    * Получение отзывов о товарах продавца
    * Возвращает все отзывы о товарах продавца по указанным фильтрам.  Результаты возвращаются постранично, одна страница содержит не более 20 отзывов.  Отзывы расположены в порядке публикации, поэтому вы можете передавать определенный идентификатор страницы в &#x60;page_token&#x60;, если вы получали его ранее.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional) 
    * @return GetGoodsFeedbackResponse Body Parameter   
    */
  def getGoodsFeedbacks(pageToken:           Option[String] = None,limit:           Option[Int] = NonebusinessId: Long): ServiceCall[GetGoodsFeedbackRequest ,GetGoodsFeedbackResponse]
  
  /**
    * Отказ от ответа на отзывы
    * Пропускает отзывы — они больше не будут возвращаться в методе получения всех отзывов [POST businesses/{businessId}/goods-feedback](../../reference/goods-feedback/getGoodsFeedbacks.md).  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return EmptyApiResponse Body Parameter   
    */
  def skipGoodsFeedbacksReaction(businessId: Long): ServiceCall[SkipGoodsFeedbackReactionRequest ,EmptyApiResponse]
  
  /**
    * Добавление нового или изменение созданного комментария
    * Добавляет новый комментарий магазина или изменяет комментарий, который магазин оставлял ранее.  Для создания комментария к отзыву передайте только идентификатор отзыва &#x60;feedbackId&#x60;.  Чтобы добавить комментарий к другому комментарию, передайте:  * &#x60;feedbackId&#x60; — идентификатор отзыва; * &#x60;comment.parentId&#x60; — идентификатор родительского комментария.  Чтобы изменить комментарий, передайте:  * &#x60;feedbackId&#x60;— идентификатор отзыва; * &#x60;comment.id&#x60; — идентификатор комментария, который нужно изменить.  Если передать одновременно &#x60;comment.parentId&#x60; и &#x60;comment.id&#x60;, будет изменен существующий комментарий.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return UpdateGoodsFeedbackCommentResponse Body Parameter   
    */
  def updateGoodsFeedbackComment(businessId: Long): ServiceCall[UpdateGoodsFeedbackCommentRequest ,UpdateGoodsFeedbackCommentResponse]
  

  }
