/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiLockedErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.CurrencyType
import io.swagger.client.model.DeleteCampaignOffersRequest
import io.swagger.client.model.DeleteCampaignOffersResponse
import io.swagger.client.model.EmptyApiResponse
import io.swagger.client.model.GetAllOffersResponse
import io.swagger.client.model.GetCampaignOffersRequest
import io.swagger.client.model.GetCampaignOffersResponse
import io.swagger.client.model.GetOfferRecommendationsRequest
import io.swagger.client.model.GetOfferRecommendationsResponse
import io.swagger.client.model.GetOffersResponse
import io.swagger.client.model.UpdateCampaignOffersRequest

trait OffersApi extends Service {


  final override def descriptor = {
    import Service._
    named("OffersApi").withCalls(
      restCall(Method.POST, "/campaigns/:campaignId/offers/delete", deleteCampaignOffers _), 
      restCall(Method.GET, "/campaigns/:campaignId/offers/all?feedId&chunk", getAllOffers _), 
      restCall(Method.POST, "/campaigns/:campaignId/offers?pageToken&limit", getCampaignOffers _), 
      restCall(Method.POST, "/businesses/:businessId/offers/recommendations?pageToken&limit", getOfferRecommendations _), 
      restCall(Method.GET, "/campaigns/:campaignId/offers?query&feedId&shopCategoryId&currency&matched&page&pageSize", getOffers _), 
      restCall(Method.POST, "/campaigns/:campaignId/offers/update", updateCampaignOffers _)
    ).withAutoAcl(true)
  }


  /**
    * Удаление товаров из ассортимента магазина
    * Удаляет заданные товары из заданного магазина.  {% note warning \&quot;Запрос удаляет товары именно из конкретного магазина\&quot; %}  На продажи в других магазинах и на наличие товара в общем каталоге он не влияет.  {% endnote %}  Товар не получится удалить, если он хранится на складах Маркета.  |**⚙️ Лимит:** 5000 товаров в минуту| |-| 
    *  
    * @param campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return DeleteCampaignOffersResponse Body Parameter   
    */
  def deleteCampaignOffers(campaignId: Long): ServiceCall[DeleteCampaignOffersRequest ,DeleteCampaignOffersResponse]
        
  /**
    * Все предложения магазина
    * {% note warning \&quot;\&quot; %}  Этот метод устарел. Не используйте его.  {% endnote %}  Позволяет максимально быстро получить информацию обо всех предложениях магазина, размещенных на Маркете. Возвращает результат в виде сегментов нефиксированного размера.  В ответе на запрос для каждого найденного предложения указывается URL и наименование этого предложения, его цена и валюта, в которой она указана, карточка модели Яндекс Маркета, с которой соотнесено предложение, а также аукционные ставки на него.  {% note info %}  Количество предложений считается по данным за последние семь дней (не включая сегодня).  Для новых магазинов, еще не разместивших предложения, ограничение равно 0 и пересчитывается на следующий день после размещения первых предложений.  {% endnote %}  |**⚙️ Лимит:** рассчитывается по [формуле](*rule)| |-|  [//]: &lt;&gt; (rule: суточный лимит товаров — среднее количество таваров в каталоге за неделю * 25) 
    *  
    * @param campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @param feedId Идентификатор прайс-листа. (optional) 
    * @param chunk Номер сегмента с результатами.  Значение по умолчанию: &#x60;0&#x60;.  {% note info %}  Номера сегментов запрашиваются последовательно, пока не будет получен сегмент с пустым ответом. Пустой ответ означает, что все предложения магазина получены.  {% endnote %}  {% note alert %}  Нумерация начинается с 0. Чтобы запросить первую страницу, необходимо указать &#x60;chunk&#x3D;0&#x60; и т. д.  {% endnote %}  (optional)
    * @return GetAllOffersResponse
    */
  def getAllOffers(feedId:           Option[Long] = None,chunk:           Option[Int] = NonecampaignId: Long): ServiceCall[NotUsed ,GetAllOffersResponse]
        
  /**
    * Информация о товарах, которые размещены в заданном магазине
    * Возвращает список товаров, которые размещены в заданном магазине. Для каждого товара указываются параметры размещения.  |**⚙️ Лимит:** 5000 товаров в минуту| |-| 
    *  
    * @param campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)    
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional)
    * @return GetCampaignOffersResponse Body Parameter   
    */
  def getCampaignOffers(pageToken:           Option[String] = None,limit:           Option[Int] = NonecampaignId: Long): ServiceCall[GetCampaignOffersRequest ,GetCampaignOffersResponse]
        
  /**
    * Рекомендации Маркета, касающиеся цен
    * Метод возвращает рекомендации нескольких типов.  **1. Порог для привлекательной цены. Он нужен для участия в софинансировании скидок.**  Показывает, какие **цены для участия** нужно установить, чтобы получить максимальные шансы на срабатывание скидок, софинансируемых Маркетом. [Как это устроено](https://yandex.ru/support/marketplace/marketing/smart-pricing.html#sponsored-discounts)  **2. Оценка привлекательности цен на витрине.**  Привлекательность влияет на вероятность срабатывания скидок за счет Маркета. [Как это устроено](https://yandex.ru/support/marketplace/marketing/smart-pricing.html#validation)  В запросе можно использовать фильтры.  Результаты возвращаются постранично.  |**⚙️ Лимит:** 100 запросов в минуту| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)    
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional)
    * @return GetOfferRecommendationsResponse Body Parameter   
    */
  def getOfferRecommendations(pageToken:           Option[String] = None,limit:           Option[Int] = NonebusinessId: Long): ServiceCall[GetOfferRecommendationsRequest ,GetOfferRecommendationsResponse]
        
  /**
    * Предложения магазина
    * {% note warning \&quot;\&quot; %}  Этот метод устарел. Не используйте его.  {% endnote %}  Позволяет фильтровать информацию о предложениях магазина, размещенных на Маркете, и искать предложения по заданному поисковому запросу.  Поиск предложений, размещенных на Маркете, работает по поисковому запросу аналогично поиску Маркета. Результаты возвращаются с использованием пейджера.  В ответе на запрос для каждого найденного предложения указывается URL и наименование этого предложения, его цена и валюта, в которой она указана, карточка модели Маркета, с которой соотнесено предложение, и аукционные ставки на него.  {% note info %}  Из-за особенностей поиска Маркета иногда на последних страницах пейджера фактическое количество результатов оказывается меньше количества, указанного ранее на предыдущих страницах.  В связи с этим настоятельно рекомендуется анализировать содержимое параметра pager для каждой полученной страницы.  {% endnote %}  {% note info %}  Количество предложений считается по данным за последние семь дней (не включая сегодня).  Для новых магазинов, еще не разместивших предложения, ограничение равно 0 и пересчитывается на следующий день после размещения первых предложений.  {% endnote %}  |**⚙️ Лимит:** рассчитывается по [формуле](*rule)| |-|  [//]: &lt;&gt; (rule: суточный лисит товаров — среднее количество таваров в каталоге за неделю * 25) 
    *  
    * @param campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @param query Поисковый запрос.  Поддерживается язык запросов.  Значение по умолчанию: все предложения магазина, размещенные на Маркете.  (optional) 
    * @param feedId Идентификатор прайс-листа. (optional) 
    * @param shopCategoryId Идентификатор категории предложения, указанный магазином в прайс-листе.  Параметр выводится только для предложений, у которых указана категория в прайс-листе.  Параметр доступен начиная с версии 2.0 партнерского API.  (optional) 
    * @param currency Валюта, в которой указана цена предложения.  Возможные значения:  * &#x60;BYN&#x60; — белорусский рубль.  * &#x60;KZT&#x60; — казахстанский тенге.  * &#x60;RUR&#x60; — российский рубль.  * &#x60;UAH&#x60; — украинская гривна.  (optional) 
    * @param matched Фильтр по признаку соотнесения предложения и карточки модели.  Возможные значения:  * &#x60;0 / FALSE / NO&#x60; — поиск выполняется среди предложений, не соотнесенных ни с какой карточкой модели.  * &#x60;1 / TRUE / YES&#x60; — поиск выполняется среди предложений, соотнесенных с карточками моделей).  (optional) 
    * @param page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;.  (optional, default to 1) 
    * @param pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;.  (optional)
    * @return GetOffersResponse
    */
  def getOffers(query:           Option[String] = None,feedId:           Option[Long] = None,shopCategoryId:           Option[String] = None,currency:           Option[CurrencyType] = None,matched:           Option[Boolean] = None,page:           Option[Int] /* = 1*/,pageSize:           Option[Int] = NonecampaignId: Long): ServiceCall[NotUsed ,GetOffersResponse]
  
  /**
    * Изменение условий продажи товаров в магазине
    * Изменяет параметры продажи товаров в конкретном магазине: доступность товара, условия доставки и самовывоза, применяемую ставку НДС.  |**⚙️ Лимит:** 5000 товаров в минуту| |-| 
    *  
    * @param campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return EmptyApiResponse Body Parameter   
    */
  def updateCampaignOffers(campaignId: Long): ServiceCall[UpdateCampaignOffersRequest ,EmptyApiResponse]
  

  }
