/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.DeletePromoOffersRequest
import io.swagger.client.model.DeletePromoOffersResponse
import io.swagger.client.model.GetPromoOffersRequest
import io.swagger.client.model.GetPromoOffersResponse
import io.swagger.client.model.GetPromosRequest
import io.swagger.client.model.GetPromosResponse
import io.swagger.client.model.UpdatePromoOffersRequest
import io.swagger.client.model.UpdatePromoOffersResponse

trait PromosApi extends Service {


  final override def descriptor = {
    import Service._
    named("PromosApi").withCalls(
      restCall(Method.POST, "/businesses/:businessId/promos/offers/delete", deletePromoOffers _), 
      restCall(Method.POST, "/businesses/:businessId/promos/offers?pageToken&limit", getPromoOffers _), 
      restCall(Method.POST, "/businesses/:businessId/promos", getPromos _), 
      restCall(Method.POST, "/businesses/:businessId/promos/offers/update", updatePromoOffers _)
    ).withAutoAcl(true)
  }


  /**
    * Удаление товаров из акции
    * Убирает товары из акции.  Изменения начинают действовать в течение 4–6 часов.  |**⚙️ Лимит:** 10000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return DeletePromoOffersResponse Body Parameter   
    */
  def deletePromoOffers(businessId: Long): ServiceCall[DeletePromoOffersRequest ,DeletePromoOffersResponse]
        
  /**
    * Получение списка товаров, которые участвуют или могут участвовать в акции
    * Возвращает список товаров, которые участвуют или могут участвовать в акции.  {% note warning %}  В параметре &#x60;limit&#x60; не передавайте значение больше 500.  {% endnote %}  |**⚙️ Лимит:** 10000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)    
    * @param pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются.  (optional) 
    * @param limit Количество значений на одной странице.  (optional)
    * @return GetPromoOffersResponse Body Parameter   
    */
  def getPromoOffers(pageToken:           Option[String] = None,limit:           Option[Int] = NonebusinessId: Long): ServiceCall[GetPromoOffersRequest ,GetPromoOffersResponse]
  
  /**
    * Получение списка акций
    * Возвращает информацию об акциях Маркета.  По умолчанию возвращаются акции, в которых продавец участвует или может принять участие.  Чтобы получить текущие или завершенные акции, передайте параметр &#x60;participation&#x60;.  Типы акций, которые возвращаются в ответе:  * прямая скидка; * флеш-акция; * скидка по промокоду.  |**⚙️ Лимит:** 1000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return GetPromosResponse Body Parameter   
    */
  def getPromos(businessId: Long): ServiceCall[GetPromosRequest ,GetPromosResponse]
  
  /**
    * Добавление товаров в акцию или изменение их цен
    * Добавляет товары в акцию или изменяет цены на товары, которые участвуют в акции.  Изменения начинают действовать в течение 4–6 часов.  |**⚙️ Лимит:** 10000 запросов в час| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)   
    * @return UpdatePromoOffersResponse Body Parameter   
    */
  def updatePromoOffers(businessId: Long): ServiceCall[UpdatePromoOffersRequest ,UpdatePromoOffersResponse]
  

  }
