/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.GenerateBoostConsolidatedRequest
import io.swagger.client.model.GenerateCompetitorsPositionReportRequest
import io.swagger.client.model.GenerateGoodsFeedbackRequest
import io.swagger.client.model.GenerateGoodsMovementReportRequest
import io.swagger.client.model.GenerateGoodsRealizationReportRequest
import io.swagger.client.model.GenerateGoodsTurnoverRequest
import io.swagger.client.model.GenerateMassOrderLabelsRequest
import io.swagger.client.model.GeneratePricesReportRequest
import io.swagger.client.model.GenerateReportResponse
import io.swagger.client.model.GenerateShelfsStatisticsRequest
import io.swagger.client.model.GenerateShipmentListDocumentReportRequest
import io.swagger.client.model.GenerateShowsSalesReportRequest
import io.swagger.client.model.GenerateStocksOnWarehousesReportRequest
import io.swagger.client.model.GenerateUnitedMarketplaceServicesReportRequest
import io.swagger.client.model.GenerateUnitedNettingReportRequest
import io.swagger.client.model.GenerateUnitedOrdersRequest
import io.swagger.client.model.GetReportInfoResponse
import io.swagger.client.model.PageFormatType
import io.swagger.client.model.ReportFormatType

trait ReportsApi extends Service {


  final override def descriptor = {
    import Service._
    named("ReportsApi").withCalls(
      restCall(Method.POST, "/reports/boost-consolidated/generate?format", generateBoostConsolidatedReport _), 
      restCall(Method.POST, "/reports/competitors-position/generate?format", generateCompetitorsPositionReport _), 
      restCall(Method.POST, "/reports/goods-feedback/generate?format", generateGoodsFeedbackReport _), 
      restCall(Method.POST, "/reports/goods-movement/generate?format", generateGoodsMovementReport _), 
      restCall(Method.POST, "/reports/goods-realization/generate?format", generateGoodsRealizationReport _), 
      restCall(Method.POST, "/reports/goods-turnover/generate?format", generateGoodsTurnoverReport _), 
      restCall(Method.POST, "/reports/documents/labels/generate?format", generateMassOrderLabelsReport _), 
      restCall(Method.POST, "/reports/prices/generate?format", generatePricesReport _), 
      restCall(Method.POST, "/reports/shelf-statistics/generate?format", generateShelfsStatisticsReport _), 
      restCall(Method.POST, "/reports/documents/shipment-list/generate", generateShipmentListDocumentReport _), 
      restCall(Method.POST, "/reports/shows-sales/generate?format", generateShowsSalesReport _), 
      restCall(Method.POST, "/reports/stocks-on-warehouses/generate?format", generateStocksOnWarehousesReport _), 
      restCall(Method.POST, "/reports/united-marketplace-services/generate?format", generateUnitedMarketplaceServicesReport _), 
      restCall(Method.POST, "/reports/united-netting/generate?format", generateUnitedNettingReport _), 
      restCall(Method.POST, "/reports/united-orders/generate?format", generateUnitedOrdersReport _), 
      restCall(Method.GET, "/reports/info/:reportId", getReportInfo _)
    ).withAutoAcl(true)
  }

      
  /**
    * Отчет по бусту продаж
    * Запускает генерацию **сводного отчета по бусту продаж** за заданный период. Отчет содержит информацию по всем кампаниям, созданным и через API, и в кабинете.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateBoostConsolidatedReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateBoostConsolidatedRequest ,GenerateReportResponse]
        
  /**
    * Отчет «Конкурентная позиция»
    * Запускает генерацию **отчета «Конкурентная позиция»** за заданный период. [Что это за отчет](https://yandex.ru/support2/marketplace/ru/analytics/competitors.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  {% note info \&quot;Значение -1 в отчете\&quot; %}  Если в CSV-файле в столбце **POSITION** стоит -1, в этот день не было заказов с товарами в указанной категории.  {% endnote %}  |**⚙️ Лимит:** 10 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateCompetitorsPositionReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateCompetitorsPositionReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по отзывам о товарах
    * Запускает генерацию **отчета по отзывам о товарах**. [Что это за отчет](https://yandex.ru/support2/marketplace/ru/marketing/plus-reviews#stat)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateGoodsFeedbackReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateGoodsFeedbackRequest ,GenerateReportResponse]
        
  /**
    * Отчет по движению товаров
    * Запускает генерацию **отчета по движению товаров**. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports-fby-fbs.html#flow)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateGoodsMovementReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateGoodsMovementReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по реализации
    * Запускает генерацию **отчета по реализации** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports-fby-fbs.html#sales-report)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateGoodsRealizationReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateGoodsRealizationReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по оборачиваемости
    * Запускает генерацию **отчета по оборачиваемости** за заданную дату.  [Что это за отчет](https://yandex.ru/support/marketplace/analytics/turnover.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateGoodsTurnoverReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateGoodsTurnoverRequest ,GenerateReportResponse]
        
  /**
    * Готовые ярлыки‑наклейки на все коробки в нескольких заказах
    * Запускает генерацию PDF-файла с ярлыками для переданных заказов. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).  Узнать статус генерации и получить ссылку на готовый файл можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 1000 запросов в час| |-| 
    *   
    * @param format Настройка размещения ярлыков на странице. Если параметра нет, возвращается PDF с ярлыками формата A7. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateMassOrderLabelsReport(format:           Option[PageFormatType] = None): ServiceCall[GenerateMassOrderLabelsRequest ,GenerateReportResponse]
        
  /**
    * Отчет «Цены на рынке»
    * Запускает генерацию **отчета «Цены на рынке»**.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generatePricesReport(format:           Option[ReportFormatType] = None): ServiceCall[GeneratePricesReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по полкам
    * Запускает генерацию **сводного отчета по полкам** — рекламным блокам с баннером или видео и набором товаров. Подробнее о них читайте [в Справке Маркета для продавцов](https://yandex.ru/support2/marketplace/ru/marketing/shelf).  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateShelfsStatisticsReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateShelfsStatisticsRequest ,GenerateReportResponse]
  
  /**
    * Получение листа сборки
    * Запускает генерацию **листа сборки** для отгрузки.  Узнать статус генерации и получить ссылку на готовый документ можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *  
    * @return GenerateReportResponse Body Parameter   
    */
  def generateShipmentListDocumentReport(): ServiceCall[GenerateShipmentListDocumentReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет «Аналитика продаж»
    * Запускает генерацию **отчета «Аналитика продаж»** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/shows-sales.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 10 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateShowsSalesReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateShowsSalesReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по остаткам на складах
    * Запускает генерацию **отчета по остаткам на складах**. Отчет содержит данные:  * Для модели FBY — об остатках на складах Маркета. * Для остальных моделей — об остатках на соответствующем складе магазина.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateStocksOnWarehousesReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateStocksOnWarehousesReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по стоимости услуг
    * Запускает генерацию **отчета по стоимости услуг** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/reports.html)  Тип отчета зависит от того, какие поля заполнены в запросе:  |**Тип отчета**               |**Какие поля нужны**             | |-----------------------------|---------------------------------| |По дате начисления услуги    |&#x60;dateFrom&#x60; и &#x60;dateTo&#x60;            | |По дате формирования акта    |&#x60;year&#x60; и &#x60;month&#x60;                 |  Заказать отчеты обоих типов одним запросом нельзя.  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateUnitedMarketplaceServicesReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateUnitedMarketplaceServicesReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по платежам
    * Запускает генерацию **отчета по платежам** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/transactions.html)  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  Тип отчета зависит от того, какие поля заполнены в запросе:  |**Тип отчета**           |**Какие поля нужны**                   | |-------------------------|---------------------------------------| |О платежах за период     |&#x60;dateFrom&#x60; и &#x60;dateTo&#x60;                  | |О платежном поручении    |&#x60;bankOrderId&#x60; и &#x60;bankOrderDateTime&#x60;    |  Заказать отчеты обоих типов одним запросом нельзя.  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateUnitedNettingReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateUnitedNettingReportRequest ,GenerateReportResponse]
        
  /**
    * Отчет по заказам
    * Запускает генерацию **отчета по заказам** за заданный период. [Что это за отчет](https://yandex.ru/support/marketplace/analytics/orders.html)  {% note info \&quot;\&quot; %}  Это новый отчет. Раньше мы так называли генерацию детальной информации по заказам. [Как получить детальную информацию по заказам](../../reference/stats/getOrdersStats.md)  {% endnote %}  Узнать статус генерации и получить ссылку на готовый отчет можно с помощью запроса [GET reports/info/{reportId}](../../reference/reports/getReportInfo.md).  |**⚙️ Лимит:** 100 запросов в час| |-| 
    *   
    * @param format Формат отчета. (optional)
    * @return GenerateReportResponse Body Parameter   
    */
  def generateUnitedOrdersReport(format:           Option[ReportFormatType] = None): ServiceCall[GenerateUnitedOrdersRequest ,GenerateReportResponse]
  
  /**
    * Получение заданного отчета
    * Возвращает статус генерации заданного отчета и, если отчет готов, ссылку для скачивания.  Чтобы воспользоваться этим запросом, вначале нужно запустить генерацию отчета. [Инструкция](../../step-by-step/reports.md)  |**⚙️ Лимит:** 100 запросов в минуту| |-| 
    *  
    * @param reportId Идентификатор отчета, который вы получили после запуска генерации.  
    * @return GetReportInfoResponse
    */
  def getReportInfo(reportId: String): ServiceCall[NotUsed ,GetReportInfoResponse]
  

  }
