/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ApiClientDataErrorResponse
import io.swagger.client.model.ApiForbiddenErrorResponse
import io.swagger.client.model.ApiLimitErrorResponse
import io.swagger.client.model.ApiNotFoundErrorResponse
import io.swagger.client.model.ApiServerErrorResponse
import io.swagger.client.model.ApiUnauthorizedErrorResponse
import io.swagger.client.model.GetFulfillmentWarehousesResponse
import io.swagger.client.model.GetWarehousesResponse

trait WarehousesApi extends Service {


  final override def descriptor = {
    import Service._
    named("WarehousesApi").withCalls(
      restCall(Method.GET, "/warehouses", getFulfillmentWarehouses _), 
      restCall(Method.GET, "/businesses/:businessId/warehouses", getWarehouses _)
    ).withAutoAcl(true)
  }


  /**
    * Идентификаторы складов Маркета (FBY)
    * Возвращает список складов Маркета с их идентификаторами.  |**⚙️ Лимит:** 100 запросов в минуту| |-| 
    * 
    * @return GetFulfillmentWarehousesResponse
    */
  def getFulfillmentWarehouses(): ServiceCall[NotUsed ,GetFulfillmentWarehousesResponse]
  
  /**
    * Список складов и групп складов
    * Возвращает список складов и, если склады объединены, список групп складов. [Что такое группы складов и зачем они нужны](https://yandex.ru/support/marketplace/assortment/operations/stocks.html#unified-stocks)  Среди прочего запрос позволяет определить идентификатор, который нужно использовать при передаче остатков для группы складов.  |**⚙️ Лимит:** 100 запросов в минуту| |-| 
    *  
    * @param businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)  
    * @return GetWarehousesResponse
    */
  def getWarehouses(businessId: Long): ServiceCall[NotUsed ,GetWarehousesResponse]
  

  }
