/**
 * Партнерский API Маркета
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 * The version of the OpenAPI document: LATEST
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.ApiClientDataErrorResponse;
import org.openapitools.server.model.ApiForbiddenErrorResponse;
import org.openapitools.server.model.ApiLimitErrorResponse;
import org.openapitools.server.model.ApiNotFoundErrorResponse;
import org.openapitools.server.model.ApiServerErrorResponse;
import org.openapitools.server.model.ApiUnauthorizedErrorResponse;
import org.openapitools.server.model.DeleteGoodsFeedbackCommentRequest;
import org.openapitools.server.model.EmptyApiResponse;
import org.openapitools.server.model.GetGoodsFeedbackCommentsRequest;
import org.openapitools.server.model.GetGoodsFeedbackCommentsResponse;
import org.openapitools.server.model.GetGoodsFeedbackRequest;
import org.openapitools.server.model.GetGoodsFeedbackResponse;
import org.openapitools.server.model.SkipGoodsFeedbackReactionRequest;
import org.openapitools.server.model.UpdateGoodsFeedbackCommentRequest;
import org.openapitools.server.model.UpdateGoodsFeedbackCommentResponse;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;
import org.apache.cxf.jaxrs.ext.multipart.*;


import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * Партнерский API Маркета
 *
 * <p>API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов. 
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/businesses/{businessId}/goods-feedback")
public interface GoodsFeedbackApi  {

    /**
     * Удаление комментария к отзыву
     *
     * Удаляет комментарий магазина.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
     *
     */
    @POST
    @Path("/comments/delete")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    EmptyApiResponse deleteGoodsFeedbackComment(@PathParam("businessId") Long businessId, DeleteGoodsFeedbackCommentRequest deleteGoodsFeedbackCommentRequest) throws ApiException, ProcessingException;

    /**
     * Получение комментариев к отзыву
     *
     * Возвращает комментарии к отзыву.  Результаты возвращаются постранично, одна страница содержит не более 20 комментариев.  Комментарии расположены в порядке публикации, поэтому вы можете передавать определенный идентификатор страницы в &#x60;page_token&#x60;, если вы получали его ранее.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
     *
     */
    @POST
    @Path("/comments")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GetGoodsFeedbackCommentsResponse getGoodsFeedbackComments(@PathParam("businessId") Long businessId, GetGoodsFeedbackCommentsRequest getGoodsFeedbackCommentsRequest, @QueryParam("page_token") String pageToken, @QueryParam("limit") Integer limit) throws ApiException, ProcessingException;

    /**
     * Получение отзывов о товарах продавца
     *
     * Возвращает все отзывы о товарах продавца по указанным фильтрам.  Результаты возвращаются постранично, одна страница содержит не более 20 отзывов.  Отзывы расположены в порядке публикации, поэтому вы можете передавать определенный идентификатор страницы в &#x60;page_token&#x60;, если вы получали его ранее.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    GetGoodsFeedbackResponse getGoodsFeedbacks(@PathParam("businessId") Long businessId, @QueryParam("page_token") String pageToken, @QueryParam("limit") Integer limit, GetGoodsFeedbackRequest getGoodsFeedbackRequest) throws ApiException, ProcessingException;

    /**
     * Отказ от ответа на отзывы
     *
     * Пропускает отзывы — они больше не будут возвращаться в методе получения всех отзывов [POST businesses/{businessId}/goods-feedback](../../reference/goods-feedback/getGoodsFeedbacks.md).  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
     *
     */
    @POST
    @Path("/skip-reaction")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    EmptyApiResponse skipGoodsFeedbacksReaction(@PathParam("businessId") Long businessId, SkipGoodsFeedbackReactionRequest skipGoodsFeedbackReactionRequest) throws ApiException, ProcessingException;

    /**
     * Добавление нового или изменение созданного комментария
     *
     * Добавляет новый комментарий магазина или изменяет комментарий, который магазин оставлял ранее.  Для создания комментария к отзыву передайте только идентификатор отзыва &#x60;feedbackId&#x60;.  Чтобы добавить комментарий к другому комментарию, передайте:  * &#x60;feedbackId&#x60; — идентификатор отзыва; * &#x60;comment.parentId&#x60; — идентификатор родительского комментария.  Чтобы изменить комментарий, передайте:  * &#x60;feedbackId&#x60;— идентификатор отзыва; * &#x60;comment.id&#x60; — идентификатор комментария, который нужно изменить.  Если передать одновременно &#x60;comment.parentId&#x60; и &#x60;comment.id&#x60;, будет изменен существующий комментарий.  |**⚙️ Лимит:** 1 000 запросов в час| |-| 
     *
     */
    @POST
    @Path("/comments/update")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    UpdateGoodsFeedbackCommentResponse updateGoodsFeedbackComment(@PathParam("businessId") Long businessId, UpdateGoodsFeedbackCommentRequest updateGoodsFeedbackCommentRequest) throws ApiException, ProcessingException;
}
