<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractTariffsApi
{

    /**
     * Operation calculateTariffs
     *
     * Path: `/tariffs/calculate`
     *
     * Калькулятор стоимости услуг
     *
     * @param \OpenAPIServer\Model\CalculateTariffsRequest $calculateTariffsRequest  (required)
     *
     * @return \OpenAPIServer\Model\CalculateTariffsResponse|null
     */
    public function calculateTariffs(\OpenAPIServer\Model\CalculateTariffsRequest $calculateTariffsRequest): \OpenAPIServer\Model\CalculateTariffsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation calculateTariffs (stream)
     *
     * Path: `/tariffs/calculate`
     *
     * Калькулятор стоимости услуг
     *
     * @param \OpenAPIServer\Model\CalculateTariffsRequest $calculateTariffsRequest  (required)
     *
     */
    public function calculateTariffsStream(\OpenAPIServer\Model\CalculateTariffsRequest $calculateTariffsRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
