<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCampaignsApi
{

    /**
     * Operation getCampaign
     *
     * Path: `/campaigns/{campaignId}`
     *
     * Информация о магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetCampaignResponse|null
     */
    public function getCampaign(int $campaignId): \OpenAPIServer\Model\GetCampaignResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaign (stream)
     *
     * Path: `/campaigns/{campaignId}`
     *
     * Информация о магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     */
    public function getCampaignStream(int $campaignId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignLogins
     *
     * Path: `/campaigns/{campaignId}/logins`
     *
     * Логины, связанные с магазином
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetCampaignLoginsResponse|null
     */
    public function getCampaignLogins(int $campaignId): \OpenAPIServer\Model\GetCampaignLoginsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignLogins (stream)
     *
     * Path: `/campaigns/{campaignId}/logins`
     *
     * Логины, связанные с магазином
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     */
    public function getCampaignLoginsStream(int $campaignId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignRegion
     *
     * Path: `/campaigns/{campaignId}/region`
     *
     * Регион магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetCampaignRegionResponse|null
     * @deprecated
     */
    public function getCampaignRegion(int $campaignId): \OpenAPIServer\Model\GetCampaignRegionResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignRegion (stream)
     *
     * Path: `/campaigns/{campaignId}/region`
     *
     * Регион магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @deprecated
     */
    public function getCampaignRegionStream(int $campaignId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignSettings
     *
     * Path: `/campaigns/{campaignId}/settings`
     *
     * Настройки магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetCampaignSettingsResponse|null
     */
    public function getCampaignSettings(int $campaignId): \OpenAPIServer\Model\GetCampaignSettingsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignSettings (stream)
     *
     * Path: `/campaigns/{campaignId}/settings`
     *
     * Настройки магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     */
    public function getCampaignSettingsStream(int $campaignId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaigns
     *
     * Path: `/campaigns`
     *
     * Список магазинов пользователя
     *
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     * @return \OpenAPIServer\Model\GetCampaignsResponse|null
     */
    public function getCampaigns(?int $page, ?int $pageSize): \OpenAPIServer\Model\GetCampaignsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaigns (stream)
     *
     * Path: `/campaigns`
     *
     * Список магазинов пользователя
     *
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     */
    public function getCampaignsStream(?int $page, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignsByLogin
     *
     * Path: `/campaigns/by_login/{login}`
     *
     * Магазины, доступные логину
     *
     * @param string $login Логин пользователя. (required)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     * @return \OpenAPIServer\Model\GetCampaignsResponse|null
     */
    public function getCampaignsByLogin(string $login, ?int $page, ?int $pageSize): \OpenAPIServer\Model\GetCampaignsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignsByLogin (stream)
     *
     * Path: `/campaigns/by_login/{login}`
     *
     * Магазины, доступные логину
     *
     * @param string $login Логин пользователя. (required)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     */
    public function getCampaignsByLoginStream(string $login, ?int $page, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
