<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractDeliveryServicesApi
{

    /**
     * Operation getDeliveryServices
     *
     * Path: `/delivery/services`
     *
     * Справочник служб доставки
     *
     *
     * @return \OpenAPIServer\Model\GetDeliveryServicesResponse|null
     */
    public function getDeliveryServices(): \OpenAPIServer\Model\GetDeliveryServicesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getDeliveryServices (stream)
     *
     * Path: `/delivery/services`
     *
     * Справочник служб доставки
     *
     *
     */
    public function getDeliveryServicesStream(): void
    {
        throw new \Exception('Not implemented');
    }
}
