<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOrderLabelsApi
{

    /**
     * Operation generateOrderLabel
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label`
     *
     * Готовый ярлык‑наклейка для коробки в заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param int $shipmentId Идентификатор грузоместа. (required)
     * @param int $boxId Идентификатор коробки. (required)
     * @param  $format Настройка размещения ярлыков на странице. Если параметра нет, возвращается PDF с ярлыками формата A6. (optional)
     *
     * @return void
     */
    public function generateOrderLabel(int $campaignId, int $orderId, int $shipmentId, int $boxId,  $format): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation generateOrderLabel (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label`
     *
     * Готовый ярлык‑наклейка для коробки в заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param int $shipmentId Идентификатор грузоместа. (required)
     * @param int $boxId Идентификатор коробки. (required)
     * @param  $format Настройка размещения ярлыков на странице. Если параметра нет, возвращается PDF с ярлыками формата A6. (optional)
     *
     */
    public function generateOrderLabelStream(int $campaignId, int $orderId, int $shipmentId, int $boxId,  $format): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation generateOrderLabels
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/labels`
     *
     * Готовые ярлыки‑наклейки на все коробки в одном заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param  $format Настройка размещения ярлыков на странице. Если параметра нет, возвращается PDF с ярлыками формата A6. (optional)
     *
     * @return void
     */
    public function generateOrderLabels(int $campaignId, int $orderId,  $format): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation generateOrderLabels (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/labels`
     *
     * Готовые ярлыки‑наклейки на все коробки в одном заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param  $format Настройка размещения ярлыков на странице. Если параметра нет, возвращается PDF с ярлыками формата A6. (optional)
     *
     */
    public function generateOrderLabelsStream(int $campaignId, int $orderId,  $format): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOrderLabelsData
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/labels/data`
     *
     * Данные для самостоятельного изготовления ярлыков
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     * @return \OpenAPIServer\Model\GetOrderLabelsDataResponse|null
     */
    public function getOrderLabelsData(int $campaignId, int $orderId): \OpenAPIServer\Model\GetOrderLabelsDataResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrderLabelsData (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/labels/data`
     *
     * Данные для самостоятельного изготовления ярлыков
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     */
    public function getOrderLabelsDataStream(int $campaignId, int $orderId): void
    {
        throw new \Exception('Not implemented');
    }
}
