<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractGoodsStatsApi
{

    /**
     * Operation getGoodsStats
     *
     * Path: `/campaigns/{campaignId}/stats/skus`
     *
     * Отчет по товарам
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetGoodsStatsRequest $getGoodsStatsRequest  (required)
     *
     * @return \OpenAPIServer\Model\GetGoodsStatsResponse|null
     */
    public function getGoodsStats(int $campaignId, \OpenAPIServer\Model\GetGoodsStatsRequest $getGoodsStatsRequest): \OpenAPIServer\Model\GetGoodsStatsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getGoodsStats (stream)
     *
     * Path: `/campaigns/{campaignId}/stats/skus`
     *
     * Отчет по товарам
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetGoodsStatsRequest $getGoodsStatsRequest  (required)
     *
     */
    public function getGoodsStatsStream(int $campaignId, \OpenAPIServer\Model\GetGoodsStatsRequest $getGoodsStatsRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
