<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCategoriesApi
{

    /**
     * Operation getCategoriesMaxSaleQuantum
     *
     * Path: `/categories/max-sale-quantum`
     *
     * Лимит на установку кванта продажи и минимального количества товаров в заказе
     *
     * @param \OpenAPIServer\Model\GetCategoriesMaxSaleQuantumRequest $getCategoriesMaxSaleQuantumRequest  (required)
     *
     * @return \OpenAPIServer\Model\GetCategoriesMaxSaleQuantumResponse|null
     */
    public function getCategoriesMaxSaleQuantum(\OpenAPIServer\Model\GetCategoriesMaxSaleQuantumRequest $getCategoriesMaxSaleQuantumRequest): \OpenAPIServer\Model\GetCategoriesMaxSaleQuantumResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCategoriesMaxSaleQuantum (stream)
     *
     * Path: `/categories/max-sale-quantum`
     *
     * Лимит на установку кванта продажи и минимального количества товаров в заказе
     *
     * @param \OpenAPIServer\Model\GetCategoriesMaxSaleQuantumRequest $getCategoriesMaxSaleQuantumRequest  (required)
     *
     */
    public function getCategoriesMaxSaleQuantumStream(\OpenAPIServer\Model\GetCategoriesMaxSaleQuantumRequest $getCategoriesMaxSaleQuantumRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCategoriesTree
     *
     * Path: `/categories/tree`
     *
     * Дерево категорий
     *
     * @param ?\OpenAPIServer\Model\GetCategoriesRequest $getCategoriesRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetCategoriesResponse|null
     */
    public function getCategoriesTree(?\OpenAPIServer\Model\GetCategoriesRequest $getCategoriesRequest): \OpenAPIServer\Model\GetCategoriesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCategoriesTree (stream)
     *
     * Path: `/categories/tree`
     *
     * Дерево категорий
     *
     * @param ?\OpenAPIServer\Model\GetCategoriesRequest $getCategoriesRequest  (optional)
     *
     */
    public function getCategoriesTreeStream(?\OpenAPIServer\Model\GetCategoriesRequest $getCategoriesRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
