<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractPriceQuarantineApi
{

    /**
     * Operation confirmBusinessPrices
     *
     * Path: `/businesses/{businessId}/price-quarantine/confirm`
     *
     * Удаление товара из карантина по цене в кабинете
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function confirmBusinessPrices(int $businessId, \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation confirmBusinessPrices (stream)
     *
     * Path: `/businesses/{businessId}/price-quarantine/confirm`
     *
     * Удаление товара из карантина по цене в кабинете
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest  (required)
     *
     */
    public function confirmBusinessPricesStream(int $businessId, \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation confirmCampaignPrices
     *
     * Path: `/campaigns/{campaignId}/price-quarantine/confirm`
     *
     * Удаление товара из карантина по цене в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function confirmCampaignPrices(int $campaignId, \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation confirmCampaignPrices (stream)
     *
     * Path: `/campaigns/{campaignId}/price-quarantine/confirm`
     *
     * Удаление товара из карантина по цене в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest  (required)
     *
     */
    public function confirmCampaignPricesStream(int $campaignId, \OpenAPIServer\Model\ConfirmPricesRequest $confirmPricesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getBusinessQuarantineOffers
     *
     * Path: `/businesses/{businessId}/price-quarantine`
     *
     * Список товаров, находящихся в карантине по цене в кабинете
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetQuarantineOffersResponse|null
     */
    public function getBusinessQuarantineOffers(int $businessId, \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetQuarantineOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBusinessQuarantineOffers (stream)
     *
     * Path: `/businesses/{businessId}/price-quarantine`
     *
     * Список товаров, находящихся в карантине по цене в кабинете
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getBusinessQuarantineOffersStream(int $businessId, \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignQuarantineOffers
     *
     * Path: `/campaigns/{campaignId}/price-quarantine`
     *
     * Список товаров, находящихся в карантине по цене в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetQuarantineOffersResponse|null
     */
    public function getCampaignQuarantineOffers(int $campaignId, \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetQuarantineOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignQuarantineOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/price-quarantine`
     *
     * Список товаров, находящихся в карантине по цене в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getCampaignQuarantineOffersStream(int $campaignId, \OpenAPIServer\Model\GetQuarantineOffersRequest $getQuarantineOffersRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
}
