<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOrdersApi
{

    /**
     * Operation acceptOrderCancellation
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/cancellation/accept`
     *
     * Отмена заказа покупателем
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\AcceptOrderCancellationRequest $acceptOrderCancellationRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function acceptOrderCancellation(int $campaignId, int $orderId, \OpenAPIServer\Model\AcceptOrderCancellationRequest $acceptOrderCancellationRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation acceptOrderCancellation (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/cancellation/accept`
     *
     * Отмена заказа покупателем
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\AcceptOrderCancellationRequest $acceptOrderCancellationRequest  (required)
     *
     */
    public function acceptOrderCancellationStream(int $campaignId, int $orderId, \OpenAPIServer\Model\AcceptOrderCancellationRequest $acceptOrderCancellationRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOrder
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}`
     *
     * Информация об одном заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     * @return \OpenAPIServer\Model\GetOrderResponse|null
     */
    public function getOrder(int $campaignId, int $orderId): \OpenAPIServer\Model\GetOrderResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrder (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}`
     *
     * Информация об одном заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     */
    public function getOrderStream(int $campaignId, int $orderId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOrders
     *
     * Path: `/campaigns/{campaignId}/orders`
     *
     * Информация о нескольких заказах
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $orderIds Фильтрация заказов по идентификаторам. &lt;br&gt;&lt;br&gt; ⚠️ Не используйте это поле одновременно с другими фильтрами. Если вы хотите воспользоваться ими, оставьте поле пустым. (optional)
     * @param ?array $status Статус заказа:  * &#x60;CANCELLED&#x60; — заказ отменен.  * &#x60;DELIVERED&#x60; — заказ получен покупателем.  * &#x60;DELIVERY&#x60; — заказ передан в службу доставки.  * &#x60;PICKUP&#x60; — заказ доставлен в пункт самовывоза.  * &#x60;PROCESSING&#x60; — заказ находится в обработке.  * &#x60;UNPAID&#x60; — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).  Также могут возвращаться другие значения. Обрабатывать их не требуется. (optional)
     * @param ?array $substatus Этап обработки заказа (если он имеет статус &#x60;PROCESSING&#x60;) или причина отмены заказа (если он имеет статус &#x60;CANCELLED&#x60;).  Возможные значения для заказа в статусе &#x60;PROCESSING&#x60;:  * &#x60;STARTED&#x60; — заказ подтвержден, его можно начать обрабатывать. * &#x60;READY_TO_SHIP&#x60; — заказ собран и готов к отправке. * &#x60;SHIPPED&#x60; — заказ передан службе доставки.  Возможные значения для заказа в статусе &#x60;CANCELLED&#x60;:  * &#x60;DELIVERY_SERVICE_UNDELIVERED&#x60; — служба доставки не смогла доставить заказ.  * &#x60;PROCESSING_EXPIRED&#x60; — значение более не используется.  * &#x60;REPLACING_ORDER&#x60; — покупатель решил заменить товар другим по собственной инициативе.  * &#x60;RESERVATION_EXPIRED&#x60; — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.  * &#x60;RESERVATION_FAILED&#x60; — Маркет не может продолжить дальнейшую обработку заказа.  * &#x60;SHOP_FAILED&#x60; — магазин не может выполнить заказ.  * &#x60;USER_CHANGED_MIND&#x60; — покупатель отменил заказ по личным причинам.  * &#x60;USER_NOT_PAID&#x60; — покупатель не оплатил заказ (для типа оплаты &#x60;PREPAID&#x60;) в течение 30 минут.  * &#x60;USER_REFUSED_DELIVERY&#x60; — покупателя не устроили условия доставки.  * &#x60;USER_REFUSED_PRODUCT&#x60; — покупателю не подошел товар.  * &#x60;USER_REFUSED_QUALITY&#x60; — покупателя не устроило качество товара.  * &#x60;USER_UNREACHABLE&#x60; — не удалось связаться с покупателем. Для отмены с этой причиной необходимо выполнить условия:    * не менее 3 звонков с 8 до 21 в часовом поясе покупателя;   * перерыв между первым и третьим звонком не менее 90 минут;   * соединение не короче 5 секунд.    Если хотя бы одно из этих условий не выполнено (кроме случая, когда номер недоступен), отменить заказ не получится. Вернется ответ с кодом ошибки 400. * &#x60;USER_WANTS_TO_CHANGE_DELIVERY_DATE&#x60; — покупатель хочет получить заказ в другой день. * &#x60;CANCELLED_COURIER_NOT_FOUND&#x60; — не удалось найти курьера.  Также могут возвращаться другие значения. Обрабатывать их не требуется. (optional)
     * @param ?\DateTime $fromDate Начальная дата для фильтрации заказов по дате оформления.  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной и конечной датой (параметр &#x60;toDate&#x60;) должно быть не больше 30 дней.  Значение по умолчанию: 30 дней назад от текущей даты. (optional)
     * @param ?\DateTime $toDate Конечная дата для фильтрации заказов по дате оформления.  Показываются заказы, созданные до 00:00 указанного дня.  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной (параметр &#x60;fromDate&#x60;) и конечной датой должно быть не больше 30 дней.  Значение по умолчанию: текущая дата. (optional)
     * @param ?\DateTime $supplierShipmentDateFrom Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр &#x60;shipmentDate&#x60;).  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной и конечной датой (параметр &#x60;supplierShipmentDateTo&#x60;) должно быть не больше 30 дней.  Начальная дата включается в интервал для фильтрации. (optional)
     * @param ?\DateTime $supplierShipmentDateTo Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр &#x60;shipmentDate&#x60;).  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной (параметр &#x60;supplierShipmentDateFrom&#x60;) и конечной датой должно быть не больше 30 дней.  Конечная дата не включается в интервал для фильтрации. (optional)
     * @param ?\DateTime $updatedAtFrom Начальная дата для фильтрации заказов по дате и времени обновления (параметр &#x60;updatedAt&#x60;).  Формат даты: ISO 8601 со смещением относительно UTC. Например, &#x60;2017-11-21T00:42:42+03:00&#x60;.  Между начальной и конечной датой (параметр &#x60;updatedAtTo&#x60;) должно быть не больше 30 дней.  Начальная дата включается в интервал для фильтрации. (optional)
     * @param ?\DateTime $updatedAtTo Конечная дата для фильтрации заказов по дате и времени обновления (параметр &#x60;updatedAt&#x60;).  Формат даты: ISO 8601 со смещением относительно UTC. Например, &#x60;2017-11-21T00:42:42+03:00&#x60;.  Между начальной (параметр &#x60;updatedAtFrom&#x60;) и конечной датой должно быть не больше 30 дней.  Конечная дата не включается в интервал для фильтрации. (optional)
     * @param  $dispatchType Способ отгрузки (optional)
     * @param ?bool $fake Фильтрация заказов по типам:  * &#x60;false&#x60; — настоящий заказ покупателя.  * &#x60;true&#x60; — [тестовый](../../pushapi/concepts/sandbox.md) заказ Маркета. (optional, default to false)
     * @param ?bool $hasCis Нужно ли вернуть только те заказы, в составе которых есть хотя бы один товар с кодом идентификации [в системе «Честный ЗНАК»](https://честныйзнак.рф/):  * &#x60;true&#x60; — да.  * &#x60;false&#x60; — нет.  Такие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям. (optional, default to false)
     * @param ?bool $onlyWaitingForCancellationApprove **Только для модели DBS**  Фильтрация заказов по наличию запросов покупателей на отмену.  При значение &#x60;true&#x60; возвращаются только заказы, которые находятся в статусе &#x60;DELIVERY&#x60; или &#x60;PICKUP&#x60; и которые пользователи решили отменить.  Чтобы подтвердить или отклонить отмену, отправьте запрос [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation). (optional, default to false)
     * @param ?bool $onlyEstimatedDelivery Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:  * &#x60;true&#x60; — возвращаются только заказы с неподтвержденной датой доставки. * &#x60;false&#x60; — фильтрация не применяется. (optional, default to false)
     * @param  $buyerType Фильтрация заказов по типу покупателя. (optional)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetOrdersResponse|null
     */
    public function getOrders(int $campaignId, ?array $orderIds, ?array $status, ?array $substatus, ?\DateTime $fromDate, ?\DateTime $toDate, ?\DateTime $supplierShipmentDateFrom, ?\DateTime $supplierShipmentDateTo, ?\DateTime $updatedAtFrom, ?\DateTime $updatedAtTo,  $dispatchType, ?bool $fake, ?bool $hasCis, ?bool $onlyWaitingForCancellationApprove, ?bool $onlyEstimatedDelivery,  $buyerType, ?int $page, ?int $pageSize, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetOrdersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrders (stream)
     *
     * Path: `/campaigns/{campaignId}/orders`
     *
     * Информация о нескольких заказах
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $orderIds Фильтрация заказов по идентификаторам. &lt;br&gt;&lt;br&gt; ⚠️ Не используйте это поле одновременно с другими фильтрами. Если вы хотите воспользоваться ими, оставьте поле пустым. (optional)
     * @param ?array $status Статус заказа:  * &#x60;CANCELLED&#x60; — заказ отменен.  * &#x60;DELIVERED&#x60; — заказ получен покупателем.  * &#x60;DELIVERY&#x60; — заказ передан в службу доставки.  * &#x60;PICKUP&#x60; — заказ доставлен в пункт самовывоза.  * &#x60;PROCESSING&#x60; — заказ находится в обработке.  * &#x60;UNPAID&#x60; — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).  Также могут возвращаться другие значения. Обрабатывать их не требуется. (optional)
     * @param ?array $substatus Этап обработки заказа (если он имеет статус &#x60;PROCESSING&#x60;) или причина отмены заказа (если он имеет статус &#x60;CANCELLED&#x60;).  Возможные значения для заказа в статусе &#x60;PROCESSING&#x60;:  * &#x60;STARTED&#x60; — заказ подтвержден, его можно начать обрабатывать. * &#x60;READY_TO_SHIP&#x60; — заказ собран и готов к отправке. * &#x60;SHIPPED&#x60; — заказ передан службе доставки.  Возможные значения для заказа в статусе &#x60;CANCELLED&#x60;:  * &#x60;DELIVERY_SERVICE_UNDELIVERED&#x60; — служба доставки не смогла доставить заказ.  * &#x60;PROCESSING_EXPIRED&#x60; — значение более не используется.  * &#x60;REPLACING_ORDER&#x60; — покупатель решил заменить товар другим по собственной инициативе.  * &#x60;RESERVATION_EXPIRED&#x60; — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.  * &#x60;RESERVATION_FAILED&#x60; — Маркет не может продолжить дальнейшую обработку заказа.  * &#x60;SHOP_FAILED&#x60; — магазин не может выполнить заказ.  * &#x60;USER_CHANGED_MIND&#x60; — покупатель отменил заказ по личным причинам.  * &#x60;USER_NOT_PAID&#x60; — покупатель не оплатил заказ (для типа оплаты &#x60;PREPAID&#x60;) в течение 30 минут.  * &#x60;USER_REFUSED_DELIVERY&#x60; — покупателя не устроили условия доставки.  * &#x60;USER_REFUSED_PRODUCT&#x60; — покупателю не подошел товар.  * &#x60;USER_REFUSED_QUALITY&#x60; — покупателя не устроило качество товара.  * &#x60;USER_UNREACHABLE&#x60; — не удалось связаться с покупателем. Для отмены с этой причиной необходимо выполнить условия:    * не менее 3 звонков с 8 до 21 в часовом поясе покупателя;   * перерыв между первым и третьим звонком не менее 90 минут;   * соединение не короче 5 секунд.    Если хотя бы одно из этих условий не выполнено (кроме случая, когда номер недоступен), отменить заказ не получится. Вернется ответ с кодом ошибки 400. * &#x60;USER_WANTS_TO_CHANGE_DELIVERY_DATE&#x60; — покупатель хочет получить заказ в другой день. * &#x60;CANCELLED_COURIER_NOT_FOUND&#x60; — не удалось найти курьера.  Также могут возвращаться другие значения. Обрабатывать их не требуется. (optional)
     * @param ?\DateTime $fromDate Начальная дата для фильтрации заказов по дате оформления.  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной и конечной датой (параметр &#x60;toDate&#x60;) должно быть не больше 30 дней.  Значение по умолчанию: 30 дней назад от текущей даты. (optional)
     * @param ?\DateTime $toDate Конечная дата для фильтрации заказов по дате оформления.  Показываются заказы, созданные до 00:00 указанного дня.  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной (параметр &#x60;fromDate&#x60;) и конечной датой должно быть не больше 30 дней.  Значение по умолчанию: текущая дата. (optional)
     * @param ?\DateTime $supplierShipmentDateFrom Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр &#x60;shipmentDate&#x60;).  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной и конечной датой (параметр &#x60;supplierShipmentDateTo&#x60;) должно быть не больше 30 дней.  Начальная дата включается в интервал для фильтрации. (optional)
     * @param ?\DateTime $supplierShipmentDateTo Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр &#x60;shipmentDate&#x60;).  Формат даты: &#x60;ДД-ММ-ГГГГ&#x60;.  Между начальной (параметр &#x60;supplierShipmentDateFrom&#x60;) и конечной датой должно быть не больше 30 дней.  Конечная дата не включается в интервал для фильтрации. (optional)
     * @param ?\DateTime $updatedAtFrom Начальная дата для фильтрации заказов по дате и времени обновления (параметр &#x60;updatedAt&#x60;).  Формат даты: ISO 8601 со смещением относительно UTC. Например, &#x60;2017-11-21T00:42:42+03:00&#x60;.  Между начальной и конечной датой (параметр &#x60;updatedAtTo&#x60;) должно быть не больше 30 дней.  Начальная дата включается в интервал для фильтрации. (optional)
     * @param ?\DateTime $updatedAtTo Конечная дата для фильтрации заказов по дате и времени обновления (параметр &#x60;updatedAt&#x60;).  Формат даты: ISO 8601 со смещением относительно UTC. Например, &#x60;2017-11-21T00:42:42+03:00&#x60;.  Между начальной (параметр &#x60;updatedAtFrom&#x60;) и конечной датой должно быть не больше 30 дней.  Конечная дата не включается в интервал для фильтрации. (optional)
     * @param  $dispatchType Способ отгрузки (optional)
     * @param ?bool $fake Фильтрация заказов по типам:  * &#x60;false&#x60; — настоящий заказ покупателя.  * &#x60;true&#x60; — [тестовый](../../pushapi/concepts/sandbox.md) заказ Маркета. (optional, default to false)
     * @param ?bool $hasCis Нужно ли вернуть только те заказы, в составе которых есть хотя бы один товар с кодом идентификации [в системе «Честный ЗНАК»](https://честныйзнак.рф/):  * &#x60;true&#x60; — да.  * &#x60;false&#x60; — нет.  Такие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям. (optional, default to false)
     * @param ?bool $onlyWaitingForCancellationApprove **Только для модели DBS**  Фильтрация заказов по наличию запросов покупателей на отмену.  При значение &#x60;true&#x60; возвращаются только заказы, которые находятся в статусе &#x60;DELIVERY&#x60; или &#x60;PICKUP&#x60; и которые пользователи решили отменить.  Чтобы подтвердить или отклонить отмену, отправьте запрос [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation). (optional, default to false)
     * @param ?bool $onlyEstimatedDelivery Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:  * &#x60;true&#x60; — возвращаются только заказы с неподтвержденной датой доставки. * &#x60;false&#x60; — фильтрация не применяется. (optional, default to false)
     * @param  $buyerType Фильтрация заказов по типу покупателя. (optional)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getOrdersStream(int $campaignId, ?array $orderIds, ?array $status, ?array $substatus, ?\DateTime $fromDate, ?\DateTime $toDate, ?\DateTime $supplierShipmentDateFrom, ?\DateTime $supplierShipmentDateTo, ?\DateTime $updatedAtFrom, ?\DateTime $updatedAtTo,  $dispatchType, ?bool $fake, ?bool $hasCis, ?bool $onlyWaitingForCancellationApprove, ?bool $onlyEstimatedDelivery,  $buyerType, ?int $page, ?int $pageSize, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation provideOrderDigitalCodes
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods`
     *
     * Передача ключей цифровых товаров
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\ProvideOrderDigitalCodesRequest $provideOrderDigitalCodesRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function provideOrderDigitalCodes(int $campaignId, int $orderId, \OpenAPIServer\Model\ProvideOrderDigitalCodesRequest $provideOrderDigitalCodesRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation provideOrderDigitalCodes (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods`
     *
     * Передача ключей цифровых товаров
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\ProvideOrderDigitalCodesRequest $provideOrderDigitalCodesRequest  (required)
     *
     */
    public function provideOrderDigitalCodesStream(int $campaignId, int $orderId, \OpenAPIServer\Model\ProvideOrderDigitalCodesRequest $provideOrderDigitalCodesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation provideOrderItemIdentifiers
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/identifiers`
     *
     * Передача кодов маркировки единиц товара
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\ProvideOrderItemIdentifiersRequest $provideOrderItemIdentifiersRequest  (required)
     *
     * @return \OpenAPIServer\Model\ProvideOrderItemIdentifiersResponse|null
     */
    public function provideOrderItemIdentifiers(int $campaignId, int $orderId, \OpenAPIServer\Model\ProvideOrderItemIdentifiersRequest $provideOrderItemIdentifiersRequest): \OpenAPIServer\Model\ProvideOrderItemIdentifiersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation provideOrderItemIdentifiers (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/identifiers`
     *
     * Передача кодов маркировки единиц товара
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\ProvideOrderItemIdentifiersRequest $provideOrderItemIdentifiersRequest  (required)
     *
     */
    public function provideOrderItemIdentifiersStream(int $campaignId, int $orderId, \OpenAPIServer\Model\ProvideOrderItemIdentifiersRequest $provideOrderItemIdentifiersRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation setOrderBoxLayout
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/boxes`
     *
     * Подготовка заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\SetOrderBoxLayoutRequest $setOrderBoxLayoutRequest  (required)
     *
     * @return \OpenAPIServer\Model\SetOrderBoxLayoutResponse|null
     */
    public function setOrderBoxLayout(int $campaignId, int $orderId, \OpenAPIServer\Model\SetOrderBoxLayoutRequest $setOrderBoxLayoutRequest): \OpenAPIServer\Model\SetOrderBoxLayoutResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation setOrderBoxLayout (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/boxes`
     *
     * Подготовка заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\SetOrderBoxLayoutRequest $setOrderBoxLayoutRequest  (required)
     *
     */
    public function setOrderBoxLayoutStream(int $campaignId, int $orderId, \OpenAPIServer\Model\SetOrderBoxLayoutRequest $setOrderBoxLayoutRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation setOrderShipmentBoxes
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes`
     *
     * Передача количества грузовых мест в заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param int $shipmentId Параметр больше не используется. Вставьте любое число — просто чтобы получился корректный URL. (required)
     * @param \OpenAPIServer\Model\SetOrderShipmentBoxesRequest $setOrderShipmentBoxesRequest  (required)
     *
     * @return \OpenAPIServer\Model\SetOrderShipmentBoxesResponse|null
     */
    public function setOrderShipmentBoxes(int $campaignId, int $orderId, int $shipmentId, \OpenAPIServer\Model\SetOrderShipmentBoxesRequest $setOrderShipmentBoxesRequest): \OpenAPIServer\Model\SetOrderShipmentBoxesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation setOrderShipmentBoxes (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes`
     *
     * Передача количества грузовых мест в заказе
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param int $shipmentId Параметр больше не используется. Вставьте любое число — просто чтобы получился корректный URL. (required)
     * @param \OpenAPIServer\Model\SetOrderShipmentBoxesRequest $setOrderShipmentBoxesRequest  (required)
     *
     */
    public function setOrderShipmentBoxesStream(int $campaignId, int $orderId, int $shipmentId, \OpenAPIServer\Model\SetOrderShipmentBoxesRequest $setOrderShipmentBoxesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOrderItems
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/items`
     *
     * Удаление товара из заказа или уменьшение числа единиц
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\UpdateOrderItemRequest $updateOrderItemRequest  (required)
     *
     * @return void
     */
    public function updateOrderItems(int $campaignId, int $orderId, \OpenAPIServer\Model\UpdateOrderItemRequest $updateOrderItemRequest): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOrderItems (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/items`
     *
     * Удаление товара из заказа или уменьшение числа единиц
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\UpdateOrderItemRequest $updateOrderItemRequest  (required)
     *
     */
    public function updateOrderItemsStream(int $campaignId, int $orderId, \OpenAPIServer\Model\UpdateOrderItemRequest $updateOrderItemRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOrderStatus
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/status`
     *
     * Изменение статуса одного заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\UpdateOrderStatusRequest $updateOrderStatusRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdateOrderStatusResponse|null
     */
    public function updateOrderStatus(int $campaignId, int $orderId, \OpenAPIServer\Model\UpdateOrderStatusRequest $updateOrderStatusRequest): \OpenAPIServer\Model\UpdateOrderStatusResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOrderStatus (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/status`
     *
     * Изменение статуса одного заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\UpdateOrderStatusRequest $updateOrderStatusRequest  (required)
     *
     */
    public function updateOrderStatusStream(int $campaignId, int $orderId, \OpenAPIServer\Model\UpdateOrderStatusRequest $updateOrderStatusRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOrderStatuses
     *
     * Path: `/campaigns/{campaignId}/orders/status-update`
     *
     * Изменение статусов нескольких заказов
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOrderStatusesRequest $updateOrderStatusesRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdateOrderStatusesResponse|null
     */
    public function updateOrderStatuses(int $campaignId, \OpenAPIServer\Model\UpdateOrderStatusesRequest $updateOrderStatusesRequest): \OpenAPIServer\Model\UpdateOrderStatusesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOrderStatuses (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/status-update`
     *
     * Изменение статусов нескольких заказов
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOrderStatusesRequest $updateOrderStatusesRequest  (required)
     *
     */
    public function updateOrderStatusesStream(int $campaignId, \OpenAPIServer\Model\UpdateOrderStatusesRequest $updateOrderStatusesRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
