<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractHiddenOffersApi
{

    /**
     * Operation addHiddenOffers
     *
     * Path: `/campaigns/{campaignId}/hidden-offers`
     *
     * Скрытие товаров и настройки скрытия
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\AddHiddenOffersRequest $addHiddenOffersRequest Запрос на скрытие оферов. (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function addHiddenOffers(int $campaignId, \OpenAPIServer\Model\AddHiddenOffersRequest $addHiddenOffersRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation addHiddenOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/hidden-offers`
     *
     * Скрытие товаров и настройки скрытия
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\AddHiddenOffersRequest $addHiddenOffersRequest Запрос на скрытие оферов. (required)
     *
     */
    public function addHiddenOffersStream(int $campaignId, \OpenAPIServer\Model\AddHiddenOffersRequest $addHiddenOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deleteHiddenOffers
     *
     * Path: `/campaigns/{campaignId}/hidden-offers/delete`
     *
     * Возобновление показа товаров
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteHiddenOffersRequest $deleteHiddenOffersRequest Запрос на возобновление показа оферов. (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function deleteHiddenOffers(int $campaignId, \OpenAPIServer\Model\DeleteHiddenOffersRequest $deleteHiddenOffersRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteHiddenOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/hidden-offers/delete`
     *
     * Возобновление показа товаров
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteHiddenOffersRequest $deleteHiddenOffersRequest Запрос на возобновление показа оферов. (required)
     *
     */
    public function deleteHiddenOffersStream(int $campaignId, \OpenAPIServer\Model\DeleteHiddenOffersRequest $deleteHiddenOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getHiddenOffers
     *
     * Path: `/campaigns/{campaignId}/hidden-offers`
     *
     * Информация о скрытых вами товарах
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $offerId Идентификатор скрытого предложения. (optional)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?int $offset Позиция в списке, начиная с которой возвращаются результаты ответа.  Используется вместе с параметром &#x60;limit&#x60;.  Если задан &#x60;offset&#x60;, параметры &#x60;page_number&#x60; и &#x60;page_size&#x60; игнорируются.  &#x60;offset&#x60; игнорируется, если задан &#x60;page_token&#x60;. (optional)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     * @return \OpenAPIServer\Model\GetHiddenOffersResponse|null
     */
    public function getHiddenOffers(int $campaignId, ?array $offerId, ?string $pageToken, ?int $limit, ?int $offset, ?int $page, ?int $pageSize): \OpenAPIServer\Model\GetHiddenOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getHiddenOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/hidden-offers`
     *
     * Информация о скрытых вами товарах
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $offerId Идентификатор скрытого предложения. (optional)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?int $offset Позиция в списке, начиная с которой возвращаются результаты ответа.  Используется вместе с параметром &#x60;limit&#x60;.  Если задан &#x60;offset&#x60;, параметры &#x60;page_number&#x60; и &#x60;page_size&#x60; игнорируются.  &#x60;offset&#x60; игнорируется, если задан &#x60;page_token&#x60;. (optional)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     */
    public function getHiddenOffersStream(int $campaignId, ?array $offerId, ?string $pageToken, ?int $limit, ?int $offset, ?int $page, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
