<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractGoodsFeedbackApi
{

    /**
     * Operation deleteGoodsFeedbackComment
     *
     * Path: `/businesses/{businessId}/goods-feedback/comments/delete`
     *
     * Удаление комментария к отзыву
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteGoodsFeedbackCommentRequest $deleteGoodsFeedbackCommentRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function deleteGoodsFeedbackComment(int $businessId, \OpenAPIServer\Model\DeleteGoodsFeedbackCommentRequest $deleteGoodsFeedbackCommentRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteGoodsFeedbackComment (stream)
     *
     * Path: `/businesses/{businessId}/goods-feedback/comments/delete`
     *
     * Удаление комментария к отзыву
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteGoodsFeedbackCommentRequest $deleteGoodsFeedbackCommentRequest  (required)
     *
     */
    public function deleteGoodsFeedbackCommentStream(int $businessId, \OpenAPIServer\Model\DeleteGoodsFeedbackCommentRequest $deleteGoodsFeedbackCommentRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getGoodsFeedbackComments
     *
     * Path: `/businesses/{businessId}/goods-feedback/comments`
     *
     * Получение комментариев к отзыву
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetGoodsFeedbackCommentsRequest $getGoodsFeedbackCommentsRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetGoodsFeedbackCommentsResponse|null
     */
    public function getGoodsFeedbackComments(int $businessId, \OpenAPIServer\Model\GetGoodsFeedbackCommentsRequest $getGoodsFeedbackCommentsRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetGoodsFeedbackCommentsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getGoodsFeedbackComments (stream)
     *
     * Path: `/businesses/{businessId}/goods-feedback/comments`
     *
     * Получение комментариев к отзыву
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetGoodsFeedbackCommentsRequest $getGoodsFeedbackCommentsRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getGoodsFeedbackCommentsStream(int $businessId, \OpenAPIServer\Model\GetGoodsFeedbackCommentsRequest $getGoodsFeedbackCommentsRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getGoodsFeedbacks
     *
     * Path: `/businesses/{businessId}/goods-feedback`
     *
     * Получение отзывов о товарах продавца
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetGoodsFeedbackRequest $getGoodsFeedbackRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetGoodsFeedbackResponse|null
     */
    public function getGoodsFeedbacks(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetGoodsFeedbackRequest $getGoodsFeedbackRequest): \OpenAPIServer\Model\GetGoodsFeedbackResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getGoodsFeedbacks (stream)
     *
     * Path: `/businesses/{businessId}/goods-feedback`
     *
     * Получение отзывов о товарах продавца
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetGoodsFeedbackRequest $getGoodsFeedbackRequest  (optional)
     *
     */
    public function getGoodsFeedbacksStream(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetGoodsFeedbackRequest $getGoodsFeedbackRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation skipGoodsFeedbacksReaction
     *
     * Path: `/businesses/{businessId}/goods-feedback/skip-reaction`
     *
     * Отказ от ответа на отзывы
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\SkipGoodsFeedbackReactionRequest $skipGoodsFeedbackReactionRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function skipGoodsFeedbacksReaction(int $businessId, \OpenAPIServer\Model\SkipGoodsFeedbackReactionRequest $skipGoodsFeedbackReactionRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation skipGoodsFeedbacksReaction (stream)
     *
     * Path: `/businesses/{businessId}/goods-feedback/skip-reaction`
     *
     * Отказ от ответа на отзывы
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\SkipGoodsFeedbackReactionRequest $skipGoodsFeedbackReactionRequest  (required)
     *
     */
    public function skipGoodsFeedbacksReactionStream(int $businessId, \OpenAPIServer\Model\SkipGoodsFeedbackReactionRequest $skipGoodsFeedbackReactionRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateGoodsFeedbackComment
     *
     * Path: `/businesses/{businessId}/goods-feedback/comments/update`
     *
     * Добавление нового или изменение созданного комментария
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateGoodsFeedbackCommentRequest $updateGoodsFeedbackCommentRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdateGoodsFeedbackCommentResponse|null
     */
    public function updateGoodsFeedbackComment(int $businessId, \OpenAPIServer\Model\UpdateGoodsFeedbackCommentRequest $updateGoodsFeedbackCommentRequest): \OpenAPIServer\Model\UpdateGoodsFeedbackCommentResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateGoodsFeedbackComment (stream)
     *
     * Path: `/businesses/{businessId}/goods-feedback/comments/update`
     *
     * Добавление нового или изменение созданного комментария
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateGoodsFeedbackCommentRequest $updateGoodsFeedbackCommentRequest  (required)
     *
     */
    public function updateGoodsFeedbackCommentStream(int $businessId, \OpenAPIServer\Model\UpdateGoodsFeedbackCommentRequest $updateGoodsFeedbackCommentRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
