<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOrdersStatsApi
{

    /**
     * Operation getOrdersStats
     *
     * Path: `/campaigns/{campaignId}/stats/orders`
     *
     * Детальная информация по заказам
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetOrdersStatsRequest $getOrdersStatsRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetOrdersStatsResponse|null
     */
    public function getOrdersStats(int $campaignId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetOrdersStatsRequest $getOrdersStatsRequest): \OpenAPIServer\Model\GetOrdersStatsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrdersStats (stream)
     *
     * Path: `/campaigns/{campaignId}/stats/orders`
     *
     * Детальная информация по заказам
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetOrdersStatsRequest $getOrdersStatsRequest  (optional)
     *
     */
    public function getOrdersStatsStream(int $campaignId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetOrdersStatsRequest $getOrdersStatsRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
