<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractWarehousesApi
{

    /**
     * Operation getFulfillmentWarehouses
     *
     * Path: `/warehouses`
     *
     * Идентификаторы складов Маркета (FBY)
     *
     *
     * @return \OpenAPIServer\Model\GetFulfillmentWarehousesResponse|null
     */
    public function getFulfillmentWarehouses(): \OpenAPIServer\Model\GetFulfillmentWarehousesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getFulfillmentWarehouses (stream)
     *
     * Path: `/warehouses`
     *
     * Идентификаторы складов Маркета (FBY)
     *
     *
     */
    public function getFulfillmentWarehousesStream(): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getWarehouses
     *
     * Path: `/businesses/{businessId}/warehouses`
     *
     * Список складов и групп складов
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetWarehousesResponse|null
     */
    public function getWarehouses(int $businessId): \OpenAPIServer\Model\GetWarehousesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getWarehouses (stream)
     *
     * Path: `/businesses/{businessId}/warehouses`
     *
     * Список складов и групп складов
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     */
    public function getWarehousesStream(int $businessId): void
    {
        throw new \Exception('Not implemented');
    }
}
