<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBusinessesApi
{

    /**
     * Operation getBusinessSettings
     *
     * Path: `/businesses/{businessId}/settings`
     *
     * Настройки кабинета
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetBusinessSettingsResponse|null
     */
    public function getBusinessSettings(int $businessId): \OpenAPIServer\Model\GetBusinessSettingsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBusinessSettings (stream)
     *
     * Path: `/businesses/{businessId}/settings`
     *
     * Настройки кабинета
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     */
    public function getBusinessSettingsStream(int $businessId): void
    {
        throw new \Exception('Not implemented');
    }
}
