<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractPricesApi
{

    /**
     * Operation getPrices
     *
     * Path: `/campaigns/{campaignId}/offer-prices`
     *
     * Список цен
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?bool $archived Фильтр по нахождению в архиве. (optional, default to false)
     *
     * @return \OpenAPIServer\Model\GetPricesResponse|null
     * @deprecated
     */
    public function getPrices(int $campaignId, ?string $pageToken, ?int $limit, ?bool $archived): \OpenAPIServer\Model\GetPricesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getPrices (stream)
     *
     * Path: `/campaigns/{campaignId}/offer-prices`
     *
     * Список цен
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?bool $archived Фильтр по нахождению в архиве. (optional, default to false)
     *
     * @deprecated
     */
    public function getPricesStream(int $campaignId, ?string $pageToken, ?int $limit, ?bool $archived): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getPricesByOfferIds
     *
     * Path: `/campaigns/{campaignId}/offer-prices`
     *
     * Просмотр цен на указанные товары в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetPricesByOfferIdsRequest $getPricesByOfferIdsRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetPricesByOfferIdsResponse|null
     */
    public function getPricesByOfferIds(int $campaignId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetPricesByOfferIdsRequest $getPricesByOfferIdsRequest): \OpenAPIServer\Model\GetPricesByOfferIdsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getPricesByOfferIds (stream)
     *
     * Path: `/campaigns/{campaignId}/offer-prices`
     *
     * Просмотр цен на указанные товары в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetPricesByOfferIdsRequest $getPricesByOfferIdsRequest  (optional)
     *
     */
    public function getPricesByOfferIdsStream(int $campaignId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetPricesByOfferIdsRequest $getPricesByOfferIdsRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getSuggestedPrices
     *
     * Path: `/campaigns/{campaignId}/offer-prices/suggestions`
     *
     * Цены для продвижения товаров
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\SuggestPricesRequest $suggestPricesRequest  (required)
     *
     * @return \OpenAPIServer\Model\SuggestPricesResponse|null
     * @deprecated
     */
    public function getSuggestedPrices(int $campaignId, \OpenAPIServer\Model\SuggestPricesRequest $suggestPricesRequest): \OpenAPIServer\Model\SuggestPricesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getSuggestedPrices (stream)
     *
     * Path: `/campaigns/{campaignId}/offer-prices/suggestions`
     *
     * Цены для продвижения товаров
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\SuggestPricesRequest $suggestPricesRequest  (required)
     *
     * @deprecated
     */
    public function getSuggestedPricesStream(int $campaignId, \OpenAPIServer\Model\SuggestPricesRequest $suggestPricesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateBusinessPrices
     *
     * Path: `/businesses/{businessId}/offer-prices/updates`
     *
     * Установка цен на товары во всех магазинах
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateBusinessPricesRequest $updateBusinessPricesRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updateBusinessPrices(int $businessId, \OpenAPIServer\Model\UpdateBusinessPricesRequest $updateBusinessPricesRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateBusinessPrices (stream)
     *
     * Path: `/businesses/{businessId}/offer-prices/updates`
     *
     * Установка цен на товары во всех магазинах
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateBusinessPricesRequest $updateBusinessPricesRequest  (required)
     *
     */
    public function updateBusinessPricesStream(int $businessId, \OpenAPIServer\Model\UpdateBusinessPricesRequest $updateBusinessPricesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updatePrices
     *
     * Path: `/campaigns/{campaignId}/offer-prices/updates`
     *
     * Установка цен на товары в конкретном магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdatePricesRequest $updatePricesRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updatePrices(int $campaignId, \OpenAPIServer\Model\UpdatePricesRequest $updatePricesRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updatePrices (stream)
     *
     * Path: `/campaigns/{campaignId}/offer-prices/updates`
     *
     * Установка цен на товары в конкретном магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdatePricesRequest $updatePricesRequest  (required)
     *
     */
    public function updatePricesStream(int $campaignId, \OpenAPIServer\Model\UpdatePricesRequest $updatePricesRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
