<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOffersApi
{

    /**
     * Operation deleteCampaignOffers
     *
     * Path: `/campaigns/{campaignId}/offers/delete`
     *
     * Удаление товаров из ассортимента магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteCampaignOffersRequest $deleteCampaignOffersRequest  (required)
     *
     * @return \OpenAPIServer\Model\DeleteCampaignOffersResponse|null
     */
    public function deleteCampaignOffers(int $campaignId, \OpenAPIServer\Model\DeleteCampaignOffersRequest $deleteCampaignOffersRequest): \OpenAPIServer\Model\DeleteCampaignOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteCampaignOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/offers/delete`
     *
     * Удаление товаров из ассортимента магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteCampaignOffersRequest $deleteCampaignOffersRequest  (required)
     *
     */
    public function deleteCampaignOffersStream(int $campaignId, \OpenAPIServer\Model\DeleteCampaignOffersRequest $deleteCampaignOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getAllOffers
     *
     * Path: `/campaigns/{campaignId}/offers/all`
     *
     * Все предложения магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?int $feedId Идентификатор прайс-листа. (optional)
     * @param ?int $chunk Номер сегмента с результатами.  Значение по умолчанию: &#x60;0&#x60;.  {% note info %}  Номера сегментов запрашиваются последовательно, пока не будет получен сегмент с пустым ответом. Пустой ответ означает, что все предложения магазина получены.  {% endnote %}  {% note alert %}  Нумерация начинается с 0. Чтобы запросить первую страницу, необходимо указать &#x60;chunk&#x3D;0&#x60; и т. д.  {% endnote %} (optional)
     *
     * @return \OpenAPIServer\Model\GetAllOffersResponse|null
     * @deprecated
     */
    public function getAllOffers(int $campaignId, ?int $feedId, ?int $chunk): \OpenAPIServer\Model\GetAllOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getAllOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/offers/all`
     *
     * Все предложения магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?int $feedId Идентификатор прайс-листа. (optional)
     * @param ?int $chunk Номер сегмента с результатами.  Значение по умолчанию: &#x60;0&#x60;.  {% note info %}  Номера сегментов запрашиваются последовательно, пока не будет получен сегмент с пустым ответом. Пустой ответ означает, что все предложения магазина получены.  {% endnote %}  {% note alert %}  Нумерация начинается с 0. Чтобы запросить первую страницу, необходимо указать &#x60;chunk&#x3D;0&#x60; и т. д.  {% endnote %} (optional)
     *
     * @deprecated
     */
    public function getAllOffersStream(int $campaignId, ?int $feedId, ?int $chunk): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignOffers
     *
     * Path: `/campaigns/{campaignId}/offers`
     *
     * Информация о товарах, которые размещены в заданном магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetCampaignOffersRequest $getCampaignOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetCampaignOffersResponse|null
     */
    public function getCampaignOffers(int $campaignId, \OpenAPIServer\Model\GetCampaignOffersRequest $getCampaignOffersRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetCampaignOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/offers`
     *
     * Информация о товарах, которые размещены в заданном магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetCampaignOffersRequest $getCampaignOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getCampaignOffersStream(int $campaignId, \OpenAPIServer\Model\GetCampaignOffersRequest $getCampaignOffersRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOfferRecommendations
     *
     * Path: `/businesses/{businessId}/offers/recommendations`
     *
     * Рекомендации Маркета, касающиеся цен
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetOfferRecommendationsRequest $getOfferRecommendationsRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetOfferRecommendationsResponse|null
     */
    public function getOfferRecommendations(int $businessId, \OpenAPIServer\Model\GetOfferRecommendationsRequest $getOfferRecommendationsRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetOfferRecommendationsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOfferRecommendations (stream)
     *
     * Path: `/businesses/{businessId}/offers/recommendations`
     *
     * Рекомендации Маркета, касающиеся цен
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetOfferRecommendationsRequest $getOfferRecommendationsRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getOfferRecommendationsStream(int $businessId, \OpenAPIServer\Model\GetOfferRecommendationsRequest $getOfferRecommendationsRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOffers
     *
     * Path: `/campaigns/{campaignId}/offers`
     *
     * Предложения магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $query Поисковый запрос.  Поддерживается язык запросов.  Значение по умолчанию: все предложения магазина, размещенные на Маркете. (optional)
     * @param ?int $feedId Идентификатор прайс-листа. (optional)
     * @param ?string $shopCategoryId Идентификатор категории предложения, указанный магазином в прайс-листе.  Параметр выводится только для предложений, у которых указана категория в прайс-листе.  Параметр доступен начиная с версии 2.0 партнерского API. (optional)
     * @param  $currency Валюта, в которой указана цена предложения.  Возможные значения:  * &#x60;BYN&#x60; — белорусский рубль.  * &#x60;KZT&#x60; — казахстанский тенге.  * &#x60;RUR&#x60; — российский рубль.  * &#x60;UAH&#x60; — украинская гривна. (optional)
     * @param ?bool $matched Фильтр по признаку соотнесения предложения и карточки модели.  Возможные значения:  * &#x60;0 / FALSE / NO&#x60; — поиск выполняется среди предложений, не соотнесенных ни с какой карточкой модели.  * &#x60;1 / TRUE / YES&#x60; — поиск выполняется среди предложений, соотнесенных с карточками моделей). (optional)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     * @return \OpenAPIServer\Model\GetOffersResponse|null
     * @deprecated
     */
    public function getOffers(int $campaignId, ?string $query, ?int $feedId, ?string $shopCategoryId,  $currency, ?bool $matched, ?int $page, ?int $pageSize): \OpenAPIServer\Model\GetOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/offers`
     *
     * Предложения магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $query Поисковый запрос.  Поддерживается язык запросов.  Значение по умолчанию: все предложения магазина, размещенные на Маркете. (optional)
     * @param ?int $feedId Идентификатор прайс-листа. (optional)
     * @param ?string $shopCategoryId Идентификатор категории предложения, указанный магазином в прайс-листе.  Параметр выводится только для предложений, у которых указана категория в прайс-листе.  Параметр доступен начиная с версии 2.0 партнерского API. (optional)
     * @param  $currency Валюта, в которой указана цена предложения.  Возможные значения:  * &#x60;BYN&#x60; — белорусский рубль.  * &#x60;KZT&#x60; — казахстанский тенге.  * &#x60;RUR&#x60; — российский рубль.  * &#x60;UAH&#x60; — украинская гривна. (optional)
     * @param ?bool $matched Фильтр по признаку соотнесения предложения и карточки модели.  Возможные значения:  * &#x60;0 / FALSE / NO&#x60; — поиск выполняется среди предложений, не соотнесенных ни с какой карточкой модели.  * &#x60;1 / TRUE / YES&#x60; — поиск выполняется среди предложений, соотнесенных с карточками моделей). (optional)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     * @deprecated
     */
    public function getOffersStream(int $campaignId, ?string $query, ?int $feedId, ?string $shopCategoryId,  $currency, ?bool $matched, ?int $page, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateCampaignOffers
     *
     * Path: `/campaigns/{campaignId}/offers/update`
     *
     * Изменение условий продажи товаров в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateCampaignOffersRequest $updateCampaignOffersRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updateCampaignOffers(int $campaignId, \OpenAPIServer\Model\UpdateCampaignOffersRequest $updateCampaignOffersRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateCampaignOffers (stream)
     *
     * Path: `/campaigns/{campaignId}/offers/update`
     *
     * Изменение условий продажи товаров в магазине
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateCampaignOffersRequest $updateCampaignOffersRequest  (required)
     *
     */
    public function updateCampaignOffersStream(int $campaignId, \OpenAPIServer\Model\UpdateCampaignOffersRequest $updateCampaignOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
