<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOrderDeliveryApi
{

    /**
     * Operation getOrderBuyerInfo
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/buyer`
     *
     * Информация о покупателе — физическом лице
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     * @return \OpenAPIServer\Model\GetOrderBuyerInfoResponse|null
     */
    public function getOrderBuyerInfo(int $campaignId, int $orderId): \OpenAPIServer\Model\GetOrderBuyerInfoResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrderBuyerInfo (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/buyer`
     *
     * Информация о покупателе — физическом лице
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     */
    public function getOrderBuyerInfoStream(int $campaignId, int $orderId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation setOrderDeliveryDate
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/date`
     *
     * Изменение даты доставки заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\SetOrderDeliveryDateRequest $setOrderDeliveryDateRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function setOrderDeliveryDate(int $campaignId, int $orderId, \OpenAPIServer\Model\SetOrderDeliveryDateRequest $setOrderDeliveryDateRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation setOrderDeliveryDate (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/date`
     *
     * Изменение даты доставки заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\SetOrderDeliveryDateRequest $setOrderDeliveryDateRequest  (required)
     *
     */
    public function setOrderDeliveryDateStream(int $campaignId, int $orderId, \OpenAPIServer\Model\SetOrderDeliveryDateRequest $setOrderDeliveryDateRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation setOrderDeliveryTrackCode
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/track`
     *
     * Передача трек‑номера посылки
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\SetOrderDeliveryTrackCodeRequest $setOrderDeliveryTrackCodeRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function setOrderDeliveryTrackCode(int $campaignId, int $orderId, \OpenAPIServer\Model\SetOrderDeliveryTrackCodeRequest $setOrderDeliveryTrackCodeRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation setOrderDeliveryTrackCode (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/track`
     *
     * Передача трек‑номера посылки
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\SetOrderDeliveryTrackCodeRequest $setOrderDeliveryTrackCodeRequest  (required)
     *
     */
    public function setOrderDeliveryTrackCodeStream(int $campaignId, int $orderId, \OpenAPIServer\Model\SetOrderDeliveryTrackCodeRequest $setOrderDeliveryTrackCodeRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOrderStorageLimit
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit`
     *
     * Продление срока хранения заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\UpdateOrderStorageLimitRequest $updateOrderStorageLimitRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updateOrderStorageLimit(int $campaignId, int $orderId, \OpenAPIServer\Model\UpdateOrderStorageLimitRequest $updateOrderStorageLimitRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOrderStorageLimit (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit`
     *
     * Продление срока хранения заказа
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\UpdateOrderStorageLimitRequest $updateOrderStorageLimitRequest  (required)
     *
     */
    public function updateOrderStorageLimitStream(int $campaignId, int $orderId, \OpenAPIServer\Model\UpdateOrderStorageLimitRequest $updateOrderStorageLimitRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation verifyOrderEac
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/verifyEac`
     *
     * Передача кода подтверждения
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\VerifyOrderEacRequest $verifyOrderEacRequest  (required)
     *
     * @return \OpenAPIServer\Model\VerifyOrderEacResponse|null
     */
    public function verifyOrderEac(int $campaignId, int $orderId, \OpenAPIServer\Model\VerifyOrderEacRequest $verifyOrderEacRequest): \OpenAPIServer\Model\VerifyOrderEacResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation verifyOrderEac (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/verifyEac`
     *
     * Передача кода подтверждения
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     * @param \OpenAPIServer\Model\VerifyOrderEacRequest $verifyOrderEacRequest  (required)
     *
     */
    public function verifyOrderEacStream(int $campaignId, int $orderId, \OpenAPIServer\Model\VerifyOrderEacRequest $verifyOrderEacRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
