<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractRatingsApi
{

    /**
     * Operation getQualityRatingDetails
     *
     * Path: `/campaigns/{campaignId}/ratings/quality/details`
     *
     * Заказы, которые повлияли на индекс качества
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     * @return \OpenAPIServer\Model\GetQualityRatingDetailsResponse|null
     */
    public function getQualityRatingDetails(int $campaignId): \OpenAPIServer\Model\GetQualityRatingDetailsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getQualityRatingDetails (stream)
     *
     * Path: `/campaigns/{campaignId}/ratings/quality/details`
     *
     * Заказы, которые повлияли на индекс качества
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     *
     */
    public function getQualityRatingDetailsStream(int $campaignId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getQualityRatings
     *
     * Path: `/businesses/{businessId}/ratings/quality`
     *
     * Индекс качества магазинов
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetQualityRatingRequest $getQualityRatingRequest  (required)
     *
     * @return \OpenAPIServer\Model\GetQualityRatingResponse|null
     */
    public function getQualityRatings(int $businessId, \OpenAPIServer\Model\GetQualityRatingRequest $getQualityRatingRequest): \OpenAPIServer\Model\GetQualityRatingResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getQualityRatings (stream)
     *
     * Path: `/businesses/{businessId}/ratings/quality`
     *
     * Индекс качества магазинов
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetQualityRatingRequest $getQualityRatingRequest  (required)
     *
     */
    public function getQualityRatingsStream(int $businessId, \OpenAPIServer\Model\GetQualityRatingRequest $getQualityRatingRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
