<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBidsApi
{

    /**
     * Operation getBidsInfoForBusiness
     *
     * Path: `/businesses/{businessId}/bids/info`
     *
     * Информация об установленных ставках
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetBidsInfoRequest $getBidsInfoRequest description (optional)
     *
     * @return \OpenAPIServer\Model\GetBidsInfoResponse|null
     */
    public function getBidsInfoForBusiness(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetBidsInfoRequest $getBidsInfoRequest): \OpenAPIServer\Model\GetBidsInfoResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBidsInfoForBusiness (stream)
     *
     * Path: `/businesses/{businessId}/bids/info`
     *
     * Информация об установленных ставках
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetBidsInfoRequest $getBidsInfoRequest description (optional)
     *
     */
    public function getBidsInfoForBusinessStream(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetBidsInfoRequest $getBidsInfoRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getBidsRecommendations
     *
     * Path: `/businesses/{businessId}/bids/recommendations`
     *
     * Рекомендованные ставки для заданных товаров
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetBidsRecommendationsRequest $getBidsRecommendationsRequest description. (required)
     *
     * @return \OpenAPIServer\Model\GetBidsRecommendationsResponse|null
     */
    public function getBidsRecommendations(int $businessId, \OpenAPIServer\Model\GetBidsRecommendationsRequest $getBidsRecommendationsRequest): \OpenAPIServer\Model\GetBidsRecommendationsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBidsRecommendations (stream)
     *
     * Path: `/businesses/{businessId}/bids/recommendations`
     *
     * Рекомендованные ставки для заданных товаров
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetBidsRecommendationsRequest $getBidsRecommendationsRequest description. (required)
     *
     */
    public function getBidsRecommendationsStream(int $businessId, \OpenAPIServer\Model\GetBidsRecommendationsRequest $getBidsRecommendationsRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation putBidsForBusiness
     *
     * Path: `/businesses/{businessId}/bids`
     *
     * Включение буста продаж и установка ставок
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest description (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function putBidsForBusiness(int $businessId, \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation putBidsForBusiness (stream)
     *
     * Path: `/businesses/{businessId}/bids`
     *
     * Включение буста продаж и установка ставок
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest description (required)
     *
     */
    public function putBidsForBusinessStream(int $businessId, \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation putBidsForCampaign
     *
     * Path: `/campaigns/{campaignId}/bids`
     *
     * Включение буста продаж и установка ставок для магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest description (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function putBidsForCampaign(int $campaignId, \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation putBidsForCampaign (stream)
     *
     * Path: `/campaigns/{campaignId}/bids`
     *
     * Включение буста продаж и установка ставок для магазина
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest description (required)
     *
     */
    public function putBidsForCampaignStream(int $campaignId, \OpenAPIServer\Model\PutSkuBidsRequest $putSkuBidsRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
