<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractRegionsApi
{

    /**
     * Operation searchRegionChildren
     *
     * Path: `/regions/{regionId}/children`
     *
     * Информация о дочерних регионах
     *
     * @param int $regionId Идентификатор региона.  Идентификатор региона можно получить c помощью запроса [GET regions](../../reference/regions/searchRegionsByName.md). (required)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     * @return \OpenAPIServer\Model\GetRegionWithChildrenResponse|null
     */
    public function searchRegionChildren(int $regionId, ?int $page, ?int $pageSize): \OpenAPIServer\Model\GetRegionWithChildrenResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation searchRegionChildren (stream)
     *
     * Path: `/regions/{regionId}/children`
     *
     * Информация о дочерних регионах
     *
     * @param int $regionId Идентификатор региона.  Идентификатор региона можно получить c помощью запроса [GET regions](../../reference/regions/searchRegionsByName.md). (required)
     * @param ?int $page Номер страницы результатов.  Значение по умолчанию: 1.  Используется вместе с параметром &#x60;page_size&#x60;.  &#x60;page_number&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional, default to 1)
     * @param ?int $pageSize Размер страницы.  Используется вместе с параметром &#x60;page_number&#x60;.  &#x60;page_size&#x60; игнорируется, если задан &#x60;page_token&#x60;, &#x60;limit&#x60; или &#x60;offset&#x60;. (optional)
     *
     */
    public function searchRegionChildrenStream(int $regionId, ?int $page, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation searchRegionsById
     *
     * Path: `/regions/{regionId}`
     *
     * Информация о регионе
     *
     * @param int $regionId Идентификатор региона.  Идентификатор региона можно получить c помощью запроса [GET regions](../../reference/regions/searchRegionsByName.md). (required)
     *
     * @return \OpenAPIServer\Model\GetRegionsResponse|null
     */
    public function searchRegionsById(int $regionId): \OpenAPIServer\Model\GetRegionsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation searchRegionsById (stream)
     *
     * Path: `/regions/{regionId}`
     *
     * Информация о регионе
     *
     * @param int $regionId Идентификатор региона.  Идентификатор региона можно получить c помощью запроса [GET regions](../../reference/regions/searchRegionsByName.md). (required)
     *
     */
    public function searchRegionsByIdStream(int $regionId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation searchRegionsByName
     *
     * Path: `/regions`
     *
     * Поиск регионов по их имени
     *
     * @param string $name Название региона.  Важно учитывать регистр: первая буква должна быть заглавной, остальные — строчными. Например, &#x60;Москва&#x60;. (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetRegionsResponse|null
     */
    public function searchRegionsByName(string $name, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetRegionsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation searchRegionsByName (stream)
     *
     * Path: `/regions`
     *
     * Поиск регионов по их имени
     *
     * @param string $name Название региона.  Важно учитывать регистр: первая буква должна быть заглавной, остальные — строчными. Например, &#x60;Москва&#x60;. (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function searchRegionsByNameStream(string $name, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
}
