<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOutletLicensesApi
{

    /**
     * Operation deleteOutletLicenses
     *
     * Path: `/campaigns/{campaignId}/outlets/licenses`
     *
     * Удаление лицензий для точек продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $ids Список идентификаторов лицензий. (optional)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function deleteOutletLicenses(int $campaignId, ?array $ids): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteOutletLicenses (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets/licenses`
     *
     * Удаление лицензий для точек продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $ids Список идентификаторов лицензий. (optional)
     *
     */
    public function deleteOutletLicensesStream(int $campaignId, ?array $ids): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOutletLicenses
     *
     * Path: `/campaigns/{campaignId}/outlets/licenses`
     *
     * Информация о лицензиях для точек продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $outletIds Список идентификаторов точек продаж, для которых нужно получить информацию о лицензиях. Идентификаторы указываются через запятую.  В запросе должен быть либо параметр &#x60;outletIds&#x60;, либо параметр &#x60;ids&#x60;. Запрос с обоими параметрами или без них приведет к ошибке. (optional)
     * @param ?array $ids Список идентификаторов лицензий. (optional)
     *
     * @return \OpenAPIServer\Model\GetOutletLicensesResponse|null
     */
    public function getOutletLicenses(int $campaignId, ?array $outletIds, ?array $ids): \OpenAPIServer\Model\GetOutletLicensesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOutletLicenses (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets/licenses`
     *
     * Информация о лицензиях для точек продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?array $outletIds Список идентификаторов точек продаж, для которых нужно получить информацию о лицензиях. Идентификаторы указываются через запятую.  В запросе должен быть либо параметр &#x60;outletIds&#x60;, либо параметр &#x60;ids&#x60;. Запрос с обоими параметрами или без них приведет к ошибке. (optional)
     * @param ?array $ids Список идентификаторов лицензий. (optional)
     *
     */
    public function getOutletLicensesStream(int $campaignId, ?array $outletIds, ?array $ids): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOutletLicenses
     *
     * Path: `/campaigns/{campaignId}/outlets/licenses`
     *
     * Создание и изменение лицензий для точек продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOutletLicenseRequest $updateOutletLicenseRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updateOutletLicenses(int $campaignId, \OpenAPIServer\Model\UpdateOutletLicenseRequest $updateOutletLicenseRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOutletLicenses (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets/licenses`
     *
     * Создание и изменение лицензий для точек продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOutletLicenseRequest $updateOutletLicenseRequest  (required)
     *
     */
    public function updateOutletLicensesStream(int $campaignId, \OpenAPIServer\Model\UpdateOutletLicenseRequest $updateOutletLicenseRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
