<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractStocksApi
{

    /**
     * Operation getStocks
     *
     * Path: `/campaigns/{campaignId}/offers/stocks`
     *
     * Информация об остатках и оборачиваемости
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetWarehouseStocksRequest $getWarehouseStocksRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetWarehouseStocksResponse|null
     */
    public function getStocks(int $campaignId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetWarehouseStocksRequest $getWarehouseStocksRequest): \OpenAPIServer\Model\GetWarehouseStocksResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getStocks (stream)
     *
     * Path: `/campaigns/{campaignId}/offers/stocks`
     *
     * Информация об остатках и оборачиваемости
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetWarehouseStocksRequest $getWarehouseStocksRequest  (optional)
     *
     */
    public function getStocksStream(int $campaignId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetWarehouseStocksRequest $getWarehouseStocksRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateStocks
     *
     * Path: `/campaigns/{campaignId}/offers/stocks`
     *
     * Передача информации об остатках
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateStocksRequest $updateStocksRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updateStocks(int $campaignId, \OpenAPIServer\Model\UpdateStocksRequest $updateStocksRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateStocks (stream)
     *
     * Path: `/campaigns/{campaignId}/offers/stocks`
     *
     * Передача информации об остатках
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateStocksRequest $updateStocksRequest  (required)
     *
     */
    public function updateStocksStream(int $campaignId, \OpenAPIServer\Model\UpdateStocksRequest $updateStocksRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
