<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBusinessOfferMappingsApi
{

    /**
     * Operation addOffersToArchive
     *
     * Path: `/businesses/{businessId}/offer-mappings/archive`
     *
     * Добавление товаров в архив
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\AddOffersToArchiveRequest $addOffersToArchiveRequest  (required)
     *
     * @return \OpenAPIServer\Model\AddOffersToArchiveResponse|null
     */
    public function addOffersToArchive(int $businessId, \OpenAPIServer\Model\AddOffersToArchiveRequest $addOffersToArchiveRequest): \OpenAPIServer\Model\AddOffersToArchiveResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation addOffersToArchive (stream)
     *
     * Path: `/businesses/{businessId}/offer-mappings/archive`
     *
     * Добавление товаров в архив
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\AddOffersToArchiveRequest $addOffersToArchiveRequest  (required)
     *
     */
    public function addOffersToArchiveStream(int $businessId, \OpenAPIServer\Model\AddOffersToArchiveRequest $addOffersToArchiveRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deleteOffers
     *
     * Path: `/businesses/{businessId}/offer-mappings/delete`
     *
     * Удаление товаров из каталога
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteOffersRequest $deleteOffersRequest  (required)
     *
     * @return \OpenAPIServer\Model\DeleteOffersResponse|null
     */
    public function deleteOffers(int $businessId, \OpenAPIServer\Model\DeleteOffersRequest $deleteOffersRequest): \OpenAPIServer\Model\DeleteOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteOffers (stream)
     *
     * Path: `/businesses/{businessId}/offer-mappings/delete`
     *
     * Удаление товаров из каталога
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteOffersRequest $deleteOffersRequest  (required)
     *
     */
    public function deleteOffersStream(int $businessId, \OpenAPIServer\Model\DeleteOffersRequest $deleteOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deleteOffersFromArchive
     *
     * Path: `/businesses/{businessId}/offer-mappings/unarchive`
     *
     * Удаление товаров из архива
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteOffersFromArchiveRequest $deleteOffersFromArchiveRequest  (required)
     *
     * @return \OpenAPIServer\Model\DeleteOffersFromArchiveResponse|null
     */
    public function deleteOffersFromArchive(int $businessId, \OpenAPIServer\Model\DeleteOffersFromArchiveRequest $deleteOffersFromArchiveRequest): \OpenAPIServer\Model\DeleteOffersFromArchiveResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteOffersFromArchive (stream)
     *
     * Path: `/businesses/{businessId}/offer-mappings/unarchive`
     *
     * Удаление товаров из архива
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeleteOffersFromArchiveRequest $deleteOffersFromArchiveRequest  (required)
     *
     */
    public function deleteOffersFromArchiveStream(int $businessId, \OpenAPIServer\Model\DeleteOffersFromArchiveRequest $deleteOffersFromArchiveRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOfferMappings
     *
     * Path: `/businesses/{businessId}/offer-mappings`
     *
     * Информация о товарах в каталоге
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetOfferMappingsRequest $getOfferMappingsRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetOfferMappingsResponse|null
     */
    public function getOfferMappings(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetOfferMappingsRequest $getOfferMappingsRequest): \OpenAPIServer\Model\GetOfferMappingsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOfferMappings (stream)
     *
     * Path: `/businesses/{businessId}/offer-mappings`
     *
     * Информация о товарах в каталоге
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetOfferMappingsRequest $getOfferMappingsRequest  (optional)
     *
     */
    public function getOfferMappingsStream(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetOfferMappingsRequest $getOfferMappingsRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getSuggestedOfferMappings
     *
     * Path: `/businesses/{businessId}/offer-mappings/suggestions`
     *
     * Просмотр карточек на Маркете, которые подходят вашим товарам
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?\OpenAPIServer\Model\GetSuggestedOfferMappingsRequest $getSuggestedOfferMappingsRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetSuggestedOfferMappingsResponse|null
     */
    public function getSuggestedOfferMappings(int $businessId, ?\OpenAPIServer\Model\GetSuggestedOfferMappingsRequest $getSuggestedOfferMappingsRequest): \OpenAPIServer\Model\GetSuggestedOfferMappingsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getSuggestedOfferMappings (stream)
     *
     * Path: `/businesses/{businessId}/offer-mappings/suggestions`
     *
     * Просмотр карточек на Маркете, которые подходят вашим товарам
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?\OpenAPIServer\Model\GetSuggestedOfferMappingsRequest $getSuggestedOfferMappingsRequest  (optional)
     *
     */
    public function getSuggestedOfferMappingsStream(int $businessId, ?\OpenAPIServer\Model\GetSuggestedOfferMappingsRequest $getSuggestedOfferMappingsRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOfferMappings
     *
     * Path: `/businesses/{businessId}/offer-mappings/update`
     *
     * Добавление товаров в каталог и изменение информации о них
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOfferMappingsRequest $updateOfferMappingsRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdateOfferMappingsResponse|null
     */
    public function updateOfferMappings(int $businessId, \OpenAPIServer\Model\UpdateOfferMappingsRequest $updateOfferMappingsRequest): \OpenAPIServer\Model\UpdateOfferMappingsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOfferMappings (stream)
     *
     * Path: `/businesses/{businessId}/offer-mappings/update`
     *
     * Добавление товаров в каталог и изменение информации о них
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOfferMappingsRequest $updateOfferMappingsRequest  (required)
     *
     */
    public function updateOfferMappingsStream(int $businessId, \OpenAPIServer\Model\UpdateOfferMappingsRequest $updateOfferMappingsRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
