<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractPromosApi
{

    /**
     * Operation deletePromoOffers
     *
     * Path: `/businesses/{businessId}/promos/offers/delete`
     *
     * Удаление товаров из акции
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeletePromoOffersRequest $deletePromoOffersRequest  (required)
     *
     * @return \OpenAPIServer\Model\DeletePromoOffersResponse|null
     */
    public function deletePromoOffers(int $businessId, \OpenAPIServer\Model\DeletePromoOffersRequest $deletePromoOffersRequest): \OpenAPIServer\Model\DeletePromoOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deletePromoOffers (stream)
     *
     * Path: `/businesses/{businessId}/promos/offers/delete`
     *
     * Удаление товаров из акции
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\DeletePromoOffersRequest $deletePromoOffersRequest  (required)
     *
     */
    public function deletePromoOffersStream(int $businessId, \OpenAPIServer\Model\DeletePromoOffersRequest $deletePromoOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getPromoOffers
     *
     * Path: `/businesses/{businessId}/promos/offers`
     *
     * Получение списка товаров, которые участвуют или могут участвовать в акции
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetPromoOffersRequest $getPromoOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetPromoOffersResponse|null
     */
    public function getPromoOffers(int $businessId, \OpenAPIServer\Model\GetPromoOffersRequest $getPromoOffersRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetPromoOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getPromoOffers (stream)
     *
     * Path: `/businesses/{businessId}/promos/offers`
     *
     * Получение списка товаров, которые участвуют или могут участвовать в акции
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetPromoOffersRequest $getPromoOffersRequest  (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getPromoOffersStream(int $businessId, \OpenAPIServer\Model\GetPromoOffersRequest $getPromoOffersRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getPromos
     *
     * Path: `/businesses/{businessId}/promos`
     *
     * Получение списка акций
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?\OpenAPIServer\Model\GetPromosRequest $getPromosRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetPromosResponse|null
     */
    public function getPromos(int $businessId, ?\OpenAPIServer\Model\GetPromosRequest $getPromosRequest): \OpenAPIServer\Model\GetPromosResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getPromos (stream)
     *
     * Path: `/businesses/{businessId}/promos`
     *
     * Получение списка акций
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?\OpenAPIServer\Model\GetPromosRequest $getPromosRequest  (optional)
     *
     */
    public function getPromosStream(int $businessId, ?\OpenAPIServer\Model\GetPromosRequest $getPromosRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updatePromoOffers
     *
     * Path: `/businesses/{businessId}/promos/offers/update`
     *
     * Добавление товаров в акцию или изменение их цен
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdatePromoOffersRequest $updatePromoOffersRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdatePromoOffersResponse|null
     */
    public function updatePromoOffers(int $businessId, \OpenAPIServer\Model\UpdatePromoOffersRequest $updatePromoOffersRequest): \OpenAPIServer\Model\UpdatePromoOffersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updatePromoOffers (stream)
     *
     * Path: `/businesses/{businessId}/promos/offers/update`
     *
     * Добавление товаров в акцию или изменение их цен
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdatePromoOffersRequest $updatePromoOffersRequest  (required)
     *
     */
    public function updatePromoOffersStream(int $businessId, \OpenAPIServer\Model\UpdatePromoOffersRequest $updatePromoOffersRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
