<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOrderBusinessInformationApi
{

    /**
     * Operation getOrderBusinessBuyerInfo
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/business-buyer`
     *
     * Информация о покупателе — юридическом лице
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     * @return \OpenAPIServer\Model\GetBusinessBuyerInfoResponse|null
     */
    public function getOrderBusinessBuyerInfo(int $campaignId, int $orderId): \OpenAPIServer\Model\GetBusinessBuyerInfoResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrderBusinessBuyerInfo (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/business-buyer`
     *
     * Информация о покупателе — юридическом лице
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     */
    public function getOrderBusinessBuyerInfoStream(int $campaignId, int $orderId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOrderBusinessDocumentsInfo
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/documents`
     *
     * Информация о документах
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     * @return \OpenAPIServer\Model\GetBusinessDocumentsInfoResponse|null
     */
    public function getOrderBusinessDocumentsInfo(int $campaignId, int $orderId): \OpenAPIServer\Model\GetBusinessDocumentsInfoResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOrderBusinessDocumentsInfo (stream)
     *
     * Path: `/campaigns/{campaignId}/orders/{orderId}/documents`
     *
     * Информация о документах
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $orderId Идентификатор заказа. (required)
     *
     */
    public function getOrderBusinessDocumentsInfoStream(int $campaignId, int $orderId): void
    {
        throw new \Exception('Not implemented');
    }
}
