<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractChatsApi
{

    /**
     * Operation createChat
     *
     * Path: `/businesses/{businessId}/chats/new`
     *
     * Создание нового чата с покупателем
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\CreateChatRequest $createChatRequest description (required)
     *
     * @return \OpenAPIServer\Model\CreateChatResponse|null
     */
    public function createChat(int $businessId, \OpenAPIServer\Model\CreateChatRequest $createChatRequest): \OpenAPIServer\Model\CreateChatResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation createChat (stream)
     *
     * Path: `/businesses/{businessId}/chats/new`
     *
     * Создание нового чата с покупателем
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\CreateChatRequest $createChatRequest description (required)
     *
     */
    public function createChatStream(int $businessId, \OpenAPIServer\Model\CreateChatRequest $createChatRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getChatHistory
     *
     * Path: `/businesses/{businessId}/chats/history`
     *
     * Получение истории сообщений в чате
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $chatId Идентификатор чата. (required)
     * @param \OpenAPIServer\Model\GetChatHistoryRequest $getChatHistoryRequest description (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetChatHistoryResponse|null
     */
    public function getChatHistory(int $businessId, int $chatId, \OpenAPIServer\Model\GetChatHistoryRequest $getChatHistoryRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetChatHistoryResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getChatHistory (stream)
     *
     * Path: `/businesses/{businessId}/chats/history`
     *
     * Получение истории сообщений в чате
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $chatId Идентификатор чата. (required)
     * @param \OpenAPIServer\Model\GetChatHistoryRequest $getChatHistoryRequest description (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getChatHistoryStream(int $businessId, int $chatId, \OpenAPIServer\Model\GetChatHistoryRequest $getChatHistoryRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getChats
     *
     * Path: `/businesses/{businessId}/chats`
     *
     * Получение доступных чатов
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetChatsRequest $getChatsRequest description (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     * @return \OpenAPIServer\Model\GetChatsResponse|null
     */
    public function getChats(int $businessId, \OpenAPIServer\Model\GetChatsRequest $getChatsRequest, ?string $pageToken, ?int $limit): \OpenAPIServer\Model\GetChatsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getChats (stream)
     *
     * Path: `/businesses/{businessId}/chats`
     *
     * Получение доступных чатов
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\GetChatsRequest $getChatsRequest description (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     *
     */
    public function getChatsStream(int $businessId, \OpenAPIServer\Model\GetChatsRequest $getChatsRequest, ?string $pageToken, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation sendFileToChat
     *
     * Path: `/businesses/{businessId}/chats/file/send`
     *
     * Отправка файла в чат
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $chatId Идентификатор чата. (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function sendFileToChat(int $businessId, int $chatId): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation sendFileToChat (stream)
     *
     * Path: `/businesses/{businessId}/chats/file/send`
     *
     * Отправка файла в чат
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $chatId Идентификатор чата. (required)
     *
     */
    public function sendFileToChatStream(int $businessId, int $chatId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation sendMessageToChat
     *
     * Path: `/businesses/{businessId}/chats/message`
     *
     * Отправка сообщения в чат
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $chatId Идентификатор чата. (required)
     * @param \OpenAPIServer\Model\SendMessageToChatRequest $sendMessageToChatRequest description (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function sendMessageToChat(int $businessId, int $chatId, \OpenAPIServer\Model\SendMessageToChatRequest $sendMessageToChatRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation sendMessageToChat (stream)
     *
     * Path: `/businesses/{businessId}/chats/message`
     *
     * Отправка сообщения в чат
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $chatId Идентификатор чата. (required)
     * @param \OpenAPIServer\Model\SendMessageToChatRequest $sendMessageToChatRequest description (required)
     *
     */
    public function sendMessageToChatStream(int $businessId, int $chatId, \OpenAPIServer\Model\SendMessageToChatRequest $sendMessageToChatRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
