<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractContentApi
{

    /**
     * Operation getCategoryContentParameters
     *
     * Path: `/category/{categoryId}/parameters`
     *
     * Списки характеристик товаров по категориям
     *
     * @param int $categoryId Идентификатор категории на Маркете.  Чтобы узнать идентификатор категории, к которой относится интересующий вас товар, воспользуйтесь запросом [POST categories/tree](../../reference/categories/getCategoriesTree.md). (required)
     *
     * @return \OpenAPIServer\Model\GetCategoryContentParametersResponse|null
     */
    public function getCategoryContentParameters(int $categoryId): \OpenAPIServer\Model\GetCategoryContentParametersResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCategoryContentParameters (stream)
     *
     * Path: `/category/{categoryId}/parameters`
     *
     * Списки характеристик товаров по категориям
     *
     * @param int $categoryId Идентификатор категории на Маркете.  Чтобы узнать идентификатор категории, к которой относится интересующий вас товар, воспользуйтесь запросом [POST categories/tree](../../reference/categories/getCategoriesTree.md). (required)
     *
     */
    public function getCategoryContentParametersStream(int $categoryId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOfferCardsContentStatus
     *
     * Path: `/businesses/{businessId}/offer-cards`
     *
     * Получение информации о заполненности карточек магазина
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetOfferCardsContentStatusRequest $getOfferCardsContentStatusRequest  (optional)
     *
     * @return \OpenAPIServer\Model\GetOfferCardsContentStatusResponse|null
     */
    public function getOfferCardsContentStatus(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetOfferCardsContentStatusRequest $getOfferCardsContentStatusRequest): \OpenAPIServer\Model\GetOfferCardsContentStatusResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOfferCardsContentStatus (stream)
     *
     * Path: `/businesses/{businessId}/offer-cards`
     *
     * Получение информации о заполненности карточек магазина
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $limit Количество значений на одной странице. (optional)
     * @param ?\OpenAPIServer\Model\GetOfferCardsContentStatusRequest $getOfferCardsContentStatusRequest  (optional)
     *
     */
    public function getOfferCardsContentStatusStream(int $businessId, ?string $pageToken, ?int $limit, ?\OpenAPIServer\Model\GetOfferCardsContentStatusRequest $getOfferCardsContentStatusRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOfferContent
     *
     * Path: `/businesses/{businessId}/offer-cards/update`
     *
     * Редактирование категорийных характеристик товара
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOfferContentRequest $updateOfferContentRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdateOfferContentResponse|null
     */
    public function updateOfferContent(int $businessId, \OpenAPIServer\Model\UpdateOfferContentRequest $updateOfferContentRequest): \OpenAPIServer\Model\UpdateOfferContentResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOfferContent (stream)
     *
     * Path: `/businesses/{businessId}/offer-cards/update`
     *
     * Редактирование категорийных характеристик товара
     *
     * @param int $businessId Идентификатор кабинета. Чтобы узнать идентификатор, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md#businessdto).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\UpdateOfferContentRequest $updateOfferContentRequest  (required)
     *
     */
    public function updateOfferContentStream(int $businessId, \OpenAPIServer\Model\UpdateOfferContentRequest $updateOfferContentRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
