<?php

/**
 * Партнерский API Маркета
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.  В числе возможностей интеграции:  * управление каталогом товаров и витриной,  * обработка заказов,  * изменение настроек магазина,  * получение отчетов.
 * The version of the OpenAPI document: LATEST
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOutletsApi
{

    /**
     * Operation createOutlet
     *
     * Path: `/campaigns/{campaignId}/outlets`
     *
     * Создание точки продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest  (required)
     *
     * @return \OpenAPIServer\Model\CreateOutletResponse|null
     */
    public function createOutlet(int $campaignId, \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest): \OpenAPIServer\Model\CreateOutletResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation createOutlet (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets`
     *
     * Создание точки продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest  (required)
     *
     */
    public function createOutletStream(int $campaignId, \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deleteOutlet
     *
     * Path: `/campaigns/{campaignId}/outlets/{outletId}`
     *
     * Удаление точки продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $outletId Идентификатор точки продаж. (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function deleteOutlet(int $campaignId, int $outletId): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteOutlet (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets/{outletId}`
     *
     * Удаление точки продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $outletId Идентификатор точки продаж. (required)
     *
     */
    public function deleteOutletStream(int $campaignId, int $outletId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOutlet
     *
     * Path: `/campaigns/{campaignId}/outlets/{outletId}`
     *
     * Информация об одной точке продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $outletId Идентификатор точки продаж. (required)
     *
     * @return \OpenAPIServer\Model\GetOutletResponse|null
     */
    public function getOutlet(int $campaignId, int $outletId): \OpenAPIServer\Model\GetOutletResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOutlet (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets/{outletId}`
     *
     * Информация об одной точке продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $outletId Идентификатор точки продаж. (required)
     *
     */
    public function getOutletStream(int $campaignId, int $outletId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getOutlets
     *
     * Path: `/campaigns/{campaignId}/outlets`
     *
     * Информация о нескольких точках продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $regionId Идентификатор региона. Если задать идентификатор родительского региона любого уровня, в выходных данных будут отображены точки продаж всех дочерних регионов. Идентификатор региона можно получить c помощью метода [GET regions](../../reference/regions/searchRegionsByName.md). (optional)
     * @param ?string $shopOutletCode Идентификатор точки продаж, присвоенный магазином. (optional)
     * @param ?int $regionId2 {% note warning \&quot;\&quot; %}  Этот параметр устарел. Для указания региона используйте &#x60;region_id&#x60;.  {% endnote %} (optional) (deprecated)
     *
     * @return \OpenAPIServer\Model\GetOutletsResponse|null
     */
    public function getOutlets(int $campaignId, ?string $pageToken, ?int $regionId, ?string $shopOutletCode, ?int $regionId2): \OpenAPIServer\Model\GetOutletsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getOutlets (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets`
     *
     * Информация о нескольких точках продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param ?string $pageToken Идентификатор страницы c результатами.  Если параметр не указан, возвращается первая страница.  Рекомендуется передавать значение выходного параметра &#x60;nextPageToken&#x60;, полученное при последнем запросе.  Если задан &#x60;page_token&#x60; и в запросе есть параметры &#x60;offset&#x60;, &#x60;page_number&#x60; и &#x60;page_size&#x60;, они игнорируются. (optional)
     * @param ?int $regionId Идентификатор региона. Если задать идентификатор родительского региона любого уровня, в выходных данных будут отображены точки продаж всех дочерних регионов. Идентификатор региона можно получить c помощью метода [GET regions](../../reference/regions/searchRegionsByName.md). (optional)
     * @param ?string $shopOutletCode Идентификатор точки продаж, присвоенный магазином. (optional)
     * @param ?int $regionId2 {% note warning \&quot;\&quot; %}  Этот параметр устарел. Для указания региона используйте &#x60;region_id&#x60;.  {% endnote %} (optional) (deprecated)
     *
     */
    public function getOutletsStream(int $campaignId, ?string $pageToken, ?int $regionId, ?string $shopOutletCode, ?int $regionId2): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateOutlet
     *
     * Path: `/campaigns/{campaignId}/outlets/{outletId}`
     *
     * Изменение информации о точке продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $outletId Идентификатор точки продаж. (required)
     * @param \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest  (required)
     *
     * @return \OpenAPIServer\Model\EmptyApiResponse|null
     */
    public function updateOutlet(int $campaignId, int $outletId, \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest): \OpenAPIServer\Model\EmptyApiResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateOutlet (stream)
     *
     * Path: `/campaigns/{campaignId}/outlets/{outletId}`
     *
     * Изменение информации о точке продаж
     *
     * @param int $campaignId Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.  Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).  ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html) (required)
     * @param int $outletId Идентификатор точки продаж. (required)
     * @param \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest  (required)
     *
     */
    public function updateOutletStream(int $campaignId, int $outletId, \OpenAPIServer\Model\ChangeOutletRequest $changeOutletRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
